<h1>Syntax</h1>

<font size="+1.3">üî∂ &nbsp;**Whitespace &nbsp;&&nbsp; Indentation**</font>

In [1]:
def main():
  i = 1
  max = 10
  while (i < max):
    print(i)
    i = i + 1


main()

1
2
3
4
5
6
7
8
9

<font size="+1.3">üî∂ &nbsp;**Comments**</font>

In [ ]:
# This is a single line comment in Python

In [ ]:
"""
This is a multi line
comment in Python
"""

'\nThis is a multi line \ncomment in Python\n'

<font size="+1.3">üî∂ &nbsp;**Continuation &nbsp;of&nbsp; Statements**</font>

In [ ]:
a = 1
b = 2
c = 3

if (a == 1) and (b == 2) and \
  (c == 3):
  print("Continuation of statements")

Continuation of statements

<font size="+1.3">üî∂ &nbsp;**Keywords**</font>

In [ ]:
import keyword

print(keyword.kwlist)

['False', 'None', 'True', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']

<font size="+1.3">üî∂ &nbsp;**String &nbsp;Literals**</font>

In [ ]:
s = 'This is a string'
print(s)
s = "Another string using double quotes"
print(s)
s = '''string can span
       multiple lines'''
print(s)

This is a string
Another string using double quotes
string can span
       multiple lines

<br><br>

<h1>Python Variables</h1>

In [ ]:
proffession = "data engineer"
print(proffession)

data engineer

In [ ]:
proffession = "data engineer"
print(f"I am a {proffession}")

I am a data engineer

In [ ]:
_a = 5
print(_a)

5

<br><br>

<h1>Python String</h1>

In [ ]:
message = "This is a string in Python"
message = "This is also a string"
print(message)

This is also a string

In [ ]:
message = "It's a string"
print(message)

It's a string

In [ ]:
message = 'People say "Python is easy"'
print(message)

People say "Python is easy"

In [ ]:
message = 'It\'s also a valid string'
print(message)

It's also a valid string

In [ ]:
help_message = '''
Usage: mysql command
  -h hostname
  -d database name
  -u username
  -p password
'''

print(help_message)

Usage: mysql command
  -h hostname
  -d database name
  -u username
  -p password

In [ ]:
name = 'John'
message = f'Hi {name}'
print(message)

Hi John

In [ ]:
greeting = 'Good ' 'Morning!'               # automatic concatenation if strings kept next to each other
print(greeting)

Good Morning!

In [ ]:
greeting = 'Good '
time = 'Afternoon'

greeting = greeting + time + '!'
print(greeting)

Good Afternoon!

In [ ]:
str = "Python String"
print(str[0])
print(str[1])

P
y

In [ ]:
str = "Python String"
print(str[-1])
print(str[-2])

g
n

In [ ]:
str = "Python String"
str_len = len(str)
print(str_len)

13

In [ ]:
str = "Python String"
print(str[0:2])

Py

In [ ]:
str = "Python String"
print(str[0:11:2])

Pto ti

In [ ]:
str = "Python String"
print(str[::-1])

gnirtS nohtyP

In [ ]:
str = "Python String"
str[0] = 'J'

TypeError: 'str' object does not support item assignment

In [ ]:
str = "Python String"
new_str = 'J' + str[1:]
print(new_str)

Jython String

In [ ]:
name = 'Avinash'
message = f'Hello, {name}!'
print(message)

Hello, Avinash!

<br><br>

<h1>Python Numbers</h1>

<font size="+1.3">üî∂ &nbsp;**Integers**</font>

In [ ]:
x = 20
y = 10

total = x + y
print(total)

difference = x - y
print(difference)

product = x * y
print(product)

quotient = x / y
print(quotient)

30
10
200
2.0

In [ ]:
x = 3
y = 3

power = x ** y
print(power)

27

In [ ]:
result = 20 / (10 + 10)             # To modify the order of parantheses
print(result)

1.0

<font size="+1.3">üî∂ &nbsp;**Floats**</font>

In [ ]:
x = 0.5
y = 0.25

total = x + y
print(total)

difference = x - y
print(difference)

product = x / y
print(product)

quotient = x / y
print(quotient)

0.75
0.25
2.0
2.0

In [ ]:
# division of two integers always returns a float

x = 20
y = 10
quotient = x / y
print(quotient)



# Mixing an integer and a float in any arithmetic operation results into a float

x = 1
y = 2.0
total = x + y
print(total)

2.0
3.0

In [ ]:
# Due to the internal representation of flots, Python will try to represent the result as precisely as possible resulting into unexpected output

x = 0.1
y = 0.2
total = x + y
print(total)

0.30000000000000004

<font size="+1.3">üî∂ &nbsp;**Underscores &nbsp;in&nbsp; numbers**</font>

In [ ]:
count = 10000000000
print(count)

count = 10_000_000_000
print(count)

10000000000
10000000000

<br><br>

<h1>Python Boolean</h1>

In [ ]:
is_active = True
is_admin = False

In [ ]:
# Comparing two numbers

x = 20
y = 10

result = x > y
print(result)

result = x < y
print(result)

True
False

In [ ]:
# Comparing two strings

x = 'a'
y = 'b'

result = x > y
print(result)

result = x < y
print(result)

False
True

<font size="+1.3">üî∂ &nbsp;**<font size="5px">`bool()`</font>&nbsp; <font size="+1">func</font>**</font>

In [ ]:
# To find if a value is True or False, you use the bool() function

result = bool('Hi')
print(result)

result = bool(100)
print(result)

result = bool(0)
print(result)

True
True
False

<font size="+1.3">üî∂ &nbsp;**Falsy &nbsp;and &nbsp;Truthy &nbsp;values**</font>

<br>


Falsy values in Python &nbsp;:
- &nbsp;`0`
- &nbsp;`''`
- &nbsp;`False`
- &nbsp;`None`
- &nbsp;An empty list &nbsp;`[]`
- &nbsp;An empty tuple &nbsp;`()`
- &nbsp;An empty dictionary &nbsp;`{}`

<br><br>

<h1>Python Constants</h1>

- Python doesn't support constants. <br>

- <ins>constants_by_convention</ins> &nbsp;not &nbsp;by &nbsp;rule

In [ ]:
FILE_SIZE_LIMIT = 2000
print(FILE_SIZE_LIMIT)

2000

<br><br>

<h1>Python Comments</h1>

<font size="+1.3">üî∂ &nbsp;**Python &nbsp;block&nbsp; comments**</font>

In [ ]:
# increase price by 5%

price = 100
price = price * 1.05
print(price)

105.0

<font size="+1.3">üî∂ &nbsp;**Python &nbsp;inline&nbsp; comments**</font>

In [ ]:
salary = 12000
salary = salary * 1.02           # increase salary by 2%

print(salary)

12240.0

<font size="+1.3">üî∂ &nbsp;**Python &nbsp;docstrings**</font>

In [ ]:
# One-line docstring


def add():
  """ addition """
  return a + b


add.__doc__

' addition '

In [2]:
# Multi-line docstrings


def increase(salary, percentage, rating):
  """ increase salary base on rating and percentage
  rating 1 - 2  =====>  no increase
  rating 3 - 4  =====>  increase 5%
  rating 5      =====>  increase 10%
  """


increase.__doc__

' increase salary base on rating and percentage\n  rating 1 - 2  =====>  no increase\n  rating 3 - 4  =====>  increase 5%\n  rating 5      =====>  increase 10%\n  '

<font size="+2">‚ö†Ô∏è</font> &nbsp;**<font size="+1"><ins>Note</ins></font>** &nbsp;-&nbsp; Python does not support multiline comments.

<br><br>

<h1>Python Type Conversion</h1>

```
int(str)
float(str)
bool(val)
str(val)
```

In [ ]:
value = input("Enter a value")          # returns a string
print(value)

Enter a value100
100

In [ ]:
price = input('Enter the price (inr):')
tax = input('Enter the tax rate (%):')

tax_amount = price * tax / 100

print(f'The tax amount price is inr {tax_amount}')

Enter the price (inr):100
Enter the tax rate (%):10

TypeError: can't multiply sequence by non-int of type 'str'

In [ ]:
price = input('Enter the price (inr):')
tax = input('Enter the tax rate (%):')

tax_amount = int(price) * int(tax) / 100

print(f'The tax amount price is inr {tax_amount}')

Enter the price (inr):100
Enter the tax rate (%):10
The tax amount price is inr 10.0

In [ ]:
float("1.05")

1.05

In [ ]:
float("one point zero five")

ValueError: could not convert string to float: 'one point zero five'

In [ ]:
bool(1.05)

True

In [ ]:
del str
str(1.05)

'1.05'

In [ ]:
str = 'I am '
age = 25

print(str + str(age))

TypeError: 'str' object is not callable

In [ ]:
text = 'I am '
age = 25

print(text + str(age))

TypeError: 'str' object is not callable

In [ ]:
del str
text = 'I am '
age = 25

print(text + str(age))

I am 25

In [ ]:
type(100)

int

In [ ]:
type(2.0)

float

In [ ]:
type('Hello')

str

In [ ]:
type(True)

bool

<br><br>

<h1>Operators</h1>

<font size="+1.3">üî∂</font> &nbsp;<ins>**<font size="+1">Arithmetic &nbsp;Operators</font>**</ins>

In [3]:
a = 10
b = 3
result = a + b


print(result)

13

In [4]:
a = 10
b = 3
result = a - b


print(result)

7

In [5]:
a = 10
b = 3
result = a * b


print(result)

30

In [6]:
a = 10
b = 3
result = a / b


print(result)

3.3333333333333335

In [7]:
a = 10
b = 3
result = a // b


print(result)

3

In [8]:
a = 10
b = 3
result = a % b


print(result)

1

In [ ]:
a = 101

if a % 2 == 1:
  print(f'{a} is odd')
else:
  print(f'{a} is even')

101 is odd

In [ ]:
year = 2024

if (year % 4 == 0 and year % 100 != 0) or (year % 400 == 0):
  print(f"{year} is a leap year.")
else:
  print(f"{year} is not a leap year")

2024 is a leap year.

In [9]:
a = 10
b = 3
result = a ** b


print(result)

1000

In [10]:
principal = 1000
interest_rate = 0.05
year = 2
amount = principal * (1 + interest_rate) ** year


print(f"Total Amount: ${amount:,.2f}")

Total Amount: $1,102.50

<font size="+1.3">üî∂</font> &nbsp;<ins><font size="+1">**Assignment &nbsp;Operators**</font></ins>

In [ ]:
count = 0
print(count)

0

In [ ]:
count = 0
count = count + 1

print(count)

1

In [ ]:
count = 0
count += 1                 # count = count + 1

print(count)

1

In [ ]:
quantity = 5
quantity -= 2              # quantity = quantity - 2

print(quantity)

3

In [ ]:
a = 10
a *= 2                     # a = a * 2

print(a)

20

In [ ]:
amount = 25
amount /= 2                # amount = amount / 2

print(amount)

12.5

In [ ]:
amount = 10
amount %= 3                # amount = amount % 3

print(amount)

1

In [ ]:
a = 2
a **= 3                    # a = a ** 3

print(a)

8

<font size="+1.3">üî∂</font> &nbsp;<ins><font size="+1">**Comparison &nbsp;Operators**</font></ins>

&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<font size="+1.2">‚ñ™Ô∏è</font>&nbsp; `<`  <br>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<font size="+1.2">‚ñ™Ô∏è</font>&nbsp; `<=` <br>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<font size="+1.2">‚ñ™Ô∏è</font>&nbsp; `>`  <br>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<font size="+1.2">‚ñ™Ô∏è</font>&nbsp; `>=` <br>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<font size="+1.2">‚ñ™Ô∏è</font>&nbsp; `==` <br>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<font size="+1.2">‚ñ™Ô∏è</font>&nbsp; `!=`

In [ ]:
x = 10
y = 20

result = x < y
print(result)

result = x > y
print(result)

True
False

In [ ]:
result = 'apple' < 'orange'               # returns True because the letter 'a' in apple is before the letter 'o' in orange
print(result)

result = 'banana' < 'apple'               # returns False because the letter 'b' is after the letter 'a'
print(result)

True
False

In [ ]:
result = 'apple' >= 'apple'
print(result)

result = 'apple' >= 'orange'
print(result)

result = 'orange' >= 'apple'
print(result)

True
False
True

In [ ]:
result = 20 == 10
print(result)

result = 20 == 20
print(result)

False
True

In [ ]:
result = 'apple' == 'apple'
print(result)

result = 'apple' == 'orange'
print(result)

True
False

In [ ]:
result = 'apple' != 'apple'
print(result)

result = 'apple' != 'orange'
print(result)

False
True

<font size="+1.3">üî∂</font> &nbsp;<ins><font size="+1">**Logical &nbsp;Operators**</font></ins>

- `and`
- `or`
- `not`

In [ ]:
price = 9.99
result = price > 9 and price < 10
print(result)

True

In [ ]:
price = 9.99
result = price > 10 or price < 5
print(result)

False

In [ ]:
a = True
not a

False

In [ ]:
price = 9.99
result = not price > 10
print(result)

True

In [ ]:
price = 9.99
result = not (price > 5 and price < 10)
print(result)

False

‚≠ê &nbsp;<ins>Precedence of Logical Operators</ins>

<br>

| Operator | Precedence |
|----------|------------|
| not      | High       |
| and      | Medium     |
| or       | Low        |

<br>

|                    |       |                        |
|--------------------|-------|------------------------|
| a &nbsp;or&nbsp; b &nbsp;and&nbsp; c       | &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;means&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; | &nbsp;&nbsp;a &nbsp;or&nbsp; (b &nbsp;and&nbsp; c) |
| a &nbsp;and&nbsp; b &nbsp;or&nbsp; c &nbsp;and&nbsp; d | &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;means&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; | &nbsp;&nbsp;(a &nbsp;and&nbsp; b) &nbsp;or&nbsp; (c &nbsp;and&nbsp; d) |
| a &nbsp;and &nbsp;b &nbsp;and&nbsp; c &nbsp;or&nbsp; d | &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;means&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; | &nbsp;&nbsp;((a &nbsp;and&nbsp; b) &nbsp;and&nbsp; c) &nbsp;or&nbsp; d |
| not &nbsp;a &nbsp;and &nbsp;b &nbsp;or&nbsp; c   | &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;means&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; | &nbsp;&nbsp;((not &nbsp;a) &nbsp;and &nbsp;b) &nbsp;or&nbsp; c |

<br><br>

<h1>Python &nbsp;if &nbsp;Statement</h1>

In [ ]:
age = input('Enter your age:')
if int(age) >= 18:
  print("You're eligible to vote.")

Enter your age:20
You're eligible to vote.

In [ ]:
age = input('Enter your age:')
if int(age) >= 18:
  print("You're eligible to vote.")
else:
  print("You're not eligile to vote.")

Enter your age:17
You're not eligile to vote.

In [ ]:
age = input('Enter your age:')


# convert the string to int
your_age = int(age)


# determine the ticket price
if your_age < 5:
  ticket_price = 5
elif your_age < 16:
  ticket_price = 10
else:
  ticket_price = 18


# show the ticket price
print(f"You'll pay ${ticket_price} for the ticket")

Enter your age:5
You'll pay $10 for the ticket

<br><br>

<h1>Python &nbsp;Ternary&nbsp; Operaor</h1>

```
value_if_true  if  condition  else  value_if_false
```

```
if condition:
  value_if_true
else:
  value_if_false
```

In [ ]:
age = 19
if age >= 18:
  ticket_price = 20
else:
  ticket_price = 5

print(f"The ticket price is ${ticket_price}")

The ticket price is $20

In [ ]:
age = 20
ticket_price = 20 if int(age) >= 18 else 5

print(f"The ticket price is ${ticket_price}")

The ticket price is $20

<br><br>

<h1>Python for Loop with Range</h1>

```
range(start, stop, step)
```

In [ ]:
for index in range(5):
  print(index)

0
1
2
3
4

In [ ]:
for index in range(5):
  print(index + 1)

1
2
3
4
5

In [ ]:
for index in range(1, 6):
  print(index)

1
2
3
4
5

In [ ]:
for index in range(0, 11, 2):
  print(index)

0
2
4
6
8
10

In [ ]:
sum = 0
for num in range(101):
  sum += num

print(sum)

5050

In [ ]:
n = 100
sum = n * (n+1)/2
print(sum)

5050.0

<br><br>

<h1>Python while</h1>

In [ ]:
max = 5
counter = 0

while counter < max:
  print(counter)
  counter += 1

0
1
2
3
4

In [ ]:
# Simple Command Prompt Program

command = ''

while command.lower() != 'quit':
  command = input('>')
  print(f"Echo: {command}")

>Hi
Echo: Hi
>Python while
Echo: Python while
>quit
Echo: quit

<br><br>

<h1>Python break</h1>

In [ ]:
for index in range(0, 10):
  print(index)
  if index == 3:
    break

0
1
2
3

In [ ]:
for x in range(5):
  for y in range(5):
    # terminate the innermost loop
    if y > 1:
      break
    # show coordinates on the screen
    print(f"({x},{y})")

(0,0)
(0,1)
(1,0)
(1,1)
(2,0)
(2,1)
(3,0)
(3,1)
(4,0)
(4,1)

In [ ]:
print('-- Help: type quit to exit --')
while True:
  color = input('Enter your favorite color:')
  if color.lower() == 'quit':
    break

-- Help: type quit to exit --
Enter your favorite color:red
Enter your favorite color:green
Enter your favorite color:blue
Enter your favorite color:quit

<br><br>

<h1>Python continue</h1>

```
for index in range(n):
  if condition:
    continue
  # more code here
```

```
while condition1:
  if condition2:
    continue
  # more code here
```

In [ ]:
# display even numbers from 0 to 10

for index in range(10):
  if index % 2:
    continue

  print(index)

0
2
4
6
8

In [ ]:
# print the odd numbers

counter = 0
while counter < 10:
  counter += 1

  if not counter % 2:
    continue

  print(counter)

1
3
5
7
9

<br><br>

<h1>Python pass</h1>

```
counter = 1
max = 10
if counter <= max:
  counter += 1
else:
  pass                    # placeholder for the code to be implemented later
```

```
def fn():
  pass
```

```
class Stream:
  pass
```

<br><br>

<h1>Functions</h1>

<font size="+1.3">üî∂</font> &nbsp;<ins><font size="+1">**Python &nbsp;Functions**</font></ins>

In [ ]:
def greet(name):                                   # passing parameters
  """Display a greeting to users"""
  print(f"Hi {name}")


greet('Aman Mishra')                               # passing arguments


first_name = 'Isha'
greet(first_name)                                  # passing arguments

Hi Aman Mishra
Hi Isha

In [ ]:
def greet(name):                                   # passing parameters
  """Display a greeting to users"""
  return f"Hi {name}"


greet('Radha')                                     # passing arguments

'Hi Radha'

In [ ]:
def sum(a, b):
  return a + b


total = sum(10, 20)
print(total)

30

<font size="+1.3">üî∂</font> &nbsp;<ins><font size="+1">**Python &nbsp;Default &nbsp;Parameters**</font></ins>

In [ ]:
def greet(name, message = 'Hi'):
  return f"{message} {name}"


greeting = greet('Avinash')
print(greeting)

Hi Avinash

In [ ]:
def greet(name, message = 'Hi'):
  return f"{message} {name}"


greeting = greet('Avinash', 'Hello')
print(greeting)

Hello Avinash

In [ ]:
def greet(name='there', message='Hi'):
  return f"{message} {name}"


greeting = greet()
print(greeting)

Hi there

In [ ]:
def greet(name='there', message='Hi'):
  return f"{message} {name}"


greeting = greet('Hello')
print(greeting)                              # Hi Hello  ====>  unexpected value

Hi Hello

In [ ]:
def greet(name='there', message='Hi'):
  return f"{message} {name}"


greeting = greet(message='Hello')
print(greeting)

Hello there