|    <span style="background-color: yellow;">C/C++/Java</span>   |      <span style="background-color: yellow;">Python</span>     | 
|-----------------|-----------------|
| **The entire code** is first compiled into **machine level code** by a **compiler** and then run in the RAM   | **Each line of the code** is parsed  by a parser first and then interpreted by the **interpreter** into **byte level code** and run sequentially. Python runs on an interpreter system, meaning that code can be executed as soon as it is written. This means that prototyping can be very quick.  |
| You will have different different compilers based on different different platforms and hence **platform dependent**    | You can run the same piece of Python code on different different platforms without having to be bothered about anything and hence **platform independent**    |
| Compile-time error  | **No** Compile-time error  |
| Not so easy to read and write  | Clean code and easy readability  |
| Data type of a variable is explicitly defined before it's use and hence **Statically Typed Language**  | The Python Interpreter can interpret the data type of a avriable by looking at the assigned value during the run time and hence **Dynamically Typed Language**  |
| use **semicolon**(<span style="color:red"><strong>;</strong></span>) to separate the statements | uses **whitespace** and **indentation** to construct the code structure  |
| Relatively faster   | Relatively slower  |
| Doing AI/ML is not so easy because of unavailability of Libraies and other AI/ML related modules | A really good support from AI and ML applications |

In [58]:
print('Programming is easy')

Programming is easy

<br> 

**Let's verify how Python is an <span style="background-color: #CAFEFD">Interpretd Language</span> where code is executed <span style="background-color: #CAFEFD">line by line</span>**

In [61]:
print ("value")             # this line (line 1) gets executed without any error
a = 5                       # this line (line 2) gets executed without any error
a = a + 4                   # this line (line 3) gets executed without any error
print("a =", a)             # this line (line 4) gets executed without any error
print("\n")                 # this line (line 5) gets executed without any error             # no error upto this line (line 5)
print(value)                # this line (line 6) gets executed & it throws an error in the run time.

value
a = 9

NameError: name 'value' is not defined

<br>

As we can see, it runs line by line and wherever it fails, before that it already ran. Had it been C/C++/Java, it would have caught this error at the compile time itself.

<br>

<br>

# <u> Installation </u>

<br>

<span style="background-color: #CAFEFD">Where do we write Python code?</span> <br>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;⇒ **IDE** (&nbsp;<span style="background-color: yellow">&nbsp;visual studio code&nbsp;</span>&nbsp;**,** &nbsp;<span style="background-color: yellow">&nbsp;pycharm&nbsp;</span>&nbsp;) <br>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;⇒ **Jupyter Notebooks** (&nbsp;<span style="background-color: yellow">&nbsp;set locally&nbsp;</span>**,** &nbsp;<span style="background-color: #F5C0FF">&nbsp;databricks community edition&nbsp;</span>**,** &nbsp;<span style="background-color: #F5C0FF">&nbsp;google colab&nbsp;</span>&nbsp;) <br>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;⇒ **Terminal**(&nbsp;<span style="background-color: yellow">&nbsp;set locally&nbsp;</span>&nbsp;)



<br>

<div style="border: 1px solid pink; padding: 10px; background-color: #FAF2FC">
    
<span style="color:black"><strong>\\$ py --version<br>
\\$ py -m pip install --upgrade pip<br>
\\$ pip --version<br>
\\$ py -m pip install jupyter<br>
\\$ jupyter --version<br>
\\$ jupyter notebook
</strong>
</span>
</div>

<br> 

**Jupyter notebook** is a **browser-based interpreter** that allows us to interactively work with Python. It is an open-source web application that allows you to create & share documents that contain live code, equations, visualizations, and narrative text.

However for making a **full fledged application**, we generally use IDEs (Integrated Development Environment) such as **Visual Studio Code** & **PyCharm**.

<br>

# <u> Python Syntax </u> 

<br>

### 1. <span style="background-color: yellow;">Whitespace and indentation</span>
Unlike **C**/**C++**/**Java** which use **semicolon** (**;**) to separate the statements, **Python** uses **whitespace** and **indentation** to construct the code structure.

<div style="border: 1px solid pink; padding: 10px; background-color: #FAF2FC">
<strong># define main function to print out something</strong><br>
<span style="color:blue">def main():<br>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;i = 1<br>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;max = 10<br>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;while (i < max):<br>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;print(i)<br>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;i = i + 1</span>

<strong># call function main </strong><br>
<span style="color:blue">main()</span>
</div>

<br>

=================================================================================================================

<br>

### 2. <span style="background-color: yellow;">Comments</span>
To document the code when necessary. They are ignored by the Python interpreter.

##### 2.1 - <span style="background-color: #F5C0FF;">Python block comments</span>

<div style="border: 1px solid pink; padding: 10px; background-color: #FAF2FC; margin-left: 70px">
<strong># increase price by 5% </strong><br>
<span style="color:blue">price = price * 1.05</span>
</div>

##### 2.2 - <span style="background-color: #F5C0FF;">Python inline comments</span>

<div style="border: 1px solid pink; padding: 10px; background-color: #FAF2FC; margin-left: 70px">
<span style="color:blue">salary = salary * 1.02</span>
&nbsp;&nbsp;<strong># increase price by 5% </strong>
</div>

##### 2.3 - <span style="background-color: #F5C0FF;">Python docstrings</span>

&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;A documentation string is a string literal that you put as the first lines in a code block, for example, a function.

&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Unlike a regular comment, a documentation string can be accessed at <span style="color:red">run-time</span> using  **obj.__doc__** attribute where **obj** is the name of the function.

&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Use docstrings for **functions**, **modules**, and **classes**.

&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Typically, you use a documentation string to automatically generate the code documentation.

&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Documentation strings is called docstrings.

&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Technically speaking, docstrings are not the comments. They create anonymous variables that reference the strings. Also, they’re not ignored by the Python interpreter.

&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Python provides two kinds of docstrings: **one-line docstrings** and **multi-line docstrings**.


&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span style="color:green"><strong>2.3.1 - One-line doctrings</strong></span>
 
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;A one-line docstring begins with triple quotes (<span style="background-color: #EFEAF1;color:red"><strong>"""</strong></span>) and also ends with triple quotes (<span style="background-color: #EFEAF1;color:red"><strong>"""</strong></span>). Also, there won’t be any blank line either before or after the one-line docstring.


<div style="border: 1px solid pink; padding: 10px; margin-left: 70px; background-color: #FAF2FC">
<span style="color:blue">def quicksort():<br></span>
<span style="color:green">""" sort the list using quicksort algorithm """</span><br>
<span style="color:blue">...</span><br>
</div>

<br>

&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span style="color:green"><strong>2.3.2 - Multi-line doctrings</strong></span>

&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Unlike a one-line docstring, a multi-line docstring can span multiple lines. A multi-line docstring also starts with triple quotes (<span style="background-color: #EFEAF1;color:red"><strong>"""</strong></span>) and ends with triple quotes (<span style="background-color: #EFEAF1;color:red"><strong>"""</strong></span>).


<div style="border: 1px solid pink; padding: 10px; margin-left: 70px; background-color: #FAF2FC">
<span style="color:blue">def increase(salary, percentage, rating):</span><br>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span style="color:green">""" increase salary base on rating and percentage<br>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;rating 1 - 2 no increase<br>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;rating 3 - 4 increase 5%<br>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;rating 4 - 6 increase 10%<br>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;"""
</span>
</div>

<br>

##### 2.4 - <span style="background-color: #F5C0FF;">Python multiline comments</span>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;**Python doesn’t support multiline comments.**

&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;To add a multiline comment you could insert a <span style="background-color: #EFEAF1;color:red">&nbsp;**#**&nbsp;</span> for each line:

<div style="border: 1px solid pink; background-color: #FAF2FC; padding: 10px; margin-left: 70px">
<span style="color: green"># This is a comment</span><br>
<span style="color: green"># written in</span><br>
<span style="color: green"># more than just one line</span><br>
<span style="color: blue">print("Hello, World!")</span><br>
</div>

<br>

=================================================================================================================

<br>

### 3. <span style="background-color: yellow;">Continuation of statements</span>

Python uses a **newline character** to separate statements. It means a Python statement ends with a **newline character**. It places each statement on one line. 

However, a long statement can span multiple lines by using the **backslash** (<span style="background-color: #EFEAF1;color:red"><strong>  \\  </strong></span>) character.

The following example illustrates how to use the **backslash** (<span style="background-color: #EFEAF1;color:red"><strong>  \\  </strong></span>) character to continue a statement in the second line:


<div style="border: 1px solid pink; padding: 10px; background-color: #FAF2FC; margin-left: 70px">
<span style="color:blue">if (a == True) and (b == False) and \<br>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;(c == True):<br>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;print("Continuation of statements")<br>
</span>
</div>

In [60]:
# Data Science
data_science_course_fee = 5000
data_science_enrollments = 30

# Data Engineering
data_engineering_course_fee = 4000
data_engineering_enrollments = 20

# Data Analytics
data_analytics_course_fee = 2000
data_analytics_enrollments = 50


total_revenue = data_science_course_fee * data_science_enrollments 
                + data_engineering_course_fee * data_engineering_enrollments 
                + data_analytics_course_fee * data_analytics_enrollments


# print("The total_revenue is", total_revenue)
print(f"The total_revenue is {total_revenue}")

IndentationError: unexpected indent (2701210680.py, line 15)

<br>

We can solve this problem using **backslash** (<span style="background-color: #EFEAF1;color:red"><strong>  \\  </strong></span>) :

In [61]:
# Data Science
data_science_course_fee = 5000
data_science_enrollments = 30

# Data Engineering
data_engineering_course_fee = 4000
data_engineering_enrollments = 20

# Data Analytics
data_analytics_course_fee = 2000
data_analytics_enrollments = 50

# redability enhanced
total_revenue = data_science_course_fee * data_science_enrollments \
                + data_engineering_course_fee * data_engineering_enrollments \
                + data_analytics_course_fee * data_analytics_enrollments


# print("The total_revenue is", total_revenue)
print(f"The total_revenue is {total_revenue}")

The total_revenue is 330000

<br>

=================================================================================================================

<br>

<div style="background-color: #1B005B; color: white; padding: 10px;">
    <h3>Tokens are the smallest meaningful component in a python program</h3>
    <strong>1. Identifiers<br>
        2. Keywords<br>
        3. Literals<br>
        4. Operators<br></strong>
</div>

<br>

### 4. <span style="background-color: yellow;">Python Keywords</span>

Keywords are **reserved words** in Python, having a specific meaning in the language.

Python provides a special module for listing its keywords called <span style="color:red"><strong>keyword</strong></span>.

In [2]:
# To find the current keyword list

import keyword

print(keyword.kwlist)

['False', 'None', 'True', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']

=================================================================================================================

<br>

### 5. <span style="background-color: yellow;">Python Identifiers</span>

Identifiers are names that identify **variables**, **functions**, **modules**, **classes**, and other **objects** in Python.

&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;1. The name of an identifier <span style="color:blue">needs to begin</span> with a **letter** or **underscore**(<span style="background-color: #EFEAF1;color:red"><strong>  _  </strong></span>). The following characters can be alphanumeric or underscore.

&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;2. Python identifiers are **case-sensitive**.

&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;3. In addition, you **cannot use Python keywords** for naming identifiers.


=================================================================================================================

<br>

<div style="background-color: #1B005B; color: white; padding: 10px;">
    <h3>Literals are constant in Python</h3>
</div>

<br>

### 6. <span style="background-color: yellow;">String literals</span>

Python uses single quotes (<span style="background-color: #EFEAF1;color:red"><strong>  '  </strong></span>), double quotes (<span style="background-color: #EFEAF1;color:red"><strong>  "  </strong></span>), triple single quotes (<span style="background-color: #EFEAF1;color:red"><strong>  '''  </strong></span>) and triple-double quotes (<span style="background-color: #EFEAF1;color:red"><strong>  """  </strong></span>) to denote a string literal.

In [3]:
s = 'This is a string'
print(s)

This is a string

In [4]:
s

'This is a string'

In [5]:
s = "Another string using double quotes"
print(s)

Another string using double quotes

In [6]:
s

'Another string using double quotes'

In [7]:
s = ''' string can span
        multiple lines '''
print(s)

 string can span
        multiple lines

In [8]:
s

' string can span\n        multiple lines '

In [9]:
s = '''This is line 1
This is line 2
This is line 3'''
print(s)

This is line 1
This is line 2
This is line 3

In [10]:
s

'This is line 1\nThis is line 2\nThis is line 3'

In [11]:
s = """string can span
multiple lines
with triple-double quotes too"""
print(s)

string can span
multiple lines
with triple-double quotes too

In [12]:
s

'string can span\nmultiple lines\nwith triple-double quotes too'

<br>

# <u>Variables in RAM (Random Access Memory)</u>

<br>

Data/Value can be stored in **temporary** storage spaces called Variables

### 1. <span style="background-color: yellow;">Naming Convention of Variables</span>

&nbsp;&nbsp;&nbsp;&nbsp; 1. Variable names <span style="color: green"><strong>can</strong></span> contain only **letters**, **numbers**, and **underscores** (<span style="background-color: #EFEAF1"><strong> _  </strong></span>). <span style="color:red"> They can start with a **letter** or an **underscore** (<span style="background-color: #EFEAF1"><strong> _  </strong></span>), not with a **number**. <br> </span>
&nbsp;&nbsp;&nbsp;&nbsp; 2. Variable names <span style="color: green"><strong>cannot</strong></span> contain spaces. To separate words in variables, you use **underscores** for example <span style="color: blue">sorted_list</span>. <br>
&nbsp;&nbsp;&nbsp;&nbsp; 3. Variable names <span style="color: green"><strong>cannot</strong></span> be the same as **keywords**, **reserved words**, and **built-in functions** in Python.

<br>

<span style="background-color: #CAFEFD">The Python Interpreter creates an **object** in the **HEAP** part of the RAM and all **variables** (i.e, **parameters used inside a function**) in the **STACK** part of the RAM. It is important to note that HEAP & STACK size are not fixed in the memory. To optimize the memorry usage, the CPU decides upon looking at a program as to how much of the RAM space should be given to the HEAP memory and how much to the STACK memory.</span>

<br>

<span style="background-color: #CAFEFD">when a variable say ***variable_name*** is assigned a value in a line of a Python Program, the Python Interpreter **automatically interprets the data type of the value at that line itself** and creates an **object** (of the same data type holding the value assigned to the variable) in the **HEAP** part of the RAM and a **variable** with the name ***variable_name*** holding the address of that object is created in the **Stack** part of the RAM.</span>

<br>

In [13]:
length = 10    
'''
The data type of the value assigned is dynamically interpreted by the Python Interpreter in this line itself and then 
accordingly an int object holding the value 10 is created in the Heap part of the RAM and then a variable named 'length' holding 
the address of that int object is also created in the Stack part of the RAM thus pointing to that object holding the value.
'''

length         # print(length)

10

In [14]:
# address the variable called length is stored at in the RAM
id(length)   # print(id(length))

140727627277384

<br>

**The Python interpreter <span style="background-color: yellow">never overwrites a variable</span>, rather the variable starts pointing to the <span style="background-color: #CAFEFD">new location</span> the new value is stored at.**

In [7]:
# Step-1
length = 10
print("Step-1 =====> length = ",length,"   |   ","address =", id(length))

# Step-2 
length = 20
print("Step-2 =====> length = ",length,"   |   ","address =", id(length))

Step-1 =====> length =  10    |    address = 140727885227080
Step-2 =====> length =  20    |    address = 140727885227400

In [8]:
breadth = 20
id(breadth)

140727885227400

In [16]:
id(length) == id(breadth)

False

In [17]:
length = 20
breadth = 20
print(id(length),id(breadth))

140727627277704 140727627277704

In [18]:
id(length) == id(breadth)

True

In [19]:
# print(length,breadth) ---- 20 20
length,breadth

(20, 20)

In [20]:
id(length),id(breadth)

(140727627277704, 140727627277704)

In [21]:
length = 30
id(length)

140727627278024

In [22]:
id(length) == id(breadth)

False

In [23]:
length_garden = 10   # Snakecase
lengthGarden = 10    # Camelcase
LengthGarden = 10    # Pascalcase

In [24]:
# Case-Sensitivity

length = 10
Length = 20
LENGTH = 30

length,Length,LENGTH

(10, 20, 30)

### 2. <span style="background-color: yellow;">Data Types</span>

<br>

Variables can store data of different types, and different types can do different things.

Python has the following **data types built-in by default**, in these categories:


&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;⇒ <span style="color: blue">**Text**</span> Types: &nbsp;&nbsp;<span style="background-color: #C5FFF9;color: red">&nbsp;&nbsp;**str**&nbsp;&nbsp;</span><br>

&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;⇒ <span style="color: blue">**Numeric**</span> Types: &nbsp;&nbsp;<span style="background-color: #C5FFF9;color: red">&nbsp;&nbsp;**int**&nbsp;&nbsp;</span>**,**&nbsp;&nbsp;<span style="background-color: #C5FFF9;color: red">&nbsp;&nbsp;**float**&nbsp;&nbsp;</span>**,**&nbsp;&nbsp;<span style="background-color: #C5FFF9;color: red">&nbsp;&nbsp;**complex**&nbsp;&nbsp;</span><br>

&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;⇒ <span style="color: blue">**Sequence**</span> Types: &nbsp;&nbsp;<span style="background-color: #C5FFF9;color: red">&nbsp;&nbsp;**list**&nbsp;&nbsp;</span>**,**&nbsp;&nbsp;<span style="background-color: #C5FFF9;color: red">&nbsp;&nbsp;**tuple**&nbsp;&nbsp;</span>**,**&nbsp;&nbsp;<span style="background-color: #C5FFF9;color: red">&nbsp;&nbsp;**range**&nbsp;&nbsp;</span><br>

&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;⇒ <span style="color: blue">**Mapping**</span> Types: &nbsp;&nbsp;<span style="background-color: #C5FFF9;color: red">&nbsp;&nbsp;**dict**&nbsp;&nbsp;</span><br>

&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;⇒ <span style="color: blue">**Set**</span> Types: &nbsp;&nbsp;<span style="background-color: #C5FFF9;color: red">&nbsp;&nbsp;**set**&nbsp;&nbsp;</span>**,**&nbsp;&nbsp;<span style="background-color: #C5FFF9;color: red">&nbsp;&nbsp;**frozenset**&nbsp;&nbsp;</span><br>

&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;⇒ <span style="color: blue">**Boolean**</span> Types: &nbsp;&nbsp;<span style="background-color: #C5FFF9;color: red">&nbsp;&nbsp;**bool**&nbsp;&nbsp;</span><br>

&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;⇒ <span style="color: blue">**Binary**</span> Types: &nbsp;&nbsp;<span style="background-color: #C5FFF9;color: red">&nbsp;&nbsp;**bytes**&nbsp;&nbsp;</span>**,**&nbsp;&nbsp;<span style="background-color: #C5FFF9;color: red">&nbsp;&nbsp;**bytearray**&nbsp;&nbsp;</span>**,**&nbsp;&nbsp;<span style="background-color: #C5FFF9;color: red">&nbsp;&nbsp;**memoryview**&nbsp;&nbsp;</span><br>

&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;⇒ <span style="color: blue">**None**</span> Types: &nbsp;&nbsp;<span style="background-color: #C5FFF9;color: red">&nbsp;&nbsp;**NoneType**&nbsp;&nbsp;</span><br>

<br>

Unlike C/C++, in **Python** we don't have to declare a variable with it's data type. The Python Interpreter automatically itself interprets the data type of the variable by interpreting the value assigned to that variable. In other words, **the data type of a variable is decided at the run time only**. That is why, Python is called **Dynamically Typed Language**.

In [49]:
# 5 main simple datatypes

length_of_land = 100                   # The python interpreter automatically interprets it as INTEGER type without we having to explicitly inform like in the case of C/C++
bricks_cost_per_piece = 10.5           # The python interpreter automatically interprets it as FLOAT type just by looking at the value
labour_mistry1 = 'Jagmohan'            # The python interpreter automatically interprets it as STRING type just by looking at the value
is_home = True                         # The python interpreter automatically interprets it as BOOLEAN type just by looking at the value
complex_variable1 = complex(5,3)       # The python interpreter automatically interprets it as COMPLEX type just by looking at the value
complex_variable2 = 2+5j               # The python interpreter automatically interprets it as COMPLEX type just by looking at the value
total_income = None                    # The python interpreter automatically interprets it as NONE (or UNKNOWN) type just by looking at the value


print("length_of_land = ", length_of_land)
print("bricks_cost_per_piece = ", bricks_cost_per_piece)
print("labour_mistry1 = ", labour_mistry1)
print("is_home = ", is_home)
print("complex_variable1 = ", complex_variable1)
print("complex_variable2 = ", complex_variable2)
print("total_income = ", total_income)

length_of_land =  100
bricks_cost_per_piece =  10.5
labour_mistry1 =  Jagmohan
is_home =  True
complex_variable1 =  (5+3j)
complex_variable2 =  (2+5j)
total_income =  None

<br>

<span style="background-color: #F5C0FF">**Getting the Data Type**</span>

In [9]:
x = "Data Engineering is awesome"

#display x:
print(x)

#display the data type of x:
print(type(x))

Data Engineering is awesome
<class 'str'>

In [24]:

type(length_of_land), type(bricks_cost_per_piece), type(labour_mistry1), type(is_home), type(complex_variable1), type(complex_variable2), type(total_income)

(int, float, str, bool, complex, complex, NoneType)

In [48]:
print("length_of_land =        ", length_of_land, "        |  data type ===> ", type(length_of_land))
print("bricks_cost_per_piece = ", bricks_cost_per_piece, "       |  data type ===> ", type(bricks_cost_per_piece))
print("labour_mistry1 =        ", labour_mistry1, "   |  data type ===> ", type(labour_mistry1))
print("is_home =               ", is_home, "       |  data type ===> ", type(is_home))
print("complex_variable1 =     ", complex_variable1, "     |  data type ===> ", type(complex_variable1))
print("complex_variable2 =     ", complex_variable2, "     |  data type ===> ", type(complex_variable2))
print("total_income =          ", total_income, "       |  data type ===> ", type(total_income))

length_of_land =         100         |  data type ===>  <class 'int'>
bricks_cost_per_piece =  10.5        |  data type ===>  <class 'float'>
labour_mistry1 =         Jagmohan    |  data type ===>  <class 'str'>
is_home =                True        |  data type ===>  <class 'bool'>
complex_variable1 =      (5+3j)      |  data type ===>  <class 'complex'>
complex_variable2 =      (2+5j)      |  data type ===>  <class 'complex'>
total_income =           None        |  data type ===>  <class 'NoneType'>

In [24]:
x = 1.10
y = 1.0
z = -35.59

print(type(x))
print(type(y))
print(type(z))

<class 'float'>
<class 'float'>
<class 'float'>

In [23]:
x = 35e3
y = 12E4
z = -87.7e100

print(type(x))
print(type(y))
print(type(z))

<class 'float'>
<class 'float'>
<class 'float'>

In [12]:
type(1+2j)

complex

In [13]:
###### SyntaxError: invalid decimal literal
type(1+2i)

SyntaxError: invalid decimal literal (994320932.py, line 2)

In [22]:
x = 3+5j
y = 5j
z = -5j

print(type(x))
print(type(y))
print(type(z))

<class 'complex'>
<class 'complex'>
<class 'complex'>

<br>

<span style="background-color: #F5C0FF">**Setting the Data Type**</span>


<span style="background-color: #C5FFF9">In Python, the data type is set when you assign a value to a variable. That's why Python is called **Dynamically Typed Language**.</span>

In [15]:
x_str = "Hello World"

x_int = 20

x_float = 20.5

x_complex = 1j

x_list = ["apple", "banana", "cherry"]

x_tuple = ("apple", "banana", "cherry")

x_range = range(6)

x_dict = {"name" : "John", "age" : 36}

x_set = {"apple", "banana", "cherry"}

x_frozenset = frozenset({"apple", "banana", "cherry"})

x_bool = True

x_bytes = b"Hello"

x_bytearray = bytearray(5)

x_memoryview = memoryview(bytes(5))

x_none = None

<br>

<span style="background-color: #F5C0FF">**Setting the Specific Data Type**</span>

In [19]:
x_str = str("Hello World")

x_int = int(20)

x_float = float(20.5)

x_complex = complex(1j)

x_list = list(("apple", "banana", "cherry"))

x_tuple = tuple(("apple", "banana", "cherry"))

x_range = range(6)

x_dict = dict(name="John", age=36)

x_set = set(("apple", "banana", "cherry"))

x_frozenset = frozenset(("apple", "banana", "cherry"))

x_bool = bool(5)

x_bytes = bytes(5)

x_bytearray = bytearray(5)

x_memoryview = memoryview(bytes(5))

<br>
<br>


<span style="background-color: #C9FF71;color: black">**Note:**</span> <br>

&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;'<span style="background-color: #FFF971;color: red">**True**</span>' is the keyword, not '**true**' or '**TRUE**'. <br>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;'<span style="background-color: #FFF971;color: red">**False**</span>' is the keyword, not '**false**' or '**FALSE**'

<br>
<br>

In [30]:
######  NameError: name 'true' is not defined
is_office = true

NameError: name 'true' is not defined

In [31]:
###### NameError: name 'TRUE' is not defined
is_office = TRUE

NameError: name 'TRUE' is not defined

In [32]:
is_home = True

true = 'yes'       
is_office1 = true

is_office2 = 'true'

is_home, is_office1, is_office2

(True, 'yes', 'true')

In [33]:
type(is_home), type(is_office1), type(is_office2)

(bool, str, str)

<br>

### 3. <span style="background-color: yellow;">Assign Multiple Values</span>
<br>

<span style="background-color: #F5C0FF">**Many Values to Multiple Variables**</span>

In [3]:
# Python allows you to assign values to multiple variables in one line:

x, y, z = "Orange", "Banana", "Cherry"
print(x)
print(y)
print(z)

Orange
Banana
Cherry

<br>

<span style="background-color: #C9FF71;color: black">**Note:**</span> Make sure the **number of variables** <span style="color: blue">**matches**</span> the **number of values**, or else you will get an <span style="color: red">**error**</span>.

In [5]:
x, y, z = "Orange", "Banana", "Cherry", "Mango"

ValueError: too many values to unpack (expected 3)

<br>
<br>

<span style="background-color: #F5C0FF">**One Value to Multiple Variables**</span>

In [7]:
# You can assign the same value to multiple variables in one line:

x = y = z = "Orange"
print(x)
print(y)
print(z)

Orange
Orange
Orange

<br>
<br>

<span style="background-color: #F5C0FF">**Unpack a Collection**</span>

If you have a collection of values in a **list**, **tuple** etc. Python allows you to extract the values into **variables**. This is called <span style="color: blue">**unpacking**</span>.

In [9]:
fruits = ["apple", "banana", "cherry"]    # list
x, y, z = fruits
print(x)
print(y)
print(z)

apple
banana
cherry

In [10]:
fruits = ("apple", "banana", "cherry")    # tuple
x, y, z = fruits
print(x)
print(y)
print(z)

apple
banana
cherry

<br>

### 4. <span style="background-color: yellow;">Global Variables</span>
<br>

Variables that are <span style="color: blue;">**created**</span> **outside of a function** (as in all of the examples above) are known as **global** variables.

Global variables <span style="color: blue;">**can be used**</span> by everyone, both **inside** of functions and **outside**.

In [11]:
x = "awesome"

def myfunc():
  print("Python is " + x)

myfunc()

Python is awesome

<br>

<span style="background-color: #CAFEFD">If you create a variable with the same name inside a function, this variable will be local, and can only be used inside the function. The global variable with the same name will remain as it was, global and with the original value.</span>

In [1]:
# Create a variable inside a function, with the same name as the global variable

x = "awesome"

def myfunc():
  x = "fantastic"
  print("Python is " + x)

myfunc()

print("Python is " + x)

Python is fantastic
Python is awesome

<br>

### 5. <span style="background-color: yellow;">The global Keyword</span>
<br>

<span style="background-color: #CAFEFD">Normally, when you create a variable inside a function, that variable is local, and can only be used inside that function. To create a global variable inside a function, you can use the **global** keyword.</span>

In [2]:
# If you use the global keyword, the variable belongs to the global scope:

def myfunc():
  global x
  x = "fantastic"

myfunc()

print("Python is " + x)

Python is fantastic

<br>

<span style="background-color: #CAFEFD">To change the value of a global variable inside a function, refer to the variable by using the **global** keyword:</span>

In [1]:
# overwiting a global variable inide a funtion

x = "awesome"

def myfunc():
  global x
  x = "fantastic"
  print("Python is " + x)

myfunc()

print("Python is " + x)

Python is fantastic
Python is fantastic

<br>

# <u>Operators</u>

<br>

Python operators are **special symbols** or **keywords** that allow us to perform different operations on variables or values

### 1. &nbsp;<span style="background-color: #C9FF71;color: black">Types of Operators in Python :</span>

&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;⇒ <span style="color: blue">&nbsp;&nbsp;**Arithmetic operators**</span> <br>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;⇒ <span style="color: blue">&nbsp;&nbsp;**Assignment operators**</span> <br>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;⇒ <span style="color: blue">&nbsp;&nbsp;**Comparison operators**</span> <br>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;⇒ <span style="color: blue">&nbsp;&nbsp;**Logical operators**</span> <br>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;⇒ <span style="color: blue">&nbsp;&nbsp;**Identity operators**</span> <br>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;⇒ <span style="color: blue">&nbsp;&nbsp;**Membership operators**</span> <br>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;⇒ <span style="color: blue">&nbsp;&nbsp;**Bitwise operators**</span> <br>

<br>

### &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span style="background-color: yellow;">Python Arithmetic Operators</span>

&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;**Arithmetic operators** are used with numeric values to perform common <span style="background-color: #CAFEFD">**mathematical operations**</span>&nbsp;:

<div style="text-align: left; margin-left: -600px">

| <span style="color: red"><strong>Operator</strong></span> | <span style="color: red"><strong>Name</strong></span> | <span style="color: red"><strong>Example</strong></span>      |
|-------------------|----------------|-----------------|
|  <span style="background-color: yellow;font-size: larger"><strong>&nbsp;+&nbsp;</strong></span>   |  Addition          |    <span style="color: blue; font-size: larger">**x + y**</span>    |
|  <span style="background-color: yellow;font-size: larger"><strong>&nbsp;-&nbsp;</strong></span>   |  Substraction      |    <span style="color: blue; font-size: larger">**x - y**</span>    |
|  <span style="background-color: yellow;font-size: larger"><strong>&nbsp;*&nbsp;</strong></span>   |  Multiplication    |    <span style="color: blue; font-size: larger">**x * y**</span>    |
|  <span style="background-color: yellow;font-size: larger"><strong>&nbsp;\\&nbsp;</strong></span>  |  Division          |    <span style="color: blue; font-size: larger">**x \ y**</span>    |
|  <span style="background-color: yellow;font-size: larger"><strong>&nbsp;%&nbsp;</strong></span>   |  Modulus           |    <span style="color: blue; font-size: larger">**x % y**</span>    |
|  <span style="background-color: yellow;font-size: larger"><strong>&nbsp;**&nbsp;</strong></span>  |  Exponentiation    |    <span style="color: blue; font-size: larger">**x ** y**</span>   |
|  <span style="background-color: yellow;font-size: larger"><strong>&nbsp;\\&nbsp;</strong></span>  |  Floor Division    |    <span style="color: blue; font-size: larger">**x \\ y**</span>   |

</div>

<br>

### &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span style="background-color: yellow;">Python Assignment Operators</span>

&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;**Assignments operators** are used to <span style="background-color: #CAFEFD">**assign values to variables**</span> :

<div style="text-align: left; margin-left: -620px">

| <span style="color: red"><strong>Operator</strong></span> | <span style="color: red"><strong>Example</strong></span> | <span style="color: red"><strong>Same As</strong></span>      |
|-------------------|----------------|-----------------|
|  <span style="background-color: yellow;font-size: larger"><strong>&nbsp;=&nbsp;</strong></span>    |    <span style="color: blue; font-size: larger">**x=5**</span>        |    x = 5         |
|  <span style="background-color: yellow;font-size: larger"><strong>&nbsp;+=&nbsp;</strong></span>   |    <span style="color: blue; font-size: larger">**x += 3**</span>     |    x = x + 3     |
|  <span style="background-color: yellow;font-size: larger"><strong>&nbsp;-=&nbsp;</strong></span>   |    <span style="color: blue; font-size: larger">**x -= 3**</span>     |    x = x - 3     |
|  <span style="background-color: yellow;font-size: larger"><strong>&nbsp;*=&nbsp;</strong></span>   |    <span style="color: blue; font-size: larger"><strong>x *= 3</strong></span>     |    x = x * 3     |
|  <span style="background-color: yellow;font-size: larger"><strong>&nbsp;/=&nbsp;</strong></span>   |    <span style="color: blue; font-size: larger">**x /= 3**</span>     |    x = x / 3     |
|  <span style="background-color: yellow;font-size: larger"><strong>&nbsp;%=&nbsp;</strong></span>   |    <span style="color: blue; font-size: larger">**x %= 3**</span>     |    x = x % 3     |
|  <span style="background-color: yellow;font-size: larger"><strong>&nbsp;//=&nbsp;</strong></span>  |    <span style="color: blue; font-size: larger">**x //= 3**</span>    |    x = x // 3    |
|  <span style="background-color: yellow;font-size: larger"><strong>&nbsp;**=&nbsp;</strong></span>  |    <span style="color: blue; font-size: larger"><strong>x **= 3</strong></span>    |    x = x ** 3    |
|  <span style="background-color: yellow;font-size: larger"><strong>&nbsp;&=&nbsp;</strong></span>   |    <span style="color: blue; font-size: larger">**x &= 3**</span>     |    x = x & 3     |
|  <span style="background-color: yellow;font-size: larger"><strong>&nbsp;\|=&nbsp;</strong></span>  |    <span style="color: blue; font-size: larger">**x \|= 3**</span>     |    x = x \| 3     |
|  <span style="background-color: yellow;font-size: larger"><strong>&nbsp;^=&nbsp;</strong></span>   |    <span style="color: blue; font-size: larger">**x ^= 3**</span>     |    x = x ^ 3     |
|  <span style="background-color: yellow;font-size: larger"><strong>&nbsp;>>=&nbsp;</strong></span>  |    <span style="color: blue; font-size: larger">**x >>= 3**</span>    |    x = x >> 3    |
|  <span style="background-color: yellow;font-size: larger"><strong>&nbsp;<<=&nbsp;</strong></span>  |    <span style="color: blue; font-size: larger">**x <<= 3**</span>    |    x = x << 3    |

</div>

<br>

### &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span style="background-color: yellow;">Python Comparison Operators</span>

&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;**Comparison operators** are used to <span style="background-color: #CAFEFD">**compare two values**</span> :

<div style="text-align: left; margin-left: -550px">

| <span style="color: red"><strong>Operator</strong></span> | <span style="color: red"><strong>Name</strong></span> | <span style="color: red"><strong>Example</strong></span>      |
|-------------------|----------------|-----------------|
|  <span style="background-color: yellow;font-size: larger"><strong>&nbsp;==&nbsp;</strong></span>  |   Equal                                  |   <span style="color: blue; font-size: larger">**x == y**</span>       |
|  <span style="background-color: yellow;font-size: larger"><strong>&nbsp;!=&nbsp;</strong></span>  |   Not equal                              |   <span style="color: blue; font-size: larger">**x != y**</span>       |
|  <span style="background-color: yellow;font-size: larger"><strong>&nbsp;>&nbsp;</strong></span>   |   Greater than                           |   <span style="color: blue; font-size: larger">**x > y**</span>        |
|  <span style="background-color: yellow;font-size: larger"><strong>&nbsp;<&nbsp;</strong></span>   |   Lesser than                            |   <span style="color: blue; font-size: larger">**x < y**</span>        |
|  <span style="background-color: yellow;font-size: larger"><strong>&nbsp;>=&nbsp;</strong></span>  |   Greater than or equal to               |   <span style="color: blue; font-size: larger">**x >= y**</span>       |
|  <span style="background-color: yellow;font-size: larger"><strong>&nbsp;<=&nbsp;</strong></span>  |   Less than or equal to                  |   <span style="color: blue; font-size: larger">**x <= y**</span>       |
</div>

<br>

### &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span style="background-color: yellow;">Python Logical Operators</span>

&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;**Logical operators** are used to <span style="background-color: #CAFEFD">**combine conditional statements**</span> :

<div style="text-align: left; margin-left: -310px">

| <span style="color: red"><strong>Operator</strong></span> | <span style="color: red"><strong>Description</strong></span> | <span style="color: red"><strong>Example</strong></span>      |
|-------------------|----------------|-----------------|
|  <span style="background-color: yellow;font-size: larger"><strong>&nbsp;and&nbsp;</strong></span>  |   Returns True if both statements are true   |   <span style="color: blue; font-size: larger">**x < 5 and  x < 10**</span>   |
|  <span style="background-color: yellow;font-size: larger"><strong>&nbsp;or&nbsp;</strong></span>  |   Returns True if one of the statements is true   |   <span style="color: blue; font-size: larger">**x < 5 or x < 4**</span>   |
|  <span style="background-color: yellow;font-size: larger"><strong>&nbsp;not&nbsp;</strong></span>  |   Reverse the result, returns False if the result is true   |   <span style="color: blue; font-size: larger">**not(x < 5 and x < 10)**</span>   |

</div>

<br>

### &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span style="background-color: yellow;">Python Identity Operators</span>

&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;**Identity operators** are used to <span style="background-color: #CAFEFD">compare the objects</span>, not if they are equal, but <span style="background-color: #CAFEFD">**if they are actually the same object, with the same memory location**</span> :

<div style="text-align: left; margin-left: -310px">

| <span style="color: red"><strong>Operator</strong></span> | <span style="color: red"><strong>Description</strong></span> | <span style="color: red"><strong>Example</strong></span>      |
|-------------------|----------------|-----------------|
|  <span style="background-color: yellow;font-size: larger"><strong>&nbsp;and&nbsp;</strong></span>  |   Returns True if both statements are true   |   <span style="color: blue; font-size: larger">**x < 5 and  x < 10**</span>   |
|  <span style="background-color: yellow;font-size: larger"><strong>&nbsp;or&nbsp;</strong></span>  |   Returns True if one of the statements is true   |   <span style="color: blue; font-size: larger">**x < 5 or x < 4**</span>   |
|  <span style="background-color: yellow;font-size: larger"><strong>&nbsp;not&nbsp;</strong></span>  |   Reverse the result, returns False if the result is true   |   <span style="color: blue; font-size: larger">**not(x < 5 and x < 10)**</span>   |

</div>

<br>

### &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span style="background-color: yellow;">Python Membership Operators</span>

&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;**Membership operators** are used to <span style="background-color: #CAFEFD">**test if a sequence is presented in an object**</span> :

<div style="text-align: left; margin-left: -200px">

| <span style="color: red"><strong>Operator</strong></span> | <span style="color: red"><strong>Description</strong></span> | <span style="color: red"><strong>Example</strong></span>      |
|-------------------|----------------|-----------------|
|  <span style="background-color: yellow;font-size: larger"><strong>&nbsp;in&nbsp;</strong></span>  |   Returns True if a sequence with the specified value is present in the object   |   <span style="color: blue; font-size: larger">**x in y**</span>   |
|  <span style="background-color: yellow;font-size: larger"><strong>&nbsp;not in&nbsp;</strong></span>  |   Returns True if a sequence with the specified value is not present in the object   |   <span style="color: blue; font-size: larger">**x not in y**</span>   |

</div

<br>
<br>

### &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span style="background-color: yellow;">Python Bitwise Operators</span>

&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;**Bitwise operators** are used to <span style="background-color: #CAFEFD">**compare (binary) numbers**</span> :



| <span style="color: red"><strong>Operator</strong></span> | <span style="color: red"><strong>Name</strong></span> | <span style="color: red"><strong>Description</strong></span>      |   <span style="color: red"><strong>Example</strong></span>      |
|-------------------|----------------|-----------------|-----------------------------------------------|
|  <span style="background-color: yellow;font-size: larger"><strong>&nbsp;&&nbsp;</strong></span>   |   AND   | Sets each bit to 1 if both bits are 1  | <span style="color: blue; font-size: larger">**x & y**</span>   |
|  <span style="background-color: yellow;font-size: larger"><strong>&nbsp;\|&nbsp;</strong></span>  |   OR    | Sets each bit to 1 if both bits are 1  | <span style="color: blue; font-size: larger"><strong>x \| y</strong></span>   |
|  <span style="background-color: yellow;font-size: larger"><strong>&nbsp;^&nbsp;</strong></span>   |   XOR   | Sets each bit to 1 if only one of two bits is 1  | <span style="color: blue; font-size: larger"><strong>x ^ y</strong></span>   |
|  <span style="background-color: yellow;font-size: larger"><strong>&nbsp;~&nbsp;</strong></span>   |   NOT   | Inverts all the bits  | <span style="color: blue; font-size: larger"><strong>~x</strong></span>   |
|  <span style="background-color: yellow;font-size: larger"><strong>&nbsp;<<&nbsp;</strong></span>  |   Zero fill left shift   | Shift left by pushing zeros in from the right and let the leftmost bits fall off  | <span style="color: blue; font-size: larger"><strong>x << 2</strong></span>   |
|  <span style="background-color: yellow;font-size: larger"><strong>&nbsp;>>&nbsp;</strong></span>  |   Signed right shift   | Shift right by pushing copies of the leftmost bit in from the left, and let the rightmost bits fall off  | <span style="color: blue; font-size: larger"><strong>x >> 2</strong></span>   |

<br>

<br>

#### Examples of Arithmetic Operators :

In [65]:
a = 10
b = 3

addition_result = a + b
subtraction_result = a - b
multiplication_result = a * b
division_result = a / b
floor_division_result = a // b
modulus_result = a % b
exponentiation_result = a ** b

print("Addition:       ", addition_result)
print("Subtraction:    ", subtraction_result)
print("Multiplication: ", multiplication_result)
print("Division:       ", division_result)
print("Floor Division: ", floor_division_result)
print("Modulus:        ", modulus_result)
print("Exponentiation: ", exponentiation_result)

Addition:        13
Subtraction:     7
Multiplication:  30
Division:        3.3333333333333335
Floor Division:  3
Modulus:         1
Exponentiation:  1000

In [19]:
a = 10
b = 3

print('a - b = ', a-b)
print('b - a = ', b-a)

a - b =  7
b - a =  -7

<br>

#### Examples of Assignment Operators :

In [137]:
# Also known as short-hand operators

x = 5
x += 3
print("if (x = 5) then (x += 3)   returns  ",x)


x = 5
x -= 3
print("if (x = 5) then (x -= 3)   returns  ",x)


x = 5
x *= 3
print("if (x = 5) then (x *= 3)   returns  ",x)


x = 5
x /= 3
print("if (x = 5) then (x /= 3)   returns  ",x)


x = 5
x%=3
print("if (x = 5) then (x %= 3)   returns  ",x)


x = 5
x//=3
print("if (x = 5) then (x //= 3)  returns  ",x)


x = 5
x **= 3
print("if (x = 5) then (x **= 3)  returns  ",x)


x = 5
x &= 3
print("if (x = 5) then (x &= 3)   returns  ",x)


x = 5
x |= 3
print("if (x = 5) then (x |= 3)   returns  ",x)


x = 5
x ^= 3
print("if (x = 5) then (x ^= 3)   returns  ",x)


x = 5
x <<= 3
print("if (x = 5) then (x <<= 3)  returns  ",x)


x = 5
x >>= 3
print("if (x = 5) then (x >>= 3)  returns  ",x)

if (x = 5) then (x += 3)   returns   8
if (x = 5) then (x -= 3)   returns   2
if (x = 5) then (x *= 3)   returns   15
if (x = 5) then (x /= 3)   returns   1.6666666666666667
if (x = 5) then (x %= 3)   returns   2
if (x = 5) then (x //= 3)  returns   1
if (x = 5) then (x **= 3)  returns   125
if (x = 5) then (x &= 3)   returns   1
if (x = 5) then (x |= 3)   returns   7
if (x = 5) then (x ^= 3)   returns   6
if (x = 5) then (x <<= 3)  returns   40
if (x = 5) then (x >>= 3)  returns   0

<br>

#### Examples of Comparison Operators :

In [29]:
# Comparison / Relational Operators with numbers on both sides

a = 10
b = 3

# Equal to
print("a Equal To b:                  ", a == b)  # False

# Not equal to
print("a Not Equal To b:              ", a != b)  # True

# Greater than
print("a Greater Than b:              ", a > b)  # True

# Less than
print("a Less Than b:                 ", a < b)  # False

# Greater than or equal to
print("a Greater Than Or Equal To b:  ", a >= b)  # True

# Less than or equal to
print("a Less Than Or Equal To b:     ", a <= b)  # False

a Equal To b:                   False
a Not Equal To b:               True
a Greater Than b:               True
a Less Than b:                  False
a Greater Than Or Equal To b:   True
a Less Than Or Equal To b:      False

In [27]:

a == (b * (a//b)) + (a % b)   # Dividend = (Divisor * Quotient) + Remainder

True

In [32]:
# Comparison / Relational Operators on strings on both sides

# Comparison between two strings is done on the basis of Dictionary order

a = 'Avinash@15'
b = 'Aman@25'

# Equal to
print("a Equal To b:                  ", a == b)  # False

# Not equal to
print("a Not Equal To b:              ", a != b)  # True

# Greater than
print("a Greater Than b:              ", a > b)  # True

# Less than
print("a Less Than b:                 ", a < b)  # False

# Greater than or equal to
print("a Greater Than Or Equal To b:  ", a >= b)  # True

# Less than or equal to
print("a Less Than Or Equal To b:     ", a <= b)  # False

a Equal To b:                   False
a Not Equal To b:               True
a Greater Than b:               True
a Less Than b:                  False
a Greater Than Or Equal To b:   True
a Less Than Or Equal To b:      False

<br>
<br>

<span style="background-color: #F5C0FF;color: black">**Note:**</span> <br>

**Only** Equal To (<span style="background-color: #FFF971;color: red;font-size: larger"><strong>&nbsp;==&nbsp;</strong></span>) and Not Equal To (<span style="background-color: #FFF971;color: red;font-size: larger"><strong>&nbsp;!=&nbsp;</strong></span>) operators **are allowed** to <span style="background-color: #CAFEFD">**compare a string with a number and vice-versa**</span></span>.

In [33]:
a= 1
b ='1'

print('a==b returns ',a==b)
print('a!=b returns ',a!=b)

a==b returns  False
a!=b returns  True

<br>

But other **comparison** operators are **not supported** between instances of '**int**' and '**str**'

In [35]:
print('a<b returns ',a<b)
print('a<=b returns ',a<=b)
print('a>b returns ',a>b)
print('a>=b returns ',a>=b)

TypeError: '<' not supported between instances of 'int' and 'str'

<br>

#### Examples of Logical Operators :

In [66]:
price = 9.99

# and
print('price > 9 and price < 10       ⇒ ', price > 9 and price < 10)
print('price > 10 and price < 20      ⇒ ', price > 10 and price < 20)

# or
print('price > 10 or price < 20       ⇒ ', price > 10 or price < 20)
print('price > 10 or price < 5        ⇒ ', price > 10 or price < 5)

# not
print('not a                          ⇒ ', not a)
print('not price > 10                 ⇒ ', not price > 10)


# combination of logical operators
print('not (price > 5 and price < 10) ⇒ ', not (price > 5 and price < 10))

price > 9 and price < 10       ⇒  True
price > 10 and price < 20      ⇒  False
price > 10 or price < 20       ⇒  True
price > 10 or price < 5        ⇒  False
not a                          ⇒  False
not price > 10                 ⇒  True
not (price > 5 and price < 10) ⇒  False

In [37]:
# As we know logical operators are reserved words (keyword) and hence Case-Sensitive

print('a and b ⇒ ', a and b)

a and b ⇒  1

In [38]:
print('a AND b ⇒ ', a AND b)

SyntaxError: invalid syntax. Perhaps you forgot a comma? (3234948767.py, line 1)

In [39]:
print('a And b ⇒ ', a And b)

SyntaxError: invalid syntax. Perhaps you forgot a comma? (1458597467.py, line 1)

<br>

#### Examples of Identity Operators :

In [63]:
x = "apple"
y = "apple"
z = x

print(x is z)       # returns True because z is the same object as x

print(x is y)       # returns True because x is the same object as y

print(x == y)       # to demonstrate the difference betweeen "is" and "==": this comparison returns True because x is equal to y

True
True
True

In [45]:
x = ["apple", "banana"]
y = ["apple", "banana"]
z = x

print(x is z)       # returns True because z is the same object as x

print(x is y)       # returns False because x is not the same object as y, even if they have the same content

print(x == y)       # to demonstrate the difference betweeen "is" and "==": this comparison returns True because x is equal to y

True
False
True

In [46]:
x = ["apple", "banana"]
y = ["apple", "banana"]
z = x

print(x is not z)       # returns False because z is the same object as x

print(x is not y)       # returns True because x is not the same object as y, even if they have the same content

print(x != y)           # to demonstrate the difference betweeen "is not" and "!=": this comparison returns False because x is equal to y

False
True
False

<br>

#### Examples of Membership Operators :

In [153]:
name = "Avinash Mishra"

print("Kumar" not in name)

True

In [154]:
x = ["apple", "banana"]

print("banana" in x)

True

In [155]:
x = ["apple", "banana"]

print("pineapple" not in x)

True

<br>

#### Examples of Bitwise Operators :

In [130]:
# AND
print(6 & 3)

print("----------"*7)

print(
"""
The & operator compares each bit and set it to 1 if both are 1, otherwise it is set to 0:

6 = 0000000000000110
3 = 0000000000000011
--------------------
2 = 0000000000000010
====================

Decimal numbers and their binary values:
0 = 0000000000000000
1 = 0000000000000001
2 = 0000000000000010
3 = 0000000000000011
4 = 0000000000000100
5 = 0000000000000101
6 = 0000000000000110
7 = 0000000000000111
"""
    )

print("----------"*7)

2
----------------------------------------------------------------------

The & operator compares each bit and set it to 1 if both are 1, otherwise it is set to 0:

6 = 0000000000000110
3 = 0000000000000011
--------------------
2 = 0000000000000010
====================

Decimal numbers and their binary values:
0 = 0000000000000000
1 = 0000000000000001
2 = 0000000000000010
3 = 0000000000000011
4 = 0000000000000100
5 = 0000000000000101
6 = 0000000000000110
7 = 0000000000000111

----------------------------------------------------------------------

In [131]:
# OR
print(6 | 3)

print("----------"*7)

print("""
The | operator compares each bit and set it to 1 if one or both is 1, otherwise it is set to 0:

6 = 0000000000000110
3 = 0000000000000011
--------------------
7 = 0000000000000111
====================

Decimal numbers and their binary values:
0 = 0000000000000000
1 = 0000000000000001
2 = 0000000000000010
3 = 0000000000000011
4 = 0000000000000100
5 = 0000000000000101
6 = 0000000000000110
7 = 0000000000000111
"""
    )

print("----------"*7)

7
----------------------------------------------------------------------

The | operator compares each bit and set it to 1 if one or both is 1, otherwise it is set to 0:

6 = 0000000000000110
3 = 0000000000000011
--------------------
7 = 0000000000000111
====================

Decimal numbers and their binary values:
0 = 0000000000000000
1 = 0000000000000001
2 = 0000000000000010
3 = 0000000000000011
4 = 0000000000000100
5 = 0000000000000101
6 = 0000000000000110
7 = 0000000000000111

----------------------------------------------------------------------

In [132]:
# XOR
print(6 ^ 3)

print("----------"*7)

print("""
The ^ operator compares each bit and set it to 1 if only one is 1, otherwise (if both are 1 or both are 0) it is set to 0:

6 = 0000000000000110
3 = 0000000000000011
--------------------
5 = 0000000000000101
====================

Decimal numbers and their binary values:
0 = 0000000000000000
1 = 0000000000000001
2 = 0000000000000010
3 = 0000000000000011
4 = 0000000000000100
5 = 0000000000000101
6 = 0000000000000110
7 = 0000000000000111
"""
    )

print("----------"*7)

5
----------------------------------------------------------------------

The ^ operator compares each bit and set it to 1 if only one is 1, otherwise (if both are 1 or both are 0) it is set to 0:

6 = 0000000000000110
3 = 0000000000000011
--------------------
5 = 0000000000000101
====================

Decimal numbers and their binary values:
0 = 0000000000000000
1 = 0000000000000001
2 = 0000000000000010
3 = 0000000000000011
4 = 0000000000000100
5 = 0000000000000101
6 = 0000000000000110
7 = 0000000000000111

----------------------------------------------------------------------

In [133]:
# NOT
print(~3)

print("----------"*7)

print("""
The ~ operator inverts each bit (0 becomes 1 and 1 becomes 0).

Inverted 3 becomes -4:
 3 = 0000000000000011
-4 = 1111111111111100

Decimal numbers and their binary values:
 4 = 0000000000000100
 3 = 0000000000000011
 2 = 0000000000000010
 1 = 0000000000000001
 0 = 0000000000000000
-1 = 1111111111111111
-2 = 1111111111111110
-3 = 1111111111111101
-4 = 1111111111111100
"""
    )

print("----------"*7)

-4
----------------------------------------------------------------------

The ~ operator inverts each bit (0 becomes 1 and 1 becomes 0).

Inverted 3 becomes -4:
 3 = 0000000000000011
-4 = 1111111111111100

Decimal numbers and their binary values:
 4 = 0000000000000100
 3 = 0000000000000011
 2 = 0000000000000010
 1 = 0000000000000001
 0 = 0000000000000000
-1 = 1111111111111111
-2 = 1111111111111110
-3 = 1111111111111101
-4 = 1111111111111100

----------------------------------------------------------------------

In [134]:
# Zero fill left shift
print(3 << 2)

print("----------"*7)

print("""
The << operator inserts the specified number of 0's (in this case 2) from the right and let the same amount of leftmost bits fall off:

If you push 00 in from the left:
 3 = 0000000000000011
becomes
12 = 0000000000001100

Decimal numbers and their binary values:
 0 = 0000000000000000
 1 = 0000000000000001
 2 = 0000000000000010
 3 = 0000000000000011
 4 = 0000000000000100
 5 = 0000000000000101
 6 = 0000000000000110
 7 = 0000000000000111
 8 = 0000000000001000
 9 = 0000000000001001
10 = 0000000000001010
11 = 0000000000001011
12 = 0000000000001100
"""
    )

print("----------"*7)

12
----------------------------------------------------------------------

The << operator inserts the specified number of 0's (in this case 2) from the right and let the same amount of leftmost bits fall off:

If you push 00 in from the left:
 3 = 0000000000000011
becomes
12 = 0000000000001100

Decimal numbers and their binary values:
 0 = 0000000000000000
 1 = 0000000000000001
 2 = 0000000000000010
 3 = 0000000000000011
 4 = 0000000000000100
 5 = 0000000000000101
 6 = 0000000000000110
 7 = 0000000000000111
 8 = 0000000000001000
 9 = 0000000000001001
10 = 0000000000001010
11 = 0000000000001011
12 = 0000000000001100

----------------------------------------------------------------------

In [135]:
# Signed right shift
print(8 >> 2)

print("----------"*7)

print("""
The >> operator moves each bit the specified number of times to the right. Empty holes at the left are filled with 0's.

If you move each bit 2 times to the right, 8 becomes 2:
 8 = 0000000000001000
becomes
 2 = 0000000000000010

Decimal numbers and their binary values:
 0 = 0000000000000000
 1 = 0000000000000001
 2 = 0000000000000010
 3 = 0000000000000011
 4 = 0000000000000100
 5 = 0000000000000101
 6 = 0000000000000110
 7 = 0000000000000111
 8 = 0000000000001000
 9 = 0000000000001001
10 = 0000000000001010
11 = 0000000000001011
12 = 0000000000001100
"""
     )

print("----------"*7)

2
----------------------------------------------------------------------

The >> operator moves each bit the specified number of times to the right. Empty holes at the left are filled with 0's.

If you move each bit 2 times to the right, 8 becomes 2:
 8 = 0000000000001000
becomes
 2 = 0000000000000010

Decimal numbers and their binary values:
 0 = 0000000000000000
 1 = 0000000000000001
 2 = 0000000000000010
 3 = 0000000000000011
 4 = 0000000000000100
 5 = 0000000000000101
 6 = 0000000000000110
 7 = 0000000000000111
 8 = 0000000000001000
 9 = 0000000000001001
10 = 0000000000001010
11 = 0000000000001011
12 = 0000000000001100

----------------------------------------------------------------------

### 2. <span style="background-color: #C9FF71;color: black">Operator Precedence</span>

&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Operator precedence describes the <span style="background-color: #CAFEFD">**order in which operations are performed**</span>.

| <span style="color: red"><strong>Operator</strong></span> | <span style="color: red"><strong>Description</strong></span> |
|-----------------------------------------------------------|--------------------------------------------------------------|
| <span style="background-color: yellow;font-size: larger"><strong>&nbsp;()&nbsp;</strong></span> | **Parenthesis**            |
| <span style="background-color: yellow;font-size: larger"><strong>&nbsp;**&nbsp;</strong></span> | **Exponentiation**         |
| <span style="background-color: yellow;font-size: larger"><strong>&nbsp;+x&nbsp;</strong></span>&nbsp;&nbsp;&nbsp;&nbsp;<span style="background-color: yellow;font-size: larger"><strong>&nbsp;-x&nbsp;</strong></span>&nbsp;&nbsp;&nbsp;&nbsp;<span style="background-color: yellow;font-size: larger"><strong>&nbsp;~x&nbsp;</strong></span> | **Unary Plus**, &nbsp;&nbsp;**Unary Minus**, &nbsp;&nbsp;and &nbsp;&nbsp;**Bitwise NOT**  |
| <span style="background-color: yellow;font-size: larger"><strong>&nbsp;*&nbsp;</strong></span>&nbsp;&nbsp;&nbsp;&nbsp;<span style="background-color: yellow;font-size: larger"><strong>&nbsp;/&nbsp;</strong></span>&nbsp;&nbsp;&nbsp;&nbsp;<span style="background-color: yellow;font-size: larger"><strong>&nbsp;//&nbsp;</strong></span>&nbsp;&nbsp;&nbsp;&nbsp;<span style="background-color: yellow;font-size: larger"><strong>&nbsp;%&nbsp;</strong></span> | **Multiplication**, &nbsp;&nbsp;**Division**, &nbsp;&nbsp;**Floor Division**, &nbsp;&nbsp;and &nbsp;&nbsp; **Modulus**  |
| <span style="background-color: yellow;font-size: larger"><strong>&nbsp;+&nbsp;</strong></span>&nbsp;&nbsp;&nbsp;&nbsp;<span style="background-color: yellow;font-size: larger"><strong>&nbsp;-&nbsp;</strong></span> | **Addition** &nbsp;&nbsp;and &nbsp;&nbsp;**Subtraction**  |
| <span style="background-color: yellow;font-size: larger"><strong>&nbsp;<<&nbsp;</strong></span>&nbsp;&nbsp;&nbsp;&nbsp;<span style="background-color: yellow;font-size: larger"><strong>&nbsp;>>&nbsp;</strong></span> | **Bitwise Left Shift** &nbsp;&nbsp;and &nbsp;&nbsp;**Bitwise Right Shift**  |
| <span style="background-color: yellow;font-size: larger"><strong>&nbsp;&&nbsp;</strong></span> | **Bitwise AND**            |
| <span style="background-color: yellow;font-size: larger"><strong>&nbsp;^&nbsp;</strong></span> | **Bitwise XOR**            |
| <span style="background-color: yellow;font-size: larger"><strong>&nbsp;\|&nbsp;</strong></span> | **Bitwise OR**            |
| <span style="background-color: yellow;font-size: larger"><strong>&nbsp;==&nbsp;</strong></span>&nbsp;&nbsp;&nbsp;&nbsp;<span style="background-color: yellow;font-size: larger"><strong>&nbsp;!=&nbsp;</strong></span>&nbsp;&nbsp;&nbsp;&nbsp;<span style="background-color: yellow;font-size: larger"><strong>&nbsp;>&nbsp;</strong></span>&nbsp;&nbsp;&nbsp;&nbsp;<span style="background-color: yellow;font-size: larger"><strong>&nbsp;>=&nbsp;</strong></span>&nbsp;&nbsp;&nbsp;&nbsp;<span style="background-color: yellow;font-size: larger"><strong>&nbsp;<&nbsp;</strong></span>&nbsp;&nbsp;&nbsp;&nbsp;<span style="background-color: yellow;font-size: larger"><strong>&nbsp;<=&nbsp;</strong></span>&nbsp;&nbsp;&nbsp;&nbsp;<span style="background-color: yellow;font-size: larger"><strong>&nbsp;is&nbsp;</strong></span>&nbsp;&nbsp;&nbsp;&nbsp;<span style="background-color: yellow;font-size: larger"><strong>&nbsp;is not&nbsp;</strong></span>&nbsp;&nbsp;&nbsp;&nbsp;<span style="background-color: yellow;font-size: larger"><strong>&nbsp;in&nbsp;</strong></span>&nbsp;&nbsp;&nbsp;&nbsp;<span style="background-color: yellow;font-size: larger"><strong>&nbsp;not in&nbsp;</strong></span> | **Comparisons**, &nbsp;&nbsp;**Identity**, &nbsp;&nbsp;and &nbsp;&nbsp;**Membership** operators |
| <span style="background-color: yellow;font-size: larger"><strong>&nbsp;not&nbsp;</strong></span> | **Logical NOT**  |
| <span style="background-color: yellow;font-size: larger"><strong>&nbsp;and&nbsp;</strong></span> | **AND**  |
| <span style="background-color: yellow;font-size: larger"><strong>&nbsp;or&nbsp;</strong></span> | **OR**  |

<br>

&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span style="background-color: #CAFEFD">If two operators have the **same precedence**, the expression is evaluated from **left to right**</span> <span style="color: blue">**except**</span> in the case of <span style="background-color: #E8DAEF">**Exponentiation**</span> operator i.e., <span style="background-color: yellow;font-size: larger"><strong>&nbsp;**&nbsp;</strong></span> <br> 
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;where it is from <span style="background-color: #E8DAEF">**right to left**</span>&nbsp;. 

<br>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Examples :

<div style="text-align: left; margin-left: -300px">
  
|     Expression          |    Means    |    Evaluation              |
|-------------------------|-------------|----------------------------|
|     a <span style="color: red;font-size: larger"><strong>+</strong></span> b <span style="color: red;font-size: larger"><strong>-</strong></span> c <span style="color: red;font-size: larger"><strong>+</strong></span> d       |    means    |    (((a <span style="color: red;font-size: larger"><strong>+</strong></span> b) <span style="color: red;font-size: larger"><strong>-</strong></span> c) <span style="color: red;font-size: larger"><strong>+</strong></span> d)     |
| 100 <span style="color: red;font-size: larger"><strong>+</strong></span> 5 <span style="color: red;font-size: larger"><strong>*</strong></span> 3 | means | 100 <span style="color: red;font-size: larger"><strong>+</strong></span> (5 <span style="color: red;font-size: larger"><strong>*</strong></span> 3) |
|     a <span style="color: red"><strong>or</strong></span> b <span style="color: red"><strong>and</strong></span> c        |    means    |    a <span style="color: red"><strong>or</strong></span> (b <span style="color: red"><strong>and</strong></span> c)          |
|     a <span style="color: red"><strong>and</strong></span> b <span style="color: red"><strong>or</strong></span> c <span style="color: red"><strong>and</strong></span> d  |    means    |    (a <span style="color: red"><strong>and</strong></span> b) <span style="color: red"><strong>or</strong></span> (c <span style="color: red"><strong>and</strong></span> d)  |
|     a <span style="color: red"><strong>and</strong></span> b <span style="color: red"><strong>and</strong></span> c <span style="color: red"><strong>or</strong></span> d  |    means    |    ((a <span style="color: red"><strong>and</strong></span> b) <span style="color: red"><strong>and</strong></span> c) <span style="color: red"><strong>or</strong></span> d  |
|     not a <span style="color: red"><strong>and</strong></span> b <span style="color: red"><strong>or</strong></span> c    |    means    |    ((not a) <span style="color: red"><strong>and</strong></span> b) <span style="color: red"><strong>or</strong></span> c    |
| a <span style="color: red;font-size: larger"><strong>&nbsp;\**&nbsp;</strong></span>&nbsp;b <span style="color: red;font-size: larger"><strong>&nbsp;**&nbsp;</strong></span> c |  means  |  a <span style="color: red;font-size: larger"><strong>&nbsp;\**&nbsp;</strong></span>&nbsp;(b <span style="color: red;font-size: larger"><strong>&nbsp;**&nbsp;</strong></span> c) |

</div>

In [138]:
print(100 + 5 * 3)

115

In [139]:
print(5 + 4 - 7 + 3)

5

In [136]:
# Exponentiation operator precedence is from Right to Left also known as Right Side Binding

print(f"2 ** 2 ** 3 returns {2**2**3}")
print("\n")
print(f"2 ** (2 ** 3) returns {2**(2**3)}")
print("\n")
print(f"(2 ** 2) ** 3 returns {(2**2)**3}")

2 ** 2 ** 3 returns 256


2 ** (2 ** 3) returns 256


(2 ** 2) ** 3 returns 64

<br>

### 3. <span style="background-color: #C9FF71;color: black">Math related functions</span>

In [147]:
import math
total_sales = 20000.60

print("ceil value of total sales = ",math.ceil(total_sales))       # ceil() returns upper value
print("floor value of total sales = ",math.floor(total_sales))     # floor() returns lower value
print("absolute value of total sales = ",math.fabs(total_sales))   # fabs() returns absolute value

ceil value of total sales =  20001
floor value of total sales =  20000
absolute value of total sales =  20000.6

<br>

There are many functions in Math module which we can use as and when required.

<br>

### 4. <span style="background-color: #C9FF71;color: black">Type Errors </span> <br>

Any operation involving different different multiple data types is valid  **only if it makes sense**.

In [4]:
length = 10

print("length + 10 = ", length + 5)        # INTEGER + INTEGER is valid

print("length = ", length)                 # The value of the variable ("length") does not get updated because we never assigned the sum to the variable

length + 10 =  15
length =  10

In [5]:
print("length + 5.5 = ", length + 5.5)      # INTEGER + FLOAT is valid

length + 5.5 =  15.5

In [6]:
# To update the value of the variable called "length"

# let's updateit by 10%
length = length + (length * 0.1)

print("length = ",length)

length =  11.0

In [79]:
tuition_fee = 50000.50
increased_fee = 5000.40

print(tuition_fee + increased_fee)          # FLOAT + FLOAT is valid

55000.9

In [82]:
print("Avinash"+" Mishra")                  # STRING + STRING is valid

Avinash Mishra

<br>

<span style="background-color: #CAFEFD">Does **STRING + INTEGER** make sense? **NO**</span>

In [86]:
print("avinash"+15)                         # STRING + INTEGER is not valid and hence it will throw a TypeError

TypeError: can only concatenate str (not "int") to str

<br>

<span style="background-color: #CAFEFD">Does **STRING * FLOAT** make sense? **NO**</span>

In [23]:
length = "10"
length = length + (length * 0.1)
print(length)

TypeError: can't multiply sequence by non-int of type 'float'

In [24]:
# TYPE CONVERSION

length = '10'

length, int(length)

('10', 10)

In [25]:
#length = int(length) + (int(length) * 0.1)                      # result will be of FLOAT type
length = int(int(length) + (int(length) * 0.1))                  # result will be of INTEGER type

print("The value of the length is updated to ", length)

The value of the length is updated to  11

<BR>

**However, if you are thinking <span style="background-color: yellow">&nbsp;STRING * INTEGER&nbsp;</span> too does not make sense, then you are <span style="background-color: #E8DAEF">&nbsp;wrong&nbsp;</span>:**

In [33]:
print("Avinash "*5)

Avinash Avinash Avinash Avinash Avinash

In [53]:
# We can use this concept (STRING * INTEGER) for better readability while debugging

print("\n"*2)
print("-------------"*5)
print("The value of the length is updated to ", length)
print("-------------"*5)
print("\n"*2)

-----------------------------------------------------------------
The value of the length is updated to  11
-----------------------------------------------------------------

<br>

<span style="background-color: #CAFEFD">Does **comparing an INTEGER with a STRING** make sense? **NO**</span>

In [1]:
a= 1
b ='1'

print('a<b returns ',a<b)                    # Comparing an INTEGER with a STRING not valid and hence it will throw a TypeError

TypeError: '<' not supported between instances of 'int' and 'str'

In [26]:
# let do the TYPE CONVERSION of b from '1' to 1 and then compare with a :

print('a<b returns ',a < int(b))

a<b returns  False

<br>

# <u>Strings</u>

<br>

### 1. <span style="background-color: yellow;">Introduction to Python string</span>

<br>

In Python, anything inside quotes is a string. And you can use either **single** or **double** quotes.

In [45]:
message1 = 'This is a string in Python'
print(message1)

message2 = "This is also a string"
print(message2)

This is a string in Python
This is also a string

In [2]:
x = "John"
# is the same as
x = 'John'

<br>

If a string contains a **single quote**, you should place it in **double-quotes** like this:

In [46]:
message = "It's a string"
print(message)

It's a string

<br>

And when a string contains **double quotes**, you can use the **single quotes**:

In [47]:
message = 'Mummy says "Never Give Up."'
print(message)

Mummy says "Never Give Up."

<br>

<span style="background-color: #C9FF71;color: black">**Note:**</span> <br>

To **escape** the quotes, you use the **backslash** (<span style="background-color: #FFF971;color: red">  **\\**  </span>). For example:

In [48]:
message = 'It\'s also a valid string'
print(message)

It's also a valid string

The Python interpreter will treat the backslash character (<span style="background-color: #FFF971;color: red">  **\\**  </span>) special. If you don’t want it to do so, you can use **raw strings** by adding the letter <span style="background-color: #FFF971;color: red">  **r**  </span> before the first quote. For example:

In [49]:
message = r'C:\python\bin'
print(message)

C:\python\bin

<br>

<span style="background-color: #C9FF71;color: black">**Creating multiline strings:**</span> <br>


To span a string multiple lines, you use triple-quotes <span style="background-color: #FFF971;color: red"> **“””**…**”””** </span> or <span style="background-color: #FFF971;color: red"> **”’**…**”’** </span>. For example:

In [50]:
# using triple-single quotes

help_message = '''
Usage: mysql command
    -h hostname     
    -d database name
    -u username
    -p password 
'''

print(help_message)

Usage: mysql command
    -h hostname
    -d database name
    -u username
    -p password

In [51]:
# using triple-double quotes

help_message = """
Usage: mysql command
    -h hostname     
    -d database name
    -u username
    -p password 
"""

print(help_message)

Usage: mysql command
    -h hostname
    -d database name
    -u username
    -p password

<br>

### 2. <span style="background-color: yellow;">String Formatting</span> <br>

<span style="background-color: #CAFEFD">Using the value of variables in Python strings with : </span>

1. ⇒ **format strings** widely known as **f-strings**
2. ⇒ **.format()** method

<br>

<span style="background-color: #C9FF71;color: black">**f-strings**</span>

In [52]:
name = 'Avinash'
message = 'Hi'

In [53]:
# To do it, you place the letter f before the opening quotation mark and put the brace around the variable name:

message = f'Hi {name}'
message

'Hi Avinash'

In [54]:
print('message ⇒ ', message)

message ⇒  Hi Avinash

In [55]:
# Using the value of 1 variable in Python strings with single quotes

country = 'India'
print(f'I am from {country}')

I am from India

In [56]:
# Using the value of 1 variable in Python strings with double quotes

print(f"My country's name is {country}")

My country's name is India

In [57]:
# Using the value of multiple variables in Python strings

name = 'Avinash'
country = 'India'
print(f"I am {name} and my country's name is {country}")

I am Avinash and my country's name is India

<br>

<span style="background-color: #C9FF71;color: black">**.format()**</span>

The format() method takes unlimited number of arguments, and are placed into the respective placeholders:

In [58]:
# Using the value of 1 variable in Python strings

country = 'India'
print("My country's name is {}".format(country))

My country's name is India

In [59]:
# Using the value of multiple variables in Python strings

name = 'Avinash'
country = 'India'
print("I am {} and my country's name is {}".format(name,country))

I am Avinash and my country's name is India

<br>

You can use index numbers <span style="background-color:yellow;color:red">&nbsp;**{0}**&nbsp;</span> to be sure the arguments are placed in the correct **placeholders**:

In [25]:
price = 49.95
print("The price is just {0}".format(price))

The price is just 49.95

In [26]:
price = 49.95
print("The price is just {1}".format(price))

IndexError: Replacement index 1 out of range for positional args tuple

In [25]:
quantity = 3
item_no = 567
price = 49.95
myorder = "I want to pay {2} dollars for {0} pieces of item {1}."
print(myorder.format(quantity, item_no, price))

I want to pay 49.95 dollars for 3 pieces of item 567.

In [27]:
myorder = "I want to pay {2} dollars for {0} pieces of item {1}."
print(myorder.format(quantity = 3, item_no = 567, price = 49.95))

IndexError: Replacement index 2 out of range for positional args tuple

In [28]:
print("I want to pay {2} dollars for {0} pieces of item {1}.".format(quantity = 3, item_no = 567, price = 49.95))

IndexError: Replacement index 2 out of range for positional args tuple

In [29]:
print("I want to pay {} dollars for {} pieces of item {}.".format(quantity = 3, item_no = 567, price = 49.95))

IndexError: Replacement index 0 out of range for positional args tuple

<br>

Placing the variable within the **placeholder** also works in the **.format()** method like it works in format string (**fstring** i.e., <span style="background-color:yellow"><span style="color: red">&nbsp;&nbsp;**f"**</span>**.....{variable1}.....{variable2}...**<span style="color: red">**"**&nbsp;&nbsp;</span></span>)

In [30]:
print("I want to pay {price} dollars for {quantity} pieces of item {item_no}.".format(quantity = 3, item_no = 567, price = 49.95))

I want to pay 49.95 dollars for 3 pieces of item 567.

In [31]:
txt = "For only {price:.2f} rupees!"
print(txt.format(price = 99))

For only 99.00 rupees!

In [33]:
print("For only {price:.2f} rupees!".format(price = 99))

For only 99.00 rupees!

<br>

<span style="background-color: #CAFEFD">&nbsp;It is advised to prefer **fstrings** because they are more readable.&nbsp;</span>

<br>

<br>

### 3. <span style="background-color: yellow;">Concatenating Python strings</span> <br>


When you place the **string literals** next to each other, Python **automatically** concatenates them into one string. For example:

In [60]:
greeting = 'Good ' 'Morning!'
print(greeting)

Good Morning!

<br>

To <span style="background-color: #CAFEFD">**concatenate two string variables** </span>, you use the operator <span style="background-color: #FFF971;color: red">  **+**  </span>:

In [61]:
greeting = 'Good '
time = 'Afternoon'

greeting = greeting + time + '!'
print(greeting)

Good Afternoon!

In [62]:
greeting = 'Good'
time = 'Night'
message = greeting + ' ' + time
print(message)

Good Night

<br>

### 4. <span style="background-color: yellow;">Accessing string elements</span> <br>

<span style="background-color: #CAFEFD">**Strings are Arrays** </span>. Like many other popular programming languages, strings in Python are arrays of bytes representing unicode characters.

However, Python does not have a character data type, a single character is simply a string with a length of 1.

**Square brackets** can be used to access elements of the string.

Since a string is a **sequence** of characters, you can access its elements using an **index**. The **first** character in the string has an **index of zero**.

In [63]:
str = "Python String"
print(str[0]) # P
print(str[1]) # y

P
y

<br>

If you use a **negative index**, Python returns the character **starting from the end of the string**. For example:

In [64]:
str = "Python String"
print(str[-1])  # g
print(str[-2])  # n

g
n

<br>

The following illustrates the indexes of the string <span style="background-color: #FFF971;color: red">  "Python String"  </span> : <br>



<div style="text-align: left; margin-left: -200px">
  
|  P  |  y  |  t  |  h  |  o  |  n  |     |  S  |  t  |  r  |  i  |  n |  g  | 
|-----|-----|-----|-----|-----|-----|-----|-----|-----|-----|-----|-----|-----|
|  0  |  1  |  2  |  3  |  4  |  5  |  6  |  7  |  8  |  9  | 10  |  11 |  12 |
| -13 | -12 | -11 | -10 |  -9 |  -8 |  -7 |  -6 |  -5 |  -4 |  -3 |  -2 |  -1 |

</div>

<br>

### 4. <span style="background-color: yellow;">Getting the length of a string</span> <br>

To get the length of a string, you use the <span style="background-color: #FFF971;color: red"> **len()** </span> function. For example:

In [65]:
str = "Python String"
str_len = len(str)
print(str_len)

13

<br>

### 5. <span style="background-color: yellow;">Slicing strings</span> <br>

Slicing allows you to get a <span style="color: blue"> **substring** </span> from a string. <br>

**string**[<span style="background-color: #FFF971;color: red"> **start**</span> **:** <span style="background-color: #FFF971;color: red"> **end**</span>] <br>

**string**[<span style="background-color: #FFF971;color: red"> **start**</span> **:** <span style="background-color: #FFF971;color: red"> **end**</span> **:**<span style="background-color: #FFF971;color: red"> **step**</span>] 

<br>

<span style="background-color: #CAFEFD">**Note :** </span> 
<br>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;⇒ The substring always **includes** the character at the <span style="background-color: #FFF971;color: red"> **start**</span> and **excludes** the string at the <span style="background-color: #FFF971;color: red"> **end**</span>. 
<br>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;⇒ The <span style="background-color: #FFF971;color: red"> **start**</span>, <span style="background-color: #FFF971;color: red"> **end**</span> and <span style="background-color: #FFF971;color: red"> **step**</span> all are **optional**. 
<br>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;⇒ If you omit the start, it <span style="color: blue"> defaults </span> to **zero**. 
<br>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;⇒ If you omit the end, it <span style="color: blue"> defaults </span> to the **string’s length**.
<br>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;⇒ If you omit the step, it <span style="color: blue"> defaults </span> to **1**.

<br>

In [10]:
str = "Python String"

# String[start]
print('str[1] ⇒', str[1])            # slice to the end

# String[start:]
print('str[1:] ⇒', str[1:])          # slice to the end

# String[start::]
print('str[1::] ⇒', str[1::])        # slice to the end

str[1] ⇒ y
str[1:] ⇒ ython String
str[1::] ⇒ ython String

In [9]:
str = "Python String"

# String[:end]
print(str[:8])         # slice from the start

# String[:end:]
print(str[:8:])        # slice from the start

Python S
Python S

In [68]:
# String[::step]

str = "Python String"
print(str[::2])

Pto tig

In [69]:
str = "Python String"

# String[start:end]
print(str[1:8])

# String[start:end:]
print(str[1:8:])

ython S
ython S

In [70]:
str = "Python String"

# String[:end:step]
print(str[:9:2])

Pto t

In [71]:
# String[start::step]

str = "Python String"
print(str[2::2])

to tig

In [72]:
# String[start:end:step]

str = "Python String"
print(str[0:9:2])

Pto t

<br>

<span style="background-color: #CAFEFD">&nbsp;Use **negative indexes** to start the slice from the end of the string:&nbsp;</span>

In [11]:
b = "Hello, World!"
print(b[-5:-2])

orl

<br>

### 6. <span style="background-color: yellow;">Python strings are immutable</span> <br>

It means that you **cannot change** the string. For example, you’ll get an <span style="color: red;">**error**</span> if you update one or more characters in a string: 
<br>

In [73]:
str = "Python String"
str[0] = 'J'

TypeError: 'str' object does not support item assignment

<br>

When want to modify a string, you need to create a new one from the existing string. For example:

In [74]:
str = "Python String" 
print('str ⇒', str)

# let us madify it to "Jython Strings"

new_str = "J" + str[1:]
print('new_str ⇒', new_str)

str ⇒ Python String
new_str ⇒ Jython String

In [75]:
str = "Python String" 
print('str ⇒', str)

# let us madify it to "Python Strings"

new_str = str[:len(str)] + 's'
print('new_str ⇒', new_str)

str ⇒ Python String
new_str ⇒ Python Strings

<br>

### 7. <span style="background-color: yellow;">Looping Through a String</span> <br>

Since **strings are arrays**, we can loop through the characters in a string, with a <span style="background-color: yellow;color:red"><strong> &nbsp;&nbsp; for &nbsp;&nbsp;</strong></span> loop.

In [3]:
for x in "Data Engineering":
  print(x)

D
a
t
a

E
n
g
i
n
e
e
r
i
n
g

<br>

### 8. <span style="background-color: yellow;">Check String</span> <br>

To check if a certain phrase or character is present in a string, we can use the keyword <span style="background-color: yellow;color:red"><strong> &nbsp;&nbsp; in &nbsp;&nbsp;</strong></span>.

In [4]:
# Check if "free" is present in the following text:

txt = "The best things in life are free!"
print("free" in txt)

True

<br>

Generally we use it (<span style="background-color: yellow;color:red"><strong> &nbsp;&nbsp; in &nbsp;&nbsp;</strong></span>) in an <span style="background-color: yellow;color:red"><strong> &nbsp;&nbsp; if &nbsp;&nbsp;</strong></span> statement:

In [5]:
# Print only if "free" is present:

txt = "The best things in life are free!"
if "free" in txt:
  print("Yes, 'free' is present.")

Yes, 'free' is present.

<br>

### 9. <span style="background-color: yellow;">Check if NOT</span> <br>

To check if a certain phrase or character is **NOT** present in a string, we can use the keyword <span style="background-color: yellow;color:red"><strong>&nbsp; not in &nbsp;</strong></span>.

In [6]:
# Check if "expensive" is NOT present in the following text:

txt = "The best things in life are free!"
print("expensive" not in txt)

True

<br>

Generally we use it (<span style="background-color: yellow;color:red"><strong> &nbsp;not in &nbsp;</strong></span>) in an <span style="background-color: yellow;color:red"><strong> &nbsp;&nbsp; if &nbsp;&nbsp;</strong></span> statement:

In [8]:
txt = "The best things in life are free!"
if "expensive" not in txt:
  print("No, 'expensive' is NOT present.")

No, 'expensive' is NOT present.

<br>

### 10. <span style="background-color: yellow;">Modify Strings</span> <br>


Some built-in methods that we can use on Python strings :  <br>

&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;⇒ <span style="background-color: yellow;color:red"><strong>&nbsp; upper() &nbsp;</strong></span>       <br>

&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;⇒ <span style="background-color: yellow;color:red"><strong>&nbsp; lower() &nbsp;</strong></span>       <br>

&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;⇒ <span style="background-color: yellow;color:red"><strong>&nbsp; strip() &nbsp;</strong></span>       <br>

&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;⇒ <span style="background-color: yellow;color:red"><strong>&nbsp; replace() &nbsp;</strong></span>     <br>

&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;⇒ <span style="background-color: yellow;color:red"><strong>&nbsp; split() &nbsp;</strong></span>       <br>

<br>

<span style="background-color: #F5C0FF">**Upper Case**</span>

In [12]:
# The upper() method returns the string in upper case:

a = "Hello, World!"
print(a.upper())

HELLO, WORLD!

<br>

<span style="background-color: #F5C0FF">**Lower Case**</span>

In [16]:
# The lower() method returns the string in lower case:

a = "Hello, World!"
print(a.lower())

hello, world!

<br>

<span style="background-color: #F5C0FF">**Remove Whitespace**</span>

Whitespace is the space before and/or after the actual text, and very often you want to remove this space.

In [17]:
#The strip() method removes any whitespace from the beginning or the end:

a = " Hello, World! "
print(a.strip()) # returns "Hello, World!"

Hello, World!

<br>

<span style="background-color: #F5C0FF">**Replace String**</span>

In [19]:
# The replace() method replaces a string with another string:

a = "Hello, World!"
print(a.replace("H", "J"))

Jello, World!

<br>

<span style="background-color: #F5C0FF">**Split String**</span>

The <span style="background-color: yellow;color:red"><strong>&nbsp; split() &nbsp;</strong></span> method returns a list where the text between the specified separator becomes the list items.

In [22]:
# The split() method splits the string into substrings if it finds instances of the separator:

a = "Hello, World!"
print(a.split(","))

['Hello', ' World!']

In [23]:
a = "Avinash Kumar Mishra"
print(a.split(" "))

['Avinash', 'Kumar', 'Mishra']

<br>

### 11. <span style="background-color: yellow;">Python - Escape Characters</span> <br>


<span style="background-color: #F5C0FF">**Escape Character**</span>

To insert characters that are illegal in a string, use an escape character.

An escape character is a **backslash** <span style="background-color: yellow;color:red"><strong>&nbsp; \\ &nbsp;</strong></span> followed by the character you want to insert.

In [1]:
# You will get an error if you use double quotes inside a string that is surrounded by double quotes:

txt = "AI can't replace humans, they are here to "assist" us"

SyntaxError: invalid syntax (1802775381.py, line 3)

<br>

To fix this problem, use the escape character <span style="background-color: yellow;color:red"><strong>&nbsp; \\" &nbsp;</strong></span> :

In [3]:
txt = "AI can't replace humans, they are here to \"assist\" us"

In [5]:
print(txt)

AI can't replace humans, they are here to "assist" us

<br>

<span style="background-color: #F5C0FF">**Other Escape Characters**</span>

<head>
    <style>
        table {
            border-collapse: collapse;
            width: 100%;
        }
        th, td {
            border: 1px solid black;
            padding: 8px;
            text-align: left;
        }
    </style>
</head>
<body>

<table>
    <thead>
        <tr>
            <th>Code</th>
            <th>Result</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td><span style="color:red"><strong>\\'</strong></span></td>
            <td><span style="color:blue"><strong>Single Quote</strong></span></td>
        </tr>
        <tr>
            <td><span style="color:red"><strong>\\\\</strong></span></td>
            <td><span style="color:blue"><strong>Backslash</strong></span></td>
        </tr>
        <tr>
            <td><span style="color:red"><strong>\\n</strong></span></td>
            <td><span style="color:blue"><strong>New Line</strong></span></td>
        </tr>
        <tr>
            <td><span style="color:red"><strong>\\r</strong></span></td>
            <td><span style="color:blue"><strong>Carriage Return</strong></span></td>
        </tr>
        <tr>
            <td><span style="color:red"><strong>\\t</strong></span></td>
            <td><span style="color:blue"><strong>Tab</strong></span></td>
        </tr>
        <tr>
            <td><span style="color:red"><strong>\\b</strong></span></td>
            <td><span style="color:blue"><strong>Backspace</strong></span></td>
        </tr>
        <tr>
            <td><span style="color:red"><strong>\\f</strong></span></td>
            <td><span style="color:blue"><strong>Form Feed</strong></span></td>
        </tr>
        <tr>
            <td><span style="color:red"><strong>\\\\\o</strong></span></td>
            <td><span style="color:blue"><strong>Octal Value</strong></span></td>
        </tr>
        <tr>
            <td><span style="color:red"><strong>\\xhh</strong></span></td>
            <td><span style="color:blue"><strong>Hex Value</strong></span></td>
        </tr>
    </tbody>
</table>

</body>
</html>

In [11]:
# Single Quote

txt = 'It\'s alright.'
print(txt)

It's alright.

In [12]:
# Backslash

txt = "This will insert one \\ (backslash)."
print(txt)

This will insert one \ (backslash).

In [13]:
# New Line

txt = "Hello\nWorld!"
print(txt)

Hello
World!

In [14]:
# Carriage Return

txt = "Hello\rWorld!"
print(txt)

World!

In [16]:
# Tab   (one tab is equal to four spaces)

txt = "Hello\tWorld!" 
print(txt)

Hello	World!

In [17]:
# Backspace

# This example erases one character (backspace):
txt = "Hello \bWorld!"
print(txt)

HelloWorld!

In [18]:
# Octal value

# A backslash followed by three integers will result in a octal value:
txt = "\110\145\154\154\157"
print(txt)

Hello

In [19]:
# Hex value

#A backslash followed by an 'x' and a hex number represents a hex value:
txt = "\x48\x65\x6c\x6c\x6f"
print(txt)

Hello

<br>

### 12. <span style="background-color: yellow;">Python - String Methods</span> <br>

| <span style="color: #00871A">Method</span>         | <span style="color: #00871A">Description</span>              |
|----------------|--------------------------------------------------------------------------------------------------|
| <span style="background-color: yellow; color:red"><strong>&nbsp;capitalize(&nbsp;)&nbsp;</strong></span> | <span style="color:blue">Converts the **first character to upper case** and the rest to lowercase</span> |
| <span style="background-color: yellow; color:red"><strong>&nbsp;casefold(&nbsp;)&nbsp;</strong></span> | <span style="color:blue">Converts the **string into lower case**</span> |
| <span style="background-color: yellow;color:red"><strong>&nbsp;center(&nbsp;</strong></span>&nbsp;**length[, fillchar]**&nbsp;<span style="background-color: yellow;color:red"><strong>&nbsp;)&nbsp;</strong></span> | <span style="color:blue">Returns a **center aligned string** of specified length, **padded with fillchar** <br> (whitespace <span style="background-color: yellow">**"&nbsp;&nbsp;"**</span> by default)</span> |
| <span style="background-color: yellow;color:red"><strong>&nbsp;count(&nbsp;</strong></span>&nbsp;**substring[, start[, end]]**&nbsp;<span style="background-color: yellow;color:red"><strong>&nbsp;)&nbsp;</strong></span> | <span style="color:blue">Returns the **number of occurrences** of **substring** in the string</span> |
| <span style="background-color: yellow;color:red"><strong>&nbsp;encode(&nbsp;</strong></span>&nbsp;**[encoding[, errors]]**&nbsp;<span style="background-color: yellow;color:red"><strong>&nbsp;)&nbsp;</strong></span> | <span style="color:blue">Returns an encoded version of the string</span> |
| <span style="background-color: yellow;color:red"><strong>endswith(&nbsp;</strong></span>&nbsp;**suffix[, start[, end]]**<span style="background-color: yellow;color:red"><strong>&nbsp;)&nbsp;</strong></span> | <span style="color:blue">Returns **True if the string ends with the specified suffix**; otherwise, False</span> |
| <span style="background-color: yellow;color:red"><strong>&nbsp;expandtabs(&nbsp;</strong></span>&nbsp;**tabsize**&nbsp;<span style="background-color: yellow;color:red"><strong>&nbsp;)&nbsp;</strong></span> | <span style="color:blue">Sets the tab size of the string</span> |
| <span style="background-color: yellow;color:red"><strong>&nbsp;find(&nbsp;</strong></span>&nbsp;**substring[, start[, end]]**&nbsp;<span style="background-color: yellow;color:red"><strong>&nbsp;)&nbsp;</strong></span> | <span style="color:blue">Returns the **lowest index** in the string where **substring** is found, or **-1** if not found</span> |
| <span style="background-color: yellow;color:red"><strong>&nbsp;format(&nbsp;</strong></span>&nbsp;***args, kwargs**&nbsp;<span style="background-color: yellow;color:red"><strong>&nbsp;)&nbsp;</strong></span> | <span style="color:blue">Formats the string using positional and keyword arguments</span> |
| <span style="background-color: yellow;color:red"><strong>&nbsp;format_map(&nbsp;</strong></span>&nbsp;**mapping**<span style="background-color: yellow;color:red"><strong>&nbsp;)&nbsp;</strong></span> | <span style="color:blue">Formats the string using the values from a mapping object</span>  |
| <span style="background-color: yellow;color:red"><strong>&nbsp;index(&nbsp;</strong></span>&nbsp;**substring[, start[, end]]**<span style="background-color: yellow;color:red"><strong>&nbsp;)&nbsp;</strong></span> | <span style="color:blue">Returns the **lowest index** in the string where **substring** is found, or raises **ValueError** if not found</span> |
| <span style="background-color:yellow;color:red"><strong>&nbsp;isalnum(&nbsp;)&nbsp;</strong></span> | <span style="color:blue">Returns **True** if **all characters** in the string are alphanumeric (**letters** and **digits**); otherwise, False</span> |
| <span style="background-color:yellow;color:red"><strong>&nbsp;isalpha(&nbsp;)&nbsp;</strong></span> | <span style="color:blue">Returns **True** if **all characters** in the string are alphabetic (**letters**); otherwise, False</span> |
| <span style="background-color:yellow;color:red"><strong>&nbsp;isascii(&nbsp;)&nbsp;</strong></span> | <span style="color:blue">Returns **True** if **all characters** in the string are **ascii characters**; otherwise, False</span> |
| <span style="background-color:yellow;color:red"><strong>&nbsp;isdecimal(&nbsp;)&nbsp;</strong></span> | <span style="color:blue">Returns **True** if **all characters** in the string are decimals (**0-9**); otherwise, False</span> |
| <span style="background-color:yellow;color:red"><strong>&nbsp;isdigit(&nbsp;)&nbsp;</strong></span> | <span style="color:blue">Returns **True** if **all characters** in the string are **digits**</span> |
| <span style="background-color:yellow;color:red"><strong>&nbsp;isidentifier(&nbsp;)&nbsp;</strong></span> | <span style="color:blue">Returns **True** if the string is a **valid identifier**; otherwise, False</span> |
| <span style="background-color:yellow;color:red"><strong>&nbsp;islower(&nbsp;)&nbsp;</strong></span> | <span style="color:blue">Returns **True** if **all characters** in the string are **lower** case; otherwise, False</span> |
| <span style="background-color:yellow;color:red"><strong>&nbsp;isnumeric(&nbsp;)&nbsp;</strong></span> | <span style="color:blue">Returns **True** if **all characters** in the string are **numeric**; otherwise, False</span> |
| <span style="background-color:yellow;color:red"><strong>&nbsp;isprintable(&nbsp;)&nbsp;</strong></span> | <span style="color:blue">Returns **True** if **all characters** in the string are **printable**; otherwise False</span> |
| <span style="background-color:yellow;color:red"><strong>&nbsp;isspace(&nbsp;)&nbsp;</strong></span> | <span style="color:blue">Returns **True** if **all characters** in the string are **whitespaces**; otherwise False;</span> |
| <span style="background-color:yellow;color:red"><strong>&nbsp;istitle(&nbsp;)&nbsp;</strong></span> | <span style="color:blue">Returns **True** if the string is in **title case**; otherwise False</span> |
| <span style="background-color:yellow;color:red"><strong>&nbsp;isupper(&nbsp;)&nbsp;</strong></span> | <span style="color:blue">Returns **True** if **all characters** in the string are **upper case**; otherwise False</span> |
| <span style="background-color: yellow;color:red"><strong>&nbsp;join(&nbsp;</strong></span>&nbsp;**iterable**&nbsp;<span style="background-color: yellow;color:red"><strong>&nbsp;)&nbsp;</strong></span> | <span style="color:blue">Joins the elements of an iterable to the **end of the string** <br> Or in simple words, it **concatenates** the strings in the iterable using the string as a **separator**</span> |
| <span style="background-color: yellow;color:red"><strong>&nbsp;ljust(&nbsp;</strong></span>&nbsp;**length[, fillchar]**&nbsp;<span style="background-color: yellow;color:red"><strong>&nbsp;)&nbsp;</strong></span> | <span style="color:blue">Returns a **left-justified string** of specified length, **padded with fillchar** on the **right side** <br> (whitespace <span style="background-color: yellow">**"&nbsp;&nbsp;"**</span> by default)</span> |
| <span style="background-color:yellow;color:red"><strong>&nbsp;lower(&nbsp;)&nbsp;</strong></span> | <span style="color:blue">Returns a **copy** of the string converted to **lowercase**</span> |
| <span style="background-color: yellow;color:red"><strong>&nbsp;lstrip(&nbsp;</strong></span>&nbsp;**[chars]**&nbsp;<span style="background-color: yellow;color:red"><strong>&nbsp;)&nbsp;</strong></span> | <span style="color:blue">Returns a **copy** (left trim version) of the string with **leading characters removed** from the **left side** <br> (whitespace <span style="background-color: yellow">**"&nbsp;&nbsp;"**</span> by default)</span> |
|  <span style="background-color: yellow;color:red"><strong>&nbsp;maketrans(&nbsp;</strong></span>&nbsp;**x[, y[, z]]**&nbsp;<span style="background-color: yellow;color:red"><strong>&nbsp;)&nbsp;</strong></span> | <span style="color:blue">Returns a **translation table** usable for **str.translate()**</span> |
| <span style="background-color: yellow;color:red"><strong>&nbsp;partition(&nbsp;</strong></span>&nbsp;**separator**&nbsp;<span style="background-color: yellow;color:red"><strong>&nbsp;)&nbsp;</strong></span> | <span style="color:blue">Splits the string at the **first occurrence** of **separator** and returns a **tuple** containing <br> the **left part** before the separator, the **separator** itself, and the **right part** after the separator</span> |
| <span style="background-color: yellow;color:red"><strong>&nbsp;replace(&nbsp;</strong></span>&nbsp;**old, new[, count]**&nbsp;<span style="background-color: yellow;color:red"><strong>&nbsp;)&nbsp;</strong></span> | <span style="color:blue">Returns a **copy** of the string with **all occurrences of old** replaced by **new** (**up to count** if specified)</span> |
| <span style="background-color: yellow;color:red"><strong>&nbsp;rfind(&nbsp;</strong></span>&nbsp;**substring[, start[, end]]**&nbsp;<span style="background-color: yellow;color:red"><strong>&nbsp;)&nbsp;</strong></span> | <span style="color:blue">Searches for the **last occurrence** of the **substring** within the string and <br> returns the **highest index** in the string where **substring** is found, or **-1** if not found</span> |
| <span style="background-color: yellow;color:red"><strong>&nbsp;rindex(&nbsp;</strong></span>&nbsp;**substring[, start[, end]]**&nbsp;<span style="background-color: yellow;color:red"><strong>&nbsp;)&nbsp;</strong></span> | <span style="color:blue">Searches for the **last occurrence** of the **substring** within the string and <br> returns the **highest index** in the string where **substring** is found, or raises a **ValueError** if not found</span> |
| <span style="background-color: yellow;color:red"><strong>&nbsp;rjust(&nbsp;</strong></span>&nbsp;**length[, fillchar]**&nbsp;<span style="background-color: yellow;color:red"><strong>&nbsp;)&nbsp;</strong></span> | <span style="color:blue">Returns a **right-justified string** of specified length, **padded with fillchar** on the **left side** <br> (whitespace <span style="background-color: yellow">**"&nbsp;&nbsp;"**</span> by default)</span> |
| <span style="background-color: yellow;color:red"><strong>&nbsp;rpartition(&nbsp;</strong></span>&nbsp;**separator**&nbsp;<span style="background-color: yellow;color:red"><strong>&nbsp;)&nbsp;</strong></span> | <span style="color:blue">Splits the string at the **last occurrence** of **separator** and returns a **tuple** containing <br> the **left part** before the separator, the **separator** itself, and the **right part** after the separator</span> |
| <span style="background-color: yellow;color:red"><strong>&nbsp;rsplit(&nbsp;</strong></span>&nbsp;**separator**&nbsp;=&nbsp;<span style="background-color:#E8DAEF">None</span>**&nbsp;, maxsplit**&nbsp;=&nbsp;<span style="background-color:#E8DAEF">-1</span>&nbsp;<span style="background-color: yellow;color:red"><strong>&nbsp;)&nbsp;</strong></span> | <span style="color:blue"><span style="color:blue">Splits a string into a list of strings from the **right side** <br> Here **maxsplit** represents the **maximum number of splits** <br> Default **separator** is any **whitespace** and default **maxsplit** is **-1**, which is **"all occurrences"**</span></span> |
| <span style="background-color: yellow;color:red"><strong>&nbsp;rstrip(&nbsp;</strong></span>&nbsp;**[chars]**&nbsp;<span style="background-color: yellow;color:red"><strong>&nbsp;)&nbsp;</strong></span> | <span style="color:blue">Returns a **copy** (right trim version) of the string with **trailing characters removed** from the **right side** <br> (whitespace <span style="background-color: yellow">**"&nbsp;&nbsp;"**</span> by default)</span> |
| <span style="background-color: yellow;color:red"><strong>&nbsp;split(&nbsp;</strong></span>&nbsp;**separator**&nbsp;=&nbsp;<span style="background-color:#E8DAEF">None</span>**&nbsp;, maxsplit**&nbsp;=&nbsp;<span style="background-color:#E8DAEF">-1</span>&nbsp;<span style="background-color: yellow;color:red"><strong>&nbsp;)&nbsp;</strong></span> | <span style="color:blue"><span style="color:blue">Splits a string into a list of strings from the **left side** <br> Here **maxsplit** represents the **maximum number of splits** <br> Default **separator** is any **whitespace** and default **maxsplit** is **-1**, which is **"all occurrences"**</span></span> |
| <span style="background-color: yellow;color:red"><strong>&nbsp;splitlines(&nbsp;</strong></span>&nbsp;**keeplinebreaks**&nbsp;<span style="background-color: yellow;color:red"><strong>&nbsp;)&nbsp;</strong></span> | <span style="color:blue">Splits a string into a **list of lines** <br> In other words, it splits the string at **line breaks** and returns a **list** <br> The parameter **keeplinesbreak** specifies if the line breaks should be included (**True**), or not (**False**) <br> Default value is **False**</span> |
| <span style="background-color: yellow;color:red"><strong>startswith(&nbsp;</strong></span>&nbsp;**prefix[, start[, end]]**<span style="background-color: yellow;color:red"><strong>&nbsp;)&nbsp;</strong></span> | <span style="color:blue">Returns **True if the string starts with the specified prefix**; otherwise, False</span> |
| <span style="background-color: yellow;color:red"><strong>&nbsp;strip(&nbsp;</strong></span>&nbsp;**[chars]**&nbsp;<span style="background-color: yellow;color:red"><strong>&nbsp;)&nbsp;</strong></span> | <span style="color:blue">Returns a **copy** (trimmed from **both left and right side**) of the string with **leading** and **trailing** characters removed <br> (whitespace <span style="background-color: yellow">**"&nbsp;&nbsp;"**</span> by default)</span> |
| <span style="background-color: yellow;color:red"><strong>swapcase(&nbsp;)</strong></span> | <span style="color:blue">**Swaps** cases, returns a **copy** of the string with **uppercase** characters converted to **lowercase** and **vice versa**</span> |
| <span style="background-color: yellow;color:red"><strong>title(&nbsp;)</strong></span> | <span style="color:blue">Returns a **copy** of the string with the first character of each word capitalized<br>Converts the **first character** of **each word** to **upper case**</span> |
| <span style="background-color: yellow;color:red"><strong>translate(&nbsp;)</strong></span> | <span style="color:blue">Returns a **translated string** using a **translation table**</span> |
| <span style="background-color: yellow;color:red"><strong>upper(&nbsp;)</strong></span> | <span style="color:blue">Returns a **copy** of the string converted to **uppercase**</span> |
| <span style="background-color: yellow;color:red"><strong>&nbsp;zfill(&nbsp;</strong></span>&nbsp;**length**&nbsp;<span style="background-color: yellow;color:red"><strong>&nbsp;)&nbsp;</strong></span> | <span style="color:blue">Pads a numeric string with **zeros** on the **left side** to make it a **specified length** <br> In other words, it fills the string with a specified number of **0** values at the **beginning**</span> |

<br>

### <span style="background-color: #CAFEFD;">Summary :</span>

&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;⇒ In Python, a string is a series of characters. Also, Python strings are **immutable**. <br>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;⇒ Use quotes, either **single** quotes or **double** quotes to create string literals. <br>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;⇒ Use the **backslash character** <span style="background-color: yellow;color: red"><strong> \\ </strong></span> to escape quotes in strings. <br>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;⇒ Use **raw strings** <span style="background-color: yellow;color: red"><strong> r'...' </strong></span> to escape the backslash character. <br>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;⇒ Use **f-strings** or **.format()** to insert substitute variables in literal strings. <br>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;⇒ Place literal strings <span style="color: blue">next to each other</span> to **concatenate** them. And use the <span style="background-color: yellow;color: red"><strong> + </strong></span> operator to **concatenate** string variables. <br>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;⇒ Use the <span style="background-color: yellow;color: red"><strong> len() </strong></span> function to get the size of a string. <br>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;⇒ Use the <span style="background-color: yellow;color: red"><strong> str[n] </strong></span> to access the character at the position n of the string str. <br>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;⇒ Use **slicing** to extract a **substring** from a string. <br>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;⇒ use <span style="background-color: yellow;color:red"><strong> &nbsp;&nbsp; for &nbsp;&nbsp;</strong></span> loop to loop through the characters in a string. <br>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;⇒ use <span style="background-color: yellow;color:red"><strong> &nbsp;&nbsp; in &nbsp;&nbsp;</strong></span> and <span style="background-color: yellow;color:red"><strong> &nbsp;&nbsp; not in &nbsp;&nbsp;</strong></span> to **check** if a certain phrase or character is **present or not** in a string.

<br>

<br>

# <u>Numbers</u>

<br>

Python supports **integers**, **floats**, and **complex numbers**. 

### <span style="background-color: yellow;">Underscores in numbers</span>

When a number is large, it’ll become difficult to read. For example:

In [76]:
count = 10000000000

To make the long numbers **more readable**, you can group digits using **underscores**, like this:

In [77]:
count = 10_000_000_000

When storing these values, Python just **ignores** the **underscores**. It does so when displaying the numbers with underscores on the screen:

In [78]:
count = 10_000_000_000
print(count)

10000000000

<br>

<span style="background-color: #CAFEFD"> **Note :**</span>

&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;⇒ The underscores also work for both **integers** and **floats**. <br>

&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;⇒ Use the underscores to <span style="color: blue;">group</span> numbers for the **large** numbers. <br>

<br>

<br>

# <u>Boolean</u>

<br>

The boolean data type has two values: <span style="background-color: yellow;color: red"><strong> True </strong></span> and  <span style="background-color: yellow;color: red"><strong> False </strong></span> which start with the capital letters (<span style="background-color: yellow;color: red"><strong> T </strong></span>) and (<span style="background-color: yellow;color: red"><strong> F </strong></span>) respectively.

In [79]:
is_active = True
is_admin = False

<br>

When you compare two **numbers**, Python returns the result as a boolean value. For example:

In [80]:
print("20 > 10 returns", 20 > 10)

print("20 < 10 returns", 20 < 10)

20 > 10 returns True
20 < 10 returns False

<br>

Also, comparing two strings results in a boolean value:

In [81]:
print("'a' < 'b' returns ", 'a' < 'b')

print("'a' > 'b' returns ", 'a' > 'b')

'a' < 'b' returns  True
'a' > 'b' returns  False

<br>

### 1. <span style="background-color: yellow;">The bool() function</span> <br>

To find out if a value is <span style="background-color: yellow;color: red"><strong> True </strong></span> or <span style="background-color: yellow;color: red"><strong> False </strong></span>, you use the <span style="color: red"><strong> bool() </strong></span> function. For example:

In [82]:
bool('Hi')

True

In [83]:
bool('')

False

In [84]:
bool(100)

True

In [85]:
bool(0)

False

In [86]:
bool(-100)

True

<br>

### 2. <span style="background-color: yellow;">Falsy and Truthy values</span> <br>

When a value evaluates to <span style="background-color: yellow;color: red"><strong> True </strong></span>, it’s **truthy**. And if a value evaluates to <span style="background-color: yellow;color: red"><strong> False </strong></span>, it’s **falsy**.

<br>

The following are **falsy** values in Python:

&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;⇒ The number zero (<span style="background-color: #CAFEFD"><strong> 0 </strong></span>) <br>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;⇒ An empty string <span style="background-color: #CAFEFD"><strong> '' </strong></span> <br>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;⇒ <span style="background-color: #CAFEFD"><strong> False </strong></span> <br>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;⇒ <span style="background-color: #CAFEFD"><strong> None </strong></span> <br>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;⇒ An empty list <span style="background-color: #CAFEFD"><strong> [] </strong></span> <br>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;⇒ An empty tuple <span style="background-color: #CAFEFD"><strong> () </strong></span> <br>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;⇒ An empty dictionary <span style="background-color: #CAFEFD"><strong> {} </strong></span> 

<br>

The truthy values are the other values that aren’t falsy.

<br>

# <u>Constants</u>

Sometimes, you may want to store values in variables. But you don’t want to change these values throughout the execution of the program.

The bad news is that <span style="color: blue">Python doesn’t support constants</span>.

To work around this, you use **all capital letters** to name a variable to indicate that the variable should be treated as a constant. For example:

In [87]:
FILE_SIZE_LIMIT = 2000

<br>

<span style="background-color: #CAFEFD"> **Note :**</span>
When encountering variables like these, you should not change their values. These variables are <span style="color: blue"><strong> constant by convention </strong></span>, **not by rules**.

<br>

# <u>Type Conversion</u>

<br>

### 1. <span style="background-color: yellow;">Introduction to type conversion in Python</span> <br>

To get input from users, you use the <span style="background-color: yellow;color: red"><strong> input() </strong></span> function. For example:

In [27]:
value = input('Enter a value:')
print("You entered ",value)

Enter a value: 10

You entered  10

However, the <span style="background-color: yellow;color: red"><strong> input() </strong></span> function <span style = "background-color: #CAFEFD">returns a **string**, not an integer</span>.

Let's verify:

In [29]:
salary = input("Enter your current salary ($): ")
hike = input("Enter the hike rate (%): ")

new_salary = salary + (salary * hike/100)

print(f"Your new salary is ${new_salary}")

Enter your current salary ($):  1200000
Enter the hike rate (%):  80

TypeError: can't multiply sequence by non-int of type 'str'

<br>

<span style="color: blue">Since the input values are **strings**, you cannot apply the **multiply** operator.</span>

To solve this issue, you need to **convert the strings to numbers** before performing calculations.

<span style="background-color: #CAFEFD"> **Note :**</span> The <span style="background-color: yellow;color: red"><strong> float() </strong></span> function converts a string to a float.

In [150]:
salary = input("Enter your current salary ($): ")
hike = input("Enter the hike rate (%): ")

new_salary = float(salary) + (float(salary) * float(hike)/100)

print(f"Your new salary is ${new_salary}")

Enter your current salary ($):  1200000
Enter the hike rate (%):  80

Your new salary is $2160000.0

In [151]:
# Instead of converting the input type so many times in an expression, we can convert it right away in the begining itself:

salary = float(input("Enter your current salary ($): "))
hike = float(input("Enter the hike rate (%): "))

new_salary = salary + (salary * hike / 100)

print(f"Your new salary is ${new_salary}")

Enter your current salary ($):  1200000
Enter the hike rate (%):  80

Your new salary is $2160000.0

<br>

### 2. <span style="background-color: yellow;">Type conversion functions</span> <br>

&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Most important ones:


&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;⇒ <span style="background-color: yellow;color: red"><strong> int( </strong></span><span style="color: blue">**str**</span><span style="background-color: yellow;color: red"><strong> ) </strong></span> – convert a string to an integer. <br>

&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;⇒ <span style="background-color: yellow;color: red"><strong> float( </strong></span><span style="color: blue">**str**</span><span style="background-color: yellow;color: red"><strong> ) </strong></span> – convert a string to a floating-point number. <br>

&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;⇒ <span style="background-color: yellow;color: red"><strong> bool( </strong></span><span style="color: blue">**val**</span><span style="background-color: yellow;color: red"><strong> ) </strong></span> - convert a value to a boolean value, either True or False. <br>

&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;⇒ <span style="background-color: yellow;color: red"><strong> str( </strong></span><span style="color: blue">**val**</span><span style="background-color: yellow;color: red"><strong> ) </strong></span> - return the string representation of a value. <br>

<br>

In [91]:
int("10")

10

In [92]:
int(10.5)

10

In [93]:
# ValueError: invalid literal for int() with base 10: '10.5'

int("10.5")

ValueError: invalid literal for int() with base 10: '10.5'

In [94]:
# ValueError: invalid literal for int() with base 10: 'ten'

int("ten")

ValueError: invalid literal for int() with base 10: 'ten'

In [95]:
float(10)

10.0

In [96]:
float("10")

10.0

In [97]:
float("10.5")

10.5

In [98]:
float("ten")

ValueError: could not convert string to float: 'ten'

In [99]:
bool(4)

True

In [100]:
bool("4")

True

In [101]:
bool("")

False

In [102]:
bool([])

False

In [103]:
bool({})

False

<br>


================================================================================================================
<br>

<br>

<span style="background-color: yellow;color: red"><strong> int( </strong></span><span style="color: blue">**str**</span><span style="background-color: yellow;color: red"><strong> ) </strong></span>

<br>

In [104]:
# convert a FLOAT to an INTEGER
print(int(3.14))                      # Output: 3


# convert a STRING to an INTEGER
print(int('five'))                    # ValueError: invalid literal for int() with base 10: 'five'
print(int("5"))                       # Output: 5


# convert a BOOLEAN to an INTEGER
print(int(True))                      # Output: 1


# convert a LIST to an INTEGER
print(int([1,2,3]))                   # Output: TypeError: int() argument must be a string, a bytes-like object or a real number, not 'list'


# convert an INTEGER to an INTEGER
print(int(10))                        # Output: 10

3

ValueError: invalid literal for int() with base 10: 'five'

<br>

<br>

<span style="background-color: #CAFEFD"> However, it's important to note that if you **overwrite** the built-in '<span style="background-color: #CAFEFD;color: red">**int**</span>' function with some value (**assigned to a variable named '<span style="background-color: #CAFEFD;color: red">int</span>'**), you might encounter a '<span style="background-color: yellow;color: red">**TypeError**</span>' when trying to call '<span style="background-color: #CAFEFD;color: red">**int()**</span>.'</span>

For Example:

In [105]:
int = 5

<br>

As soon as the Python Interpreter interprets the **data type** of the value <span style="color: red">**5**</span> assigned, it first creates an <span style="background-color: yellow">**int object** (inside a portion of the RAM allocated for the **HEAP**) holding the value <span style="color: red">**5**</span></span> and then creates a <span style="background-color: yellow">**variable** (inside another portion of the RAM allocated for the **STACK**) with the name <span style="color: blue"> **int** </span> for holding the <span style="color: red">**address**</span> of this **int object**</span>.

<br>

In [106]:
# convert a FLOAT to an INTEGER
print(int(3.14))                     # TypeError: 'int' object is not callable


# convert a STRING to an INTEGER
print(int('five'))                   # TypeError: 'int' object is not callable
print(int("5"))                      # TypeError: 'int' object is not callable


# convert a BOOLEAN to an INTEGER
print(int(True))                     # TypeError: 'int' object is not callable


# convert a LIST to an INTEGER
print(int([1,2,3]))                  # TypeError: 'int' object is not callable


# convert an INTEGER to an INTEGER
print(int(10))                       # TypeError: 'int' object is not callable          # even FLOAT ⇒ FLOAT throws error

TypeError: 'int' object is not callable

<br>


================================================================================================================
<br>

<br>

<span style="background-color: yellow;color: red"><strong> float( </strong></span><span style="color: blue">**str**</span><span style="background-color: yellow;color: red"><strong> ) </strong></span>

<br>

In [107]:
# convert an INTEGER to a FLOAT
print(float(4))                        # Output: 4.0


# convert a STRING to a FLOAT
print(float('three point one four'))   # ValueError: could not convert string to float: 'three point one four'
print(float("3.14"))                   # Output: 3.14


# convert a BOOLEAN to a FLOAT
print(float(True))                      # Output: 1.0


# convert a LIST to a FLOAT
print(float([1,2,3]))                  # TypeError: float() argument must be a string or a real number, not 'list'


# convert a FLOAT to a FLOAT
print(float(3.14))                     # Output: 3.14

4.0

ValueError: could not convert string to float: 'three point one four'

<br>

<br>

<span style="background-color: #CAFEFD"> Now if you try to **overwrite** the built-in '<span style="background-color: #CAFEFD;color: red">**float**</span>' function with some value (**assigned to a variable named '<span style="background-color: #CAFEFD;color: red">float</span>'**), you might encounter a '<span style="background-color: yellow;color: red">**TypeError**</span>' when trying to call '<span style="background-color: #CAFEFD;color: red">**float()**</span>.'</span>

For Example:

In [108]:
float = 3.14

<br>

As soon as the Python Interpreter interprets the **data type** of the value <span style="color: red">**3.14**</span> assigned, it first creates an <span style="background-color: yellow">**int object** (inside a portion of the RAM allocated for the **HEAP**) holding the value <span style="color: red">**3.14**</span></span> and then creates a <span style="background-color: yellow">**variable** (inside another portion of the RAM allocated for the **STACK**) with the name <span style="color: blue"> **float** </span> for holding the <span style="color: red">**address**</span> of this **int object**</span>.

<br>

In [109]:
# convert an INTEGER to a FLOAT
print(float(4))                        # TypeError: 'float' object is not callable


# convert a STRING to a FLOAT
print(float('three point one four'))   # TypeError: 'float' object is not callable
print(float("3.14"))                   # TypeError: 'float' object is not callable


# convert a BOOLEAN to a FLOAT
print(float(True))                    # TypeError: 'float' object is not callable


# convert a LIST to a FLOAT
print(float([1,2,3]))                  # TypeError: 'float' object is not callable


# convert a FLOAT to a FLOAT
print(float(3.14))                     # TypeError: 'float' object is not callable          # even FLOAT ⇒ FLOAT throws error

TypeError: 'float' object is not callable

<br>


================================================================================================================
<br>

<br>

<span style="background-color: yellow;color: red"><strong> bool( </strong></span><span style="color: blue">**val**</span><span style="background-color: yellow;color: red"><strong> ) </strong></span>

<br>

In [110]:
# convert an INTEGER to a BOOLEAN
print(bool(4))                       # Output: True          # Because 4 is a truthy value


# convert a FLOAT to a BOOLEAN
print(bool(3.14))                    # Output: True          # Because 3.14 is a truthy value


# convert a STRING to a BOOLEAN
print(bool('true'))                  # Output: True          # Because 'true' is a truthy value
print(bool('false'))                 # Output: True          # Because 'false' is a truthy value
print(bool('Data Engineering'))      # Output: True          # Because 'Data Engineering' is a truthy value


# convert a LIST to a BOOLEAN
print(bool([1,2,3]))                 # Output: True          # Because [1,2,3] is a truthy value


# convert a BOOLEAN to a BOOLEAN
print(bool(False))                   # Output: False         # Because False is a falsy value

True
True
True
True
True
True
False

<br>

<br>

<span style="background-color: #CAFEFD"> Now if you try to **overwrite** the built-in '<span style="background-color: #CAFEFD;color: red">**bool**</span>' function with some value (**assigned to a variable named '<span style="background-color: #CAFEFD;color: red">bool</span>'**), you might encounter a '<span style="background-color: yellow;color: red">**TypeError**</span>' when trying to call '<span style="background-color: #CAFEFD;color: red">**bool()**</span>.'</span>

For Example:

In [111]:
bool = True

<br>

As soon as the Python Interpreter interprets the **data type** of the value <span style="color: red">**True**</span> assigned, it first creates an <span style="background-color: yellow">**int object** (inside a portion of the RAM allocated for the **HEAP**) holding the value <span style="color: red">**True**</span></span> and then creates a <span style="background-color: yellow">**variable** (inside another portion of the RAM allocated for the **STACK**) with the name <span style="color: blue"> **bool** </span> for holding the <span style="color: red">**address**</span> of this **int object**</span>.

<br>

In [112]:
# convert an INTEGER to a BOOLEAN
print(bool(4))                        # TypeError: 'bool' object is not callable


# convert a FLOAT to a BOOLEAN
print(bool(3.14))                     # TypeError: 'bool' object is not callable


# convert a STRING to a BOOLEAN
print(bool('true'))                   # TypeError: 'bool' object is not callable
print(bool('false'))                  # TypeError: 'bool' object is not callable
print(bool('Data Engineering'))       # TypeError: 'bool' object is not callable  


# convert a LIST to a BOOLEAN
print(bool([1,2,3]))                  # TypeError: 'bool' object is not callable


# convert a BOOLEAN to a BOOLEAN
print(bool(False))                    # TypeError: 'bool' object is not callable          # even BOOLEAN ⇒ BOOLEAN throws error

TypeError: 'bool' object is not callable

<br>


================================================================================================================
<br>

<br>

<span style="background-color: yellow;color: red"><strong> str( </strong></span><span style="color: blue">**val**</span><span style="background-color: yellow;color: red"><strong> ) </strong></span>

<br>

In [113]:
# convert an INTEGER to a STRING
print(str(4))                            # Output: 4


# convert a FLOAT to a STRING
print(str(3.14))                         # Output: 3.14


# convert a BOOLEAN to a STRING
print(str(True))                         # Output: True


# convert a LIST to a STRING
print(str([1,2,3]))                      # Output: [1,2,3]


# convert a STRING to a STRING
print(str("Data Engineering is fun"))   # Output: Data Engineering is fun
print(str("Data Science is also fun"))  # Output: Data Engineering is also fun
print(str("three point one four"))        # Output: three point one four
print(str("3.14"))                      # Output: 3.14

TypeError: 'str' object is not callable

<br>

<br>

<span style="background-color: #CAFEFD"> Now if you try to **overwrite** the built-in '<span style="background-color: #CAFEFD;color: red">**str**</span>' function with some value (**assigned to a variable named '<span style="background-color: #CAFEFD;color: red">str</span>'**), you might encounter a '<span style="background-color: yellow;color: red">**TypeError**</span>' when trying to call '<span style="background-color: #CAFEFD;color: red">**str()**</span>.'</span>

For Example:

In [114]:
str = "Data Engineering is fun."

<br>

As soon as the Python Interpreter interprets the **data type** of the value <span style="color: red">**"Data Engineering is fun"**</span> assigned, it first creates an <span style="background-color: yellow">**int object** (inside a portion of the RAM allocated for the **HEAP**) holding the value <span style="color: red">**"Data Engineering is Fun"**</span></span> and then creates a <span style="background-color: yellow">**variable** (inside another portion of the RAM allocated for the **STACK**) with the name <span style="color: blue"> **str** </span> for holding the <span style="color: red">**address**</span> of this **int object**</span>.

<br>

In [115]:
# convert an INTEGER to a STRING
print(str(4))                            # TypeError: 'str' object is not callable


# convert a FLOAT to a STRING
print(str(3.14))                         # TypeError: 'str' object is not callable


# convert a BOOLEAN to a STRING
print(str(True))                         # TypeError: 'str' object is not callable


# convert a LIST to a STRING
print(str([1,2,3]))                      # TypeError: 'str' object is not callable


# convert a STRING to a STRING
print(str("Data Science is also fun"))   # TypeError: 'str' object is not callable
print(str("Data Science is also fun"))   # TypeError: 'str' object is not callable
print(str("three point one four"))       # TypeError: 'str' object is not callable
print(str("3.14"))                       # TypeError: 'str' object is not callable

TypeError: 'str' object is not callable

<br>

<span style="background-color: #C9FF71;color: black">**Note**</span> :-

<div style="margin-left: 20px">

You can <span style="color: blue">**avoid**</span> these kind of <span style="background-color: yellow;color: red">**TypeError**</span>s and <span style="color: blue">**restore**</span> the original functionality of these **Type Conversion Functions** <span style="color: red">**int()**</span>, <span style="color: red">**float()**</span>, <span style="color: red">**boolean()**</span> and <span style="color: red">**str()**</span>
by <span style="color: blue">**deleting the variable you've assigned**</span>.

</div>

In [116]:
int = 5                               # creating a variable with the name int to point to the int object holding the value 5 

del int                               # deleting the variable assigned


# convert a FLOAT to an INTEGER
print(int(3.14))                      # Output: 3


# convert a STRING to an INTEGER
#print(int('five'))                   # ValueError: invalid literal for int() with base 10: 'five'
print(int("5"))                       # Output: 5


# convert a BOOLEAN to an INTEGER
print(int(True))                      # Output: 1


# convert a LIST to an INTEGER
#print(int([1,2,3]))                   # TypeError: int() argument must be a string, a bytes-like object or a real number, not 'list'


# convert an INTEGER to an INTEGER
print(int(10))                         # Output: 10

3
5
1
10

In [117]:
float = 3.14                           # creating a variable with the name float to point to the float object holding the value 3.14 


del float                              # deleting the variable assigned


# convert an INTEGER to a FLOAT
print(float(4))                        # Output: 4.0


# convert a STRING to a FLOAT
#print(float('three point one four'))   # ValueError: could not convert string to float: 'three point one four'
print(float("3.14"))                   # Output: 3.14


# convert a BOOLEAN to a FLOAT
print(float(True))                      # Output: 1.0


# convert a LIST to a FLOAT
#print(float([1,2,3]))                  # TypeError: float() argument must be a string or a real number, not 'list'


# convert a FLOAT to a FLOAT
print(float(3.14))                     # Output: 3.14

4.0
3.14
1.0
3.14

In [118]:
bool = True                          # creating a variable with the name bool to point to the bool object holding the value True 


del bool                             # deleting the variable assigned


# convert an INTEGER to a BOOLEAN
print(bool(4))                       # Output: True          # Because 4 is a truthy value


# convert a FLOAT to a BOOLEAN
print(bool(3.14))                    # Output: True          # Because 3.14 is a truthy value


# convert a STRING to a BOOLEAN
print(bool('true'))                  # Output: True          # Because 'true' is a truthy value
print(bool('false'))                 # Output: True          # Because 'false' is a truthy value
print(bool('Data Engineering'))      # Output: True          # Because 'Data Engineering' is a truthy value


# convert a LIST to a BOOLEAN
print(bool([1,2,3]))                 # Output: True          # Because [1,2,3] is a truthy value


# convert a BOOLEAN to a BOOLEAN
print(bool(False))                   # Output: False         # Because False is a falsy value

True
True
True
True
True
True
False

In [119]:
str = "Data Engineering is fun."         # creating a variable with the name str to point to the str object holding the value "Data Engineering is fun"


del str                                  # deleting the variable assigned


# convert an INTEGER to a STRING
print(str(4))                            # Output: 4


# convert a FLOAT to a STRING
print(str(3.14))                         # Output: 3.14


# convert a BOOLEAN to a STRING
print(str(True))                         # Output: True


# convert a LIST to a STRING
print(str([1,2,3]))                      # Output: [1,2,3]


# convert a STRING to a STRING
print(str("Data Science is also fun"))   # Output: Data Science is also fun
print(str("three point one four"))       # Output: three point one four
print(str("3.14"))                       # Output: 3.14

4
3.14
True
[1, 2, 3]
Data Science is also fun
three point one four
3.14

<br>

### 3. <span style="background-color: yellow;">Getting the type of a value</span> <br>

We already saw previously that to get the type of value, you use the <span style="background-color: yellow;color:red"><strong>&nbsp;type(&nbsp;</strong></span>&nbsp;**value**&nbsp;<span style="background-color: yellow;color:red"><strong>&nbsp;)&nbsp;</strong></span> function. For example:

In [120]:
type(100)

int

In [121]:
type(2.0)

float

In [122]:
type('Hello')

str

In [123]:
type(True)

bool

<br>


<span style="background-color: #C9FF71;color: black">**Note**</span> :-

&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; We will learn more about it in the topic <span style="color: blue">**class**</span> later.

<br>

<br>

### <span style="background-color: #CAFEFD;">Summary :</span>

<br>


&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;⇒ Use the <span style="background-color: yellow;color: red"> **input()**</span> function to **get an input string** from users. <br>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;⇒ Use <span style="color: blue"> **type conversion functions**</span> such as <span style="background-color: yellow;color: red"> **int()**</span>, <span style="background-color: yellow;color: red"> **float()**</span>, <span style="background-color: yellow;color: red"> **bool()**</span>, and <span style="background-color: yellow;color: red"> **str()**</span> to **convert a value from one type to another**. <br>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;⇒ Use the <span style="background-color: yellow;color: red"> **type()**</span> function to get the **type of a value**.


<br>

<br>

# <u>Debugging in Python</u>

<br> 

##### 1. using <span style="background-color: white;color:red">**print()**</span> statement
##### 2. using <span style="color:red">**logging**</span> statement
##### 3. using <span style="color:red">**logger.info()**</span> statement from <span style="color: blue"> **loguru**</span> module

<br>

#### <span style="background-color: yellow">How <span style="color:red">**print()**</span> statement is used for debugging?</span> 

<br>

In [124]:
length_of_land = 100

if length_of_land == 100:
    length_of_land = 200
else:
    length_of_land = 300

print(length_of_land)    # use it anywhere for dubbugging

200

In [125]:
length_of_land = 100

if length_of_land == '100':
    length_of_land = 200
else:
    length_of_land = 300

print(length_of_land)    # use it anywhere for dubbugging

300

In [126]:
length_of_land = 100

if length_of_land == int('100'):  # type casting into Integer
    length_of_land = 200
else:
    length_of_land = 300

print(length_of_land)    # use it anywhere for dubbugging

200

In [127]:
print('length_of_land = ',length_of_land)   # better code readability

length_of_land =  200

In [128]:
print("length_of_land = ",length_of_land)   # string with double quotes also possible

length_of_land =  200

In [129]:
print("length_of_land = 100 \nbreadth_of_land = 50")    # \n is the new line character. It is a kind of escape sequence.

length_of_land = 100
breadth_of_land = 50

In [130]:
print("length_of_land = 100 \n breadth_of_land = 50") # here the newline character is followed by a space

length_of_land = 100
 breadth_of_land = 50

In [131]:
# multi line string

print('''length_of_land = 100
         breadth_of_land = 50''')

length_of_land = 100
         breadth_of_land = 50

In [132]:
print('''length_of_land = 100
breadth_of_land = 50''')

length_of_land = 100
breadth_of_land = 50

In [133]:
print('''length_of_land = 100 \n
breadth_of_land = 50''')

length_of_land = 100

breadth_of_land = 50

In [134]:
length_of_land = 100
breadth_of_land = 50

print("length_of_land = ",length_of_land,"\nbreadth_of_land = ",breadth_of_land)  # to check the value of multiple variables at a time when debugging

length_of_land =  100
breadth_of_land =  50

<br>

<br>

<span style="background-color: #CAFEFD;">But if we have 1000 lines of code, then how we gonna know which line the value of a variable is coming from? That's why we need to import a **module** named <span style="color:red">**logging**</span>  which is very useful to debug a Python Program.</span>

<br>


#### <span style="background-color: yellow">How <span style="color:red">**logging**</span> statement is used for debugging?</span> 

<br>

In [135]:
# Logging                                                                                                                                   # line-1
                                                                                                                                            # line-2
import logging                                                                                                                              # line-3
                                                                                                                                            # line-4
# Configure basic logging                                                                                                                   # line-5
logging.basicConfig(level=logging.DEBUG, format='%(asctime)s - %(levelname)s - %(lineno)d - %(message)s')                                   # line-6
                                                                                                                                            # line-7
                                                                                                                                            # line-8
                                                                                                                                            # line-9
logging.debug("This is a debug message")  # Will include the line number where this statement is located                                    # line-10
logging.info("This is an info message which is also used for debugging")  # Will include the line number where this statement is located    # line-11

2024-03-21 09:54:36,815 - DEBUG - 10 - This is a debug message
2024-03-21 09:54:36,817 - INFO - 11 - This is an info message which is also used for debugging

Here, **10** represents the **line number** where the logging statement is located.

<br>


<span style="background-color: #CAFEFD;">Since there will be so many files in real scenarios, you might want to know which line of which file is this value coming from. For that we can go for the following configuration:</span>

<br>

In [136]:
logging.basicConfig(level=logging.DEBUG, format='%(asctime)s - %(levelname)s - %(filename)s:%(lineno)d - %(message)s')                       # line-1
                                                                                                                                             # line-2
# logging.basicConfig(level=logging.DEBUG, format='%(asctime)s - %(levelname)s - %(filename)s - %(lineno)d - %(message)s')                   # line-3
                                                                                                                                             # line-4
                                                                                                                                             # line-5
logging.debug("This is a debug message")  # Will include the line number where this statement is located                                     # line-6
logging.info("This is an info message which is also used for debugging")  # Will include the line number where this statement is located     # line-7

2024-03-21 09:54:39,551 - DEBUG - 6 - This is a debug message
2024-03-21 09:54:39,553 - INFO - 7 - This is an info message which is also used for debugging

In [137]:
tech_domain = "Data Engineering"                                                 # line-1
choice_priority = 1                                                              # line-2
                                                                                 # line-3
logging.debug(f"{tech_domain} is my {choice_priority}st priority")               # line-4
logging.info(f"{tech_domain} is my {choice_priority}st priority")                # line-5

2024-03-21 09:54:40,511 - DEBUG - 4 - Data Engineering is my 1st priority
2024-03-21 09:54:40,513 - INFO - 5 - Data Engineering is my 1st priority

<br>

<br>

<span style="background-color: #CAFEFD;">This **works fine** in an **Integrated Development Environment (IDE)** like **VsCode**</span> because we already have a proper **project folder structure** there. But in a <span style="color: blue"> **Jupyter Notebook environment**</span>, you may <span style="color: blue"> **face challenges with getting the filename**</span> and the line number to appear in the logging output due to the way Jupyter handles code execution. However, you can achieve this by creating a <span style="color: blue"> **custom logging formatter**</span> and attaching it to your logger.

<br>

In [138]:
import logging                                                                                                                           # line-1
import inspect                                                                                                                           # line-2
                                                                                                                                         # line-3
# Custom formatter to include filename and line number                                                                                   # line-4
class MyFormatter(logging.Formatter):                                                                                                    # line-5
    def format(self, record):                                                                                                            # line-6
        record.filename = inspect.getframeinfo(inspect.stack()[6][0]).filename                                                           # line-7             
        record.lineno = inspect.getframeinfo(inspect.stack()[6][0]).lineno                                                               # line-8
        return super().format(record)                                                                                                    # line-9                                                                                               # line-9
                                                                                                                                         # line-10
# Configure logging                                                                                                                      # line-11
logger = logging.getLogger()                                                                                                             # line-12
logger.setLevel(logging.DEBUG)                                                                                                           # line-13
                                                                                                                                         # line-14
# Create and add the custom formatter to the logger                                                                                      # line-15
formatter = MyFormatter('%(asctime)s - %(levelname)s - %(filename)s - %(lineno)d - %(message)s')                                         # line-16
stream_handler = logging.StreamHandler()                                                                                                 # line-17
stream_handler.setFormatter(formatter)                                                                                                   # line-18
logger.addHandler(stream_handler)                                                                                                        # line-19
                                                                                                                                         # line-20
# Test logging                                                                                                                           # line-21
logging.debug("This is a debug message")                                                                                                 # line-22
logging.info("This is an info message which is also used for debugging")                                                                 # line-23

2024-03-21 09:54:42,640 - DEBUG - 22 - This is a debug message
2024-03-21 09:54:42,640 - DEBUG - C:\Users\user\AppData\Local\Programs\Python\Python311\Lib\logging\__init__.py - 1634 - This is a debug message
2024-03-21 09:54:42,715 - INFO - 23 - This is an info message which is also used for debugging
2024-03-21 09:54:42,715 - INFO - C:\Users\user\AppData\Local\Programs\Python\Python311\Lib\logging\__init__.py - 1634 - This is an info message which is also used for debugging

In [139]:
tech_domain = "Data Engineering"                                                 # line-1
choice_priority = 1                                                              # line-2
                                                                                 # line-3
logging.debug(f"{tech_domain} is my {choice_priority}st priority")               # line-4
logging.info(f"{tech_domain} is my {choice_priority}st priority")                # line-5

2024-03-21 09:54:43,973 - DEBUG - 4 - Data Engineering is my 1st priority
2024-03-21 09:54:43,973 - DEBUG - C:\Users\user\AppData\Local\Programs\Python\Python311\Lib\logging\__init__.py - 1634 - Data Engineering is my 1st priority
2024-03-21 09:54:44,027 - INFO - 5 - Data Engineering is my 1st priority
2024-03-21 09:54:44,027 - INFO - C:\Users\user\AppData\Local\Programs\Python\Python311\Lib\logging\__init__.py - 1634 - Data Engineering is my 1st priority

<br>


#### <span style="background-color: yellow">How <span style="color:red">**logger.info()**</span> from <span style="color: blue"> **loguru**</span> module statement is used for debugging?</span> 

<br>

In [140]:
pip install loguru

Requirement already satisfied: loguru in c:\users\user\appdata\local\programs\python\python311\lib\site-packages (0.7.0)
Requirement already satisfied: colorama>=0.3.4 in c:\users\user\appdata\roaming\python\python311\site-packages (from loguru) (0.4.6)
Requirement already satisfied: win32-setctime>=1.0.0 in c:\users\user\appdata\local\programs\python\python311\lib\site-packages (from loguru) (1.1.0)
Note: you may need to restart the kernel to use updated packages.

In [141]:
from loguru import logger                        # line-1
                                                 # line-2
logger.info("This is a debug message")           # line-3

2024-03-21 09:54:55.443 | INFO     | __main__:<module>:3 - This is a debug message

It's coming from <span style="background-color: yellow">&nbsp;line number **3**&nbsp;</span> of <span style="color: blue">**\__main\__:\<module\>**</span>. It's **not showing the filename** because we have not maintained any **project folder structure** here.

<br>

In [142]:
tech_domain = "Data Engineering"                                                 # line-1
choice_priority = 1                                                              # line-2
                                                                                 # line-3
logger.info(f"{tech_domain} is my {choice_priority}st priority")                 # line-4

2024-03-21 09:54:56.288 | INFO     | __main__:<module>:4 - Data Engineering is my 1st priority

It's coming from <span style="background-color: yellow">&nbsp;line number **4**&nbsp;</span> of <span style="color: blue">**\__main\__:\<module\>**</span>. It's **not showing the filename** because we have not maintained any **project folder structure** here.



<br>

<br>

### <span style="background-color: #CAFEFD;">Summary :</span>

<br>

<div style="border: 1px solid red; padding: 10px; margin-left:50px">
<span style="background-color:yellow;color:red"><strong>logging</strong></span> ⇒ <strong>logging.debug()</strong> 
<br>
<br>
<br>
<span style="background-color:#F5E3FA;color:blue"><strong>import logging</strong></span>
<br>
<br>
<span style="color:blue"><strong>logging.basicConfig(level=logging.DEBUG, format='%(asctime)s - %(levelname)s - %(lineno)d - %(message)s')</strong></span>
<br>
<br>
<span style="background-color:#F5E3FA;color:blue"><strong>logging.basicConfig(level=logging.DEBUG, format='%(asctime)s - %(levelname)s - %(filename)s - %(lineno)d - %(message)s')</strong></span>
<br>
<br>
<span style="color:blue"><strong>logging.basicConfig(level=logging.DEBUG, format='%(asctime)s - %(levelname)s - %(filename)s:%(lineno)d - %(message)s')</strong></span>
<br>
<br>
<span style="color:blue"><strong>logging.debug("This is a debug message")</strong></span>
<br>
<br>
<span style="background-color:#F5E3FA;color:blue"><strong>logging.info("This is an info message which is also used for debugging")</strong></span>
</div>


<br>


<div style="border: 1px solid red; padding: 10px; margin-left:50px">
<span style="background-color:yellow;color:red"><strong>loguru</strong></span> ⇒ <strong>logger.info()</strong> 
<br>
<br>
<br>
<span style="background-color:#F5E3FA;color:black"><strong>\$ pip install loguru</strong></span>
<br>
<br>
<span style="background-color:#F5E3FA;color:blue"><strong>from loguru import logger</strong></span>
<br>
<br>
<span style="background-color:#F5E3FA;color:blue"><strong>logger.info("This is a debug message") </strong></span>
<br>
<br>

</div>