<br>

**Every Python Function** (Tech With Tim) : https://www.youtube.com/playlist?list=PLzMcBGfZo4-lOXGKoV-sIPKD7MOuHp3_Q

**Python Data Classes Are AMAZING! Here's Why** (Tech With Tim) : https://www.youtube.com/watch?v=5mMpM8zK4pY

**10 Python Comprehensions You SHOULD Be Using** (Tech With Tim) : https://www.youtube.com/watch?v=twxE0dEp3qQ

**Python 101: Learn These 5 Must-Know HIDDEN Features** (Tech With Tim) : https://www.youtube.com/watch?v=nrN3Gq1A92Y&list=LL&index=8&t=300s

**5 Useful F-String Tricks In Python** (Indently)  :  https://www.youtube.com/watch?v=EoNOWVYKyo0&list=LL&index=2

**5 Uncommon Python Features I Love** (Indently)  :  https://www.youtube.com/watch?v=sQ1Q96-Vhjk

**5 Good Python Habits** (Indently)  :   https://youtu.be/I72uD8ED73U?list=PL4KX3oEgJcfeKzc-v2nD-KzTSELlNyafC

**Modern Python logging** (mCoding) :   https://www.youtube.com/watch?v=9L77QExPmI0

**Python dataclasses will save you HOURS, also featuring attrs** (mCoding) :    https://www.youtube.com/watch?v=vBH6GRJ1REM

In [ ]:
PROJECT IDEAS:
1) Virat Kohli Cricket Career Dashboarding

Collections in python

<span style="background-color: #CAFEFD">&nbsp;<U>**QUESTION 1**</U>: <br>
Given an **unsorted array of distinct integers**. Find the **largest pair sum** in it. <br>
For example, the largest pair sum in [12, 34, 10, 6, 40] is 74.
&nbsp;</span>

In [1]:
# Method-1

lst = [12, 34, 10, 6, 40]
# lst = [12, 40, 34, 10, 34, 6, 40]

n = 2                   # to find pair

# dir(lst)

lst.sort()              # It sorts the elements in the list
#lst                    # [6, 10, 12, 34, 40]

#lst[-1::-1]            # [40, 34, 12, 10, 6]

#lst[-1:-(n + 1):-1]    # largest pair : [40, 34]


sum = 0
for i in  range(-1,-(n + 1),-1):
    sum += lst[i]

print("largest :", lst[-1])
print("second largest :", lst[-2])
print("largest pair sum is",sum)

largest : 40
second largest : 34
largest pair sum is 74

In [71]:
# Method-2

lst = [12, 34, 10, 6, 40]
#lst = [12, 40, 34, 10, 34, 6, 40]


# initializing 2 variables for largest and 2nd largest number in the array
largest = None
second_largest = None


# finding the largest and the 2nd largest between the first 2 elements in the array
if lst[0] >= lst[1]:
    largest = lst[0]
    second_largest = lst[1]
else:
    largest = lst[1]
    second_largest = lst[0]


# now finding the largest and the 2nd largest element in the whole array
for i in range(2,len(lst)):
    
    if lst[i] >= largest:
        second_largest = largest
        largest = lst[i]

    if lst[i] > second_largest and lst[i] < largest:         # if lst[i] > second_largest and lst[i] != largest:
        second_largest = lst[i]


print("largest :", largest)
print("second largest :", second_largest)
print("largest pair sum =", largest + second_largest)        # displaying the sum

largest : 40
second largest : 34
largest pair sum = 74

<br>

<span style="color: blue"> █ █ █ █ █ █ █ █ █ █ █ █ █ █ █ █ █ █ █ █ █ █ █ █ █ █ █ █ █ █  █ █ █ █ █ █ █ █ █ █ █ █ █ █ █ █ █ █ █ █ █ █ █ █  █ █ █ █ █ █ █ █ █ █ █ █ █ █ █ █ █ █ █ █ █ █ █ █  </span>

<br>


Lambda expressions are anonymous functions defined using the lambda keyword, typically used for short, one-time operations where defining a named function is unnecessary. So it’ll be unnecessary to define that function with the def keyword. A lambda expression typically contains one or more arguments, but it can have only one expression.

# What are Python lambda expressions

Python lambda expressions allow you to define anonymous functions. <br>

Anonymous functions are functions without names. The anonymous functions are useful when you need to use them once. <br>

A lambda expression typically contains one or more arguments, but it can have only one expression. <br>

The following shows the lambda expression syntax:

In [38]:

lambda parameters: expression

<br>

It’s equivalent to the following function without the "anonymous" name:


def anonymous(parameters):
    return expression

# Python lambda expression examples

In [39]:
# lambda expression that calculates the square of a number

square = lambda x: x**2

# Call the lambda function
result = square(5)

print(result)  # Output: 25

25

In [40]:
# lambda expression that add a number to 10

x = lambda a: a + 10
print(x(5))

15

**Note - Lambda functions can take any number of arguments:**

In [51]:
# lambda expression to add 2 numbers

add = lambda x, y: x + y

# Call the lambda function
result = add(3, 4)

print(result)  # Output: 7

7

In [54]:
# lambda expression that multiplies two numbers

x = lambda a, b : a * b
print(x(5, 6))

30

In [55]:
# lambda expression to add three numbers

x = lambda a, b, c : a + b + c
print(x(5, 6, 2))

13


In Python, you can pass a function to another function or return a function from another function.

### 1) Functions that accept a function example

In [4]:
def get_full_name(first_name, last_name, formatter):
    return formatter(first_name, last_name)


def first_last(first_name, last_name):
    return f"{first_name} {last_name}"


def last_first(first_name, last_name):
    return f"{last_name}, {first_name}"


full_name = get_full_name('John', 'Doe', first_last)
print(full_name) # John Doe

print()

full_name = get_full_name('John', 'Doe', last_first)
print(full_name) #  Doe, John

John Doe

Doe, John

Instead of defining the first_last and last_first functions, you can use lambda expressions.

In [59]:
def get_full_name(first_name, last_name, formatter):
    return formatter(first_name, last_name)


# first_last
full_name = get_full_name(
    'John',
    'Doe',
    lambda first_name, last_name: f"{first_name} {last_name}"
)

print(full_name)


# last_first
full_name = get_full_name(
    'John',
    'Doe',
    lambda first_name, last_name: f"{last_name} {first_name}"
)

print(full_name)

John Doe
Doe John

### 2) Functions that return a function example

In [10]:
def times(n):
    return lambda x: x * n


double = times(2)

<br>

<span style="background-color: #CAFEFD">Since the **times( )** function returns a function, the **double is also a function**.</span>

In [13]:
result = double(2)
print(result)        # 4


result = double(3)
print(result)        # 6

4
6

In [14]:

triple = times(3)

print(triple(2))    # 6
print(triple(3))    # 9

6
9

In [28]:
# To Summarise:

def times(n):
    return lambda x: x * n


double = times(2)
triple = times(3)


print(double(2))
print(triple(3))

4
9

### 3. Python lambda in a loop

In [17]:

callables = []
for i in (1, 2, 3):
    callables.append(lambda: i)


for f in callables:
    print(f())

3
3
3

But the **expected output** was :

<div style="border: 1px solid pink; padding: 10px; background-color: #fff6e6;">

1 <br>
2 <br>
3

</div>

The problem is that all the there lambda expressions reference the <span style="background-color: #FBE2FF; color: red;"><strong>&nbsp;&nbsp;i&nbsp;&nbsp;</strong></span> variable, not the current value of <span style="background-color: #FBE2FF; color: red;"><strong>&nbsp;&nbsp;i&nbsp;&nbsp;</strong></span>. When you call the lambda expressions, the value of the variable <span style="background-color: #FBE2FF; color: red;"><strong>&nbsp;&nbsp;i&nbsp;&nbsp;</strong></span> is 3.


To fix this, you need to <span style="background-color: #CAFEFD">bind the <span style="background-color: #FBE2FF; color: red;"><strong>&nbsp;&nbsp;i&nbsp;&nbsp;</strong></span> variable to each lambda expression at the time the lambda expression is created</span>. One way to do it is to use the <span style="color: blue">default argument</span> :

In [19]:

callables = []
for i in (1, 2, 3):
    callables.append(lambda a=i: a)


for f in callables:
    print(f())

1
2
3

<br>

#### **Summary**

<br>

Use Python lambda expressions to create anonymous functions, which are functions without names. 

<br>

A lambda expression accepts one or more arguments, contains an expression, and returns the result of that expression.

<br>

Use lambda expressions to pass anonymous functions to a function and return a function from another function.

<br>

Lambda expressions can only contain a single expression, while regular functions can have multiple statements and a docstring. Regular functions are more suitable for complex operations or when the function needs to be reused multiple times. While lambda expressions are limited in scope and are suitable for short, simple operations, especially when passing functions as arguments to higher-order functions like map(), filter(), or sorted().
Unlike regular functions, lambda expressions can only access variables from the enclosing scope at the time of their definition, not when they are called.

<br>

Lambda functions can be used in a variety of ways, including as arguments to other functions (such as the built-in "map" or "filter" functions), or to create short, throwaway functions for one-time use.

<BR>

**Let us do some more examples for practice and better undestanding of it's application.**

In [56]:
# Finding the maximum of two numbers:

max_num = lambda x, y: x if x > y else y

# Call the lambda function
result = max_num(10, 5)

print(result)  # Output: 10

10

In [58]:
# Checking if a number is even:

is_even = lambda x: x % 2 == 0

# Call the lambda function
result = is_even(7)

print(result)  # Output: False

False

In [60]:
# Converting temperature from Celsius to Fahrenheit:

celsius_to_fahrenheit = lambda celsius: celsius * 9/5 + 32

# Call the lambda function
result = celsius_to_fahrenheit(25)

print(result)  # Output: 77.0

77.0

<br>

<br>

**Sorting**

In [10]:
# Sorting a list of strings by length:

words = ['apple', 'banana', 'cherry', 'date']

sorted_words = sorted(words, key=lambda x: len(x))
reverse_sorted_words = sorted(words, key=lambda x: len(x), reverse = True)

print(sorted_words, end ="\n\n")  # Output: ['date', 'apple', 'banana', 'cherry']
print(reverse_sorted_words, end ="\n\n\n\n")  # Output: ['']

['date', 'apple', 'banana', 'cherry']

['banana', 'cherry', 'apple', 'date']

Sorting a list of tuples based on the value of a specific element in each tuple :

In [56]:

data = [(1, 'b'), (3, 'a'), (2, 'c'), (3, 'c')]

# sorting the list of tuples based on the 1st element of each tuple (i.e., the integer)
sorted_data = sorted(data, key=lambda x: x[0])
reverse_sorted_data = sorted(data, key=lambda x: x[0], reverse = True)

print(sorted_data, end ="\n\n")                
print(reverse_sorted_data, end ="\n\n")

[(1, 'b'), (2, 'c'), (3, 'a'), (3, 'c')]

[(3, 'a'), (3, 'c'), (2, 'c'), (1, 'b')]

In [55]:

data = [(1, 'b'), (3, 'a'), (2, 'c')]

# sorting the list of tuples based on the 2nd element of each tuple (i.e., the character)
sorted_data = sorted(data, key=lambda x: x[1])
reverse_sorted_data = sorted(data, key=lambda x: x[1], reverse = True)

print(sorted_data, end ="\n\n")                
print(reverse_sorted_data, end ="\n\n")

[(3, 'a'), (1, 'b'), (2, 'c')]

[(2, 'c'), (1, 'b'), (3, 'a')]

sort a list of dictionaries based on a specific key using lambda expressions

In [57]:
# List of dictionaries
data = [
    {'name': 'Alice', 'age': 30},
    {'name': 'Bob', 'age': 25},
    {'name': 'Charlie', 'age': 35}
]

# Sort the list of dictionaries based on the 'age' key
sorted_data = sorted(data, key=lambda x: x['age'])

# Print the sorted list
for item in sorted_data:
    print(item)

{'name': 'Bob', 'age': 25}
{'name': 'Alice', 'age': 30}
{'name': 'Charlie', 'age': 35}

**Filtering**

In [7]:

# Filtering out negative numbers from a list:

numbers = [1, -2, 3, -4, 5, -6]

positive_numbers = list(filter(lambda x: x > 0, numbers))

print(positive_numbers)

[1, 3, 5]

In [6]:
# Filtering out even numbers from a given list of numbers

numbers = [1, 2, 3, 4, 5, 6]

filtered_numbers = list(filter(lambda x: x % 2 == 0, numbers))

print(filtered_numbers)  # Output: [2, 4, 6]

[2, 4, 6]

<br>

<br>

**Mapping**

In [9]:
# Mapping a list of integers to their absolute values:

numbers = [-1, 2, -3, 4, -5]

absolute_values = list(map(lambda x: abs(x), numbers))

print(absolute_values)  # Output: [1, 2, 3, 4, 5]

[1, 2, 3, 4, 5]

In [13]:
# Mapping each string in element in a list of strings to their lengths:

strings = ['apple', 'banana', 'cherry']

lengths = list(map(lambda x: len(x), strings))

print(lengths)  # Output: [5, 6, 6]

[5, 6, 6]

<br>

using a lambda function inside a max() function

In [1]:
# Finding the maximum value in a list of dictionaries:

# Given a list of dictionaries, find the dictionary with the maximum value of a specific key.

data = [{'name': 'Alice', 'age': 30}, {'name': 'Bob', 'age': 25}, {'name': 'Charlie', 'age': 35}]

max_age_person = max(data, key=lambda x: x['age'])   

print(max_age_person)  # Output: {'name': 'Charlie', 'age': 35}

{'name': 'Charlie', 'age': 35}

<br>

<br>

**Reducing a list into a single value**

using the lambda function as the first argument of the reduce() function:

<br>

using a lambda function inside a max() function

In [2]:
# Using reduce() to calculate the sum of all the numbers in a list

from functools import reduce

scores = [75, 65, 80, 95, 50]

total = reduce(lambda a, b: a + b, scores)

print(total)   # 365

365

In [3]:
# Using reduce() to find factorial of a number

import functools

factorial = lambda n: functools.reduce(lambda x, y: x * y, range(1, n+1))

print(factorial(5))  # Output: 120

120

In [4]:
# Using reduce() to find maximum element in a list of values

from functools import reduce

numbers = [4, 6, 8, 1, 3, 5]

max_num = reduce(lambda x, y: x if x > y else y, numbers)

print("Maximum element in", numbers, ":", max_num)

Maximum element in [4, 6, 8, 1, 3, 5] : 8

In [6]:
# Using reduce() to find sum of all the elements of a list of values

from functools import reduce

def sum(a, b):
    print(f"a={a}, b={b}, {a} + {b} ={a+b}")
    return a + b


scores = [75, 65, 80, 95, 50]
total = reduce(sum, scores)
print(total)


# To make the code more concise, you can use a lambda expression instead of defining the sum() function:
from functools import reduce

scores = [75, 65, 80, 95, 50]

total = reduce(lambda a, b: a + b, scores)

print(total)

a=75, b=65, 75 + 65 =140
a=140, b=80, 140 + 80 =220
a=220, b=95, 220 + 95 =315
a=315, b=50, 315 + 50 =365
365
365

**grouping**

using lambda function in groupby

Grouping elements in a list by a specific criterion:

In [ ]:
data = [1, 2, 3, 4, 5, 6]

grouped_data = groupby(data, lambda x: 'even' if x % 2 == 0 else 'odd')

print(dict(grouped_data))  # Output: {'odd': [1, 3, 5], 'even': [2, 4, 6]}

**Calculating the sum of squares of numbers in a list:**

In [37]:
# importing reduce and operator functions
from functools import reduce
import operator
 
# initializing list
input_list = [1,2,3,4,5]
 
# printing original list
print("The original list is : ", input_list)
 
# using reduce() and operator.mul() to calculate sum of squares
res = reduce(operator.add, map(lambda x: x*x, input_list))
 
# printing result
print("The sum of squares of list is : ", res)

The original list is :  [1, 2, 3, 4, 5]
The sum of squares of list is :  55

**Finding the second highest value in a list:**

In [29]:
numbers = [10, 20, 5, 30, 15]
second_highest = sorted(set(numbers), key=lambda x: -x)[1]
print(second_highest)  # Output: 20

20

**Removing duplicate elements from a list:**

Given a list of elements, remove duplicate elements while preserving the order using a lambda function.

In [36]:
# Original list with duplicate elements
original_list = [1, 2, 2, 3, 4, 4, 5]

# Remove duplicates using filter() and a lambda function
unique_list = list(filter(lambda x: original_list.count(x) == 1, original_list))

# Print the unique list
print(unique_list)  # Output: [1, 3, 5]

[1, 3, 5]

<br>

**calculate the word count in a string**

In [62]:
# Define the input string
input_string = "This is a sample string with repeated words. This is a sample."

# Split the input string into words
words = input_string.split()

# Calculate word count using lambda function with reduce() and map()
word_count = (lambda x: len(x))(words)

# Print the word count
print("Word count:", word_count)

Word count: 12

In [66]:
from functools import reduce

# Input string
text = "This is a sample string with repeated words. This is a sample."

# Convert the string to lowercase and split it into words
words = text.lower().split()

# Use map() and reduce() with a lambda function to count the occurrence of each word
word_count = reduce(lambda word_dict, word: {**word_dict, word: word_dict.get(word, 0) + 1}, words, {})

# Print the word count
print("Word count:")
for word, count in word_count.items():
    print(f"{word}: {count}")

Word count:
this: 2
is: 2
a: 2
sample: 1
string: 1
with: 1
repeated: 1
words.: 1
sample.: 1

In [65]:
# Define the input string
input_string = "This is a sample string with repeated words. This is a sample."

# Split the input string into words
words = input_string.split()

# Calculate word count using lambda function with reduce() and map()
word_count = (lambda x: len(x))(words)

# Print the word count
print("Total Word count:", word_count)

# Calculate count of each word using lambda function with map() and dict comprehension
word_counts = dict((lambda x: {word: x.count(word) for word in set(x)})(words))

# Print the count of each word
print("\nCount of Each Word:")
for word, count in word_counts.items():
    print(f"{word}: {count}")

Total Word count: 12

Count of Each Word:
sample.: 1
This: 2
repeated: 1
words.: 1
is: 2
string: 1
sample: 1
a: 2
with: 1

# practice misclaneous questions

Q-1====>Given a list of numbers, find all the odd numbers in ascending order

In [9]:

numbers = [3, 2, 5, 4, 1]

odd_numbers = list(filter(lambda n: (n % 2 != 0) , numbers))

# print(odd_numbers)

sorted_odd_numbers = sorted(odd_numbers)

print(sorted_odd_numbers)

[1, 3, 5]

In [3]:

numbers = [3, 2, 5, 4, 1]

sorted_odd_numbers = sorted(list(filter(lambda n: (n % 2 != 0) , numbers)))

print(sorted_odd_numbers)

[1, 3, 5]

Q-2 ====> Given a list of numbers, find the sum of doubles of each even number in the list

In [8]:

numbers = [3, 2, 6, 8, 4, 6, 2, 9]

# filtering
even_numbers = list(filter(lambda n: n % 2 == 0, numbers))

# mapping
doubles = list(map(lambda n: n*2 , even_numbers))

# summing 
total_sum = sum(doubles)

print(total_sum)

56

In [11]:
from functools import reduce

numbers = [3, 2, 6, 8, 4, 6, 2, 9]

# filtering
even_numbers = list(filter(lambda n: n % 2 == 0, numbers))

# mapping
doubles = list(map(lambda n: n*2 , even_numbers))

# reducing
total_sum = reduce(lambda x , y: x + y, doubles)

print(total_sum)

56