<br>

# <u>Strings</u>

<br>


### 1. <span style="background-color: yellow;">Introduction to Python string</span>

<br>

In Python, anything inside quotes is a string. And you can use either **single** or **double** quotes.

In [1]:

message1 = 'This is a string in Python'
print(message1)

message2 = "This is also a string"
print(message2)

This is a string in Python
This is also a string

In [2]:

x = "John"
# is the same as
x = 'John'

<br>

If a string contains a **single quote**, you should place it in **double-quotes** like this:

In [3]:

message = "It's a string"
print(message)

It's a string

<br>

And when a string contains **double quotes**, you can use the **single quotes**:

In [4]:

message = 'Mummy says "Never Give Up."'
print(message)

Mummy says "Never Give Up."

<br>

<span style="background-color: #C9FF71;color: black">**Note:**</span> <br>

To **escape** the quotes, you use the **backslash** (<span style="background-color: #FFF971;color: red">  **\\**  </span>). For example:

In [5]:

message = 'It\'s also a valid string'
print(message)

It's also a valid string

The Python interpreter will treat the backslash character (<span style="background-color: #FFF971;color: red">  **\\**  </span>) special. If you don’t want it to do so, you can use **raw strings** by adding the letter <span style="background-color: #FFF971;color: red">  **r**  </span> before the first quote. For example:

In [6]:

message = r'C:\python\bin'
print(message)

C:\python\bin

<br>

<span style="background-color: #C9FF71;color: black">**Creating multiline strings:**</span> <br>


To span a string multiple lines, you use triple-quotes <span style="background-color: #FFF971;color: red"> **“””**…**”””** </span> or <span style="background-color: #FFF971;color: red"> **”’**…**”’** </span>. For example:

In [7]:

# using triple-single quotes

help_message = '''
Usage: mysql command
    -h hostname     
    -d database name
    -u username
    -p password 
'''

print(help_message)

Usage: mysql command
    -h hostname
    -d database name
    -u username
    -p password

In [8]:

# using triple-double quotes

help_message = """
Usage: mysql command
    -h hostname     
    -d database name
    -u username
    -p password 
"""

print(help_message)

Usage: mysql command
    -h hostname
    -d database name
    -u username
    -p password

<br>

### 2. <span style="background-color: yellow;">String Formatting</span> <br>

<span style="background-color: #CAFEFD">Using the value of variables in Python strings with : </span>

1. ⇒ **format strings** widely known as **f-strings**
2. ⇒ **.format()** method

<br>

#### <span style="background-color: #C9FF71;color: black">**f-strings**</span>

Also known as **formatted string literals**

In [9]:

name = 'Avinash'
message = 'Hi'

In [10]:

# To do it, you place the letter f before the opening quotation mark and put the brace around the variable name:

message = f'Hi {name}'
message

'Hi Avinash'

In [11]:

print('message ⇒ ', message)

message ⇒  Hi Avinash

In [12]:

# Using the value of 1 variable in Python strings with single quotes

country = 'India'
print(f'I am from {country}')

I am from India

In [13]:

# Using the value of 1 variable in Python strings with double quotes

print(f"My country's name is {country}")

My country's name is India

In [14]:

# Using the value of multiple variables in Python strings

name = 'Avinash'
country = 'India'
print(f"I am {name} and my country's name is {country}")

I am Avinash and my country's name is India

<br>

<span style="color: red"><font size="+2">↳⭐</font></span>&nbsp;&nbsp;<span style="background-color: #CAFEFD">Most Important **f-string** Trick :</span>

In [16]:

a = 5
b = 10

print(a + b)
print(f"{a + b}")

print()

print("a + b =", a + b)
print (f"a + b = {a + b}")
print(f"{a + b = }")           # We can write like this also

15
15

a + b = 15
a + b = 15
a + b = 15

In [192]:
a = 5

print(bool(a))
print(f"{bool(a)}")

print()

print("bool(a) =", bool(a))
print(f"bool(a) = {bool(a)}")
print(f"{bool(a) = }")          # We can write like this also

True
True

bool(a) = True
bool(a) = True
bool(a) = True

In [17]:

name = "Avinash"

print(name)
print(f"{name}")

print()

print("name =", name)
print(f"name = {name}")
print(f"{name = }")             # We can write like this also but it will give the result in single inverted comma

Avinash
Avinash

name = Avinash
name = Avinash
name = 'Avinash'

<br>

<span style="color: red"><font size="+2">↳⭐</font></span>&nbsp;&nbsp;<span style="background-color: #CAFEFD">We can use **underscore** <span style="background-color: yellow; color: red; font-size: larger">&nbsp;**_**&nbsp;</span> in a **fstring** to enhance the **readability of a number** :</span>

In [18]:

n = 1_5

print(f"n = {n}")
print(f"n = {n:_}")
print(f"n = {n:,}")

n = 15
n = 15
n = 15

In [19]:

n = 1000000    

print(f"n = {n}")
print(f"n = {n:_}")     # we can use an underscore to make it more readable
print(f"n = {n:,}")     # we can use a comma too to make it more readable

n = 1000000
n = 1_000_000
n = 1,000,000

In [20]:

n = 10_00_000           # underscore is allowed to represent an integer even if it is not used in a fstring

print(f"n = {n}")
print(f"n = {n:_}")     # we can use an underscore to make it more readable
print(f"n = {n:,}")     # we can use a comma too to make it more readable

n = 1000000
n = 1_000_000
n = 1,000,000

In [21]:

# But comma is not allowed to represent an integer even if it is not used in a fstring
n = 10,00,000           #TypeError: unsupported format string passed to tuple.__format__

print(f"n = {n}")
print(f"n = {n:_}")     # we can use an underscore to make it more readable
print(f"n = {n:,}")     # we can use a comma too to make it more readable

n = (10, 0, 0)

TypeError: unsupported format string passed to tuple.__format__

In [22]:

# Even explicit mentioning of data type supports this

n: int = 1000000        

print(f"n = {n}")
print(f"n = {n:_}")     # we can use an underscore to make it more readable
print(f"n = {n:,}")     # we can use a comma too to make it more readable

print()

n: int = 10_00_000        

print(f"n = {n}")
print(f"n = {n:_}")     # we can use an underscore to make it more readable
print(f"n = {n:,}")     # we can use a comma too to make it more readable

n = 1000000
n = 1_000_000
n = 1,000,000

n = 1000000
n = 1_000_000
n = 1,000,000

<br>

<span style="color: red"><font size="+2">↳⭐</font></span>&nbsp;&nbsp;We can use an <span style="background-color: yellow; color: red; font-size: larger">&nbsp;**>**&nbsp;</span> or <span style="background-color: yellow; color: red; font-size: larger">&nbsp;**<**&nbsp;</span> or <span style="background-color: yellow; color: red; font-size: larger">&nbsp;**^**&nbsp;</span> symbol to <span style="background-color: #CAFEFD">**align** a text in a way you want to print it</span> :

In [23]:

str_var = 'var'

# This fstring {str_var:>20} has right alignment and 20 character spaces in total
print(f"{str_var:>20}")    # 20 - len(str_var) = 20 - 3 = 17 white spaces (default) to be prefixed before the string

                 var

In [24]:

str_var = 'var'

# This fstring {str_var:<20} has left alignment and 20 character spaces in total
print(f"{str_var:<20}")

var

In [25]:

str_var1 = 'var'
str_var2 = 'variable'

# This fstring {str_var1:<20} has left alignment and 20 character spaces in total
print(f"{str_var1:<20}: {str_var2}")

var                 : variable

In [26]:

# since left arrow is deafult, we don't need to even mention it

str_var1 = 'var'
str_var2 = 'variable'

# This fstring {str_var1:20} has left alignment and 20 character spaces in total
print(f"{str_var1:20}: {str_var2}")
print()

var                 : variable

In [27]:

str_var = 'var'

# This fstring {str_var:^20} has center alignment and 20 character spaces in total
print(f"{str_var:^20}")    # var will be placed in the center of 20 space width string

        var

<br>

We can use a **fill element** too in this :

In [28]:

str_var = 'var'

print(f"{str_var:_>20}")     # fill the spaces with _ 
print(f"{str_var:#<20}")     # fill the spaces with #
print(f"{str_var:|^20}")     # fill the spaces with |

_________________var
var#################
||||||||var|||||||||

<br>

<span style="color: red"><font size="+2">↳⭐</font></span>&nbsp;&nbsp; We can also use <span style="background-color: #CAFEFD">**date-format specifiers**</span> like <span style="background-color: yellow; color: red">&nbsp;**%d**&nbsp;</span> or <span style="background-color: yellow; color: red">&nbsp;**%m**&nbsp;</span> or <span style="background-color: yellow; color: red">&nbsp;**%Y**&nbsp;</span> or others in a **format string** to make it more **readable** :

<span style="background-color: yellow; color: red">&nbsp;**%Y**&nbsp;</span>&nbsp;: &nbsp;**Year** with century as a decimal number (e.g., **2022**)                                      <br>
<span style="background-color: yellow; color: red">&nbsp;**%m**&nbsp;</span>&nbsp;: &nbsp;**Month** as a zero-padded decimal number (e.g., **01** for January, **02** for February)     <br>
<span style="background-color: yellow; color: red">&nbsp;**%d**&nbsp;</span>&nbsp;: &nbsp;**Day of the month** as a zero-padded decimal number (e.g., **01** to **31**)                  <br>
<span style="background-color: yellow; color: red">&nbsp;**%I**&nbsp;</span>&nbsp;: &nbsp;**Hour (12-hour clock)** as a zero-padded decimal number (e.g., **00** to **12**)           <br>
<span style="background-color: yellow; color: red">&nbsp;**%H**&nbsp;</span>&nbsp;: &nbsp;**Hour (24-hour clock)** as a zero-padded decimal number (e.g., **00** to **23**)           <br>
<span style="background-color: yellow; color: red">&nbsp;**%M**&nbsp;</span>&nbsp;: &nbsp;**Minute** as a zero-padded decimal number (e.g., **00** to **59**)                            <br>
<span style="background-color: yellow; color: red">&nbsp;**%S**&nbsp;</span>&nbsp;: &nbsp;**Second** as a zero-padded decimal number (e.g., **00** to **59**)                            <br>
<span style="background-color: yellow; color: red">&nbsp;**%b**&nbsp;</span>&nbsp;: &nbsp;Abbreviated month name (e.g., **Jan**, **Feb**)                                                  <br>
<span style="background-color: yellow; color: red">&nbsp;**%B**&nbsp;</span>&nbsp;: &nbsp;Full month name (e.g., **January**, **February**)                                                <br>
<span style="background-color: yellow; color: red">&nbsp;**%a**&nbsp;</span>&nbsp;: &nbsp;Abbreviated weekday name (e.g., **Sun**, **Mon**)                                                <br>
<span style="background-color: yellow; color: red">&nbsp;**%A**&nbsp;</span>&nbsp;: &nbsp;Full weekday name (e.g., **Sunday**, **Monday**)                                                <br>
<span style="background-color: yellow; color: red">&nbsp;**%p**&nbsp;</span>&nbsp;: &nbsp;**AM** or **PM** designation (e.g., AM, PM)                                                     <br>
<span style="background-color: yellow; color: red">&nbsp;**%Z**&nbsp;</span>&nbsp;: &nbsp;**Time zone** name (e.g., **UTC**, **GMT**)                                                     <br>

<br>

In [29]:

from datetime import datetime

# Get the current date and time
now = datetime.now()


print(f"%d.%m.%Y  ==============>  {now:%d.%m.%Y}")
print(f"%d.%m.%Y (%H:%M:%S)  ===>  {now:%d.%m.%Y (%H:%M:%S)}")    # Global Time
print(f"%d.%m.%Y (%I:%M:%S)  ===>  {now:%d.%m.%Y (%I:%M:%S)}")    # Global Time
print(f"%c  ====================>  {now:%c}")                     # Local Time of your system
print(f"%H %p  =================>  {now:%H %p}")
print(f"%I %p  =================>  {now:%I %p}")

%d.%m.%Y  ==============>  14.04.2024
%d.%m.%Y (%H:%M:%S)  ===>  14.04.2024 (14:39:47)
%d.%m.%Y (%I:%M:%S)  ===>  14.04.2024 (02:39:47)
%c  ====================>  Sun Apr 14 14:39:47 2024
%H %p  =================>  14 PM
%I %p  =================>  02 PM

In [30]:

from datetime import datetime

# Get the current date and time
now = datetime.now()

# Format the date and time using f-strings with strftime format specifiers
formatted_date = f"{now:%Y-%m-%d}"
formatted_time = f"{now:%H:%M:%S}"
formatted_datetime = f"{now:%Y-%m-%d %H:%M:%S}"

print("Formatted Date:", formatted_date)
print("Formatted Time:", formatted_time)
print("Formatted Datetime:", formatted_datetime)

Formatted Date: 2024-04-14
Formatted Time: 14:39:54
Formatted Datetime: 2024-04-14 14:39:54

<br>

<span style="color: red"><font size="+2">↳⭐</font></span>&nbsp;&nbsp; We can also use <span style="background-color: yellow; color: red">&nbsp;**.1f**&nbsp;</span> , <span style="background-color: yellow; color: red">&nbsp;**.2f**&nbsp;</span> , <span style="background-color: yellow; color: red">&nbsp;**.3f**&nbsp;</span>...... to <span style="background-color: #CAFEFD">**round the decimal point** upto the specified number</span> :

In [31]:

# n: float = 124.5678
n = 1234.5678

print(n)
print(round(n,2))

1234.5678
1234.57

In [32]:

print(f"{n:.2f}")

1234.57

In [33]:

print(f"{n:.0f}")

1235

In [34]:

print(f"{n:.3f}")

1234.568

In [35]:

print(f"{n:_.3f}")     # using _ and .3f both

1_234.568

In [36]:

print(f"{n:,.3f}")     # using , and .3f both

1,234.568

<br>

#### <span style="background-color: #C9FF71;color: black">**.format()**</span>

The format() method takes unlimited number of arguments, and are placed into the respective placeholders:

In [37]:

# Using the value of 1 variable in Python strings

country = 'India'
print("My country's name is {}".format(country))

My country's name is India

In [38]:

# Using the value of multiple variables in Python strings

name = 'Avinash'
country = 'India'
print("I am {} and my country's name is {}".format(name,country))

I am Avinash and my country's name is India

<br>

You can use index numbers <span style="background-color:yellow;color:red">&nbsp;**{0}**&nbsp;</span> to be sure the arguments are placed in the correct **placeholders**:

In [39]:

price = 49.95
print("The price is just {0}".format(price))

The price is just 49.95

In [40]:

price = 49.95
print("The price is just {1}".format(price))

IndexError: Replacement index 1 out of range for positional args tuple

In [41]:

quantity = 3
item_no = 567
price = 49.95
myorder = "I want to pay {2} dollars for {0} pieces of item {1}."
print(myorder.format(quantity, item_no, price))

I want to pay 49.95 dollars for 3 pieces of item 567.

In [42]:

myorder = "I want to pay {2} dollars for {0} pieces of item {1}."
print(myorder.format(quantity = 3, item_no = 567, price = 49.95))

IndexError: Replacement index 2 out of range for positional args tuple

In [43]:

print("I want to pay {2} dollars for {0} pieces of item {1}.".format(quantity = 3, item_no = 567, price = 49.95))

IndexError: Replacement index 2 out of range for positional args tuple

In [44]:

print("I want to pay {} dollars for {} pieces of item {}.".format(quantity = 3, item_no = 567, price = 49.95))

IndexError: Replacement index 0 out of range for positional args tuple

<br>

<br>

Placing the variable within the **placeholder** also works in the **.format()** method like it works in format string (**fstring** i.e., <span style="background-color:yellow"><span style="color: red">&nbsp;&nbsp;**f"**</span>**.....{variable1}.....{variable2}...**<span style="color: red">**"**&nbsp;&nbsp;</span></span>)

In [45]:

print("I want to pay {price} dollars for {quantity} pieces of item {item_no}.".format(quantity = 3, item_no = 567, price = 49.95))

I want to pay 49.95 dollars for 3 pieces of item 567.

In [46]:

txt = "For only {price:.2f} rupees!"
print(txt.format(price = 99))

For only 99.00 rupees!

In [47]:

print("For only {price:.2f} rupees!".format(price = 99))

For only 99.00 rupees!

<br>

<span style="background-color: #CAFEFD">&nbsp;It is advised to prefer **fstrings** because they are more readable.&nbsp;</span>

<br>

<br>

### 3. <span style="background-color: yellow;">Concatenating Python strings</span> <br>


When you place the **string literals** next to each other, Python **automatically** concatenates them into one string. For example:

In [48]:

greeting = 'Good ' 'Morning!'
print(greeting)

Good Morning!

<br>

To <span style="background-color: #CAFEFD">**concatenate two string variables** </span>, you use the operator <span style="background-color: #FFF971;color: red">  **+**  </span>:

In [49]:

greeting = 'Good '
time = 'Afternoon'

greeting = greeting + time + '!'
print(greeting)

Good Afternoon!

In [50]:

greeting = 'Good'
time = 'Night'
message = greeting + ' ' + time
print(message)

Good Night


<br>

**string + integer** ====> error

but

**string * intege**r ====> repeat the string integer number of times

<br>

In [51]:

string1 = "abc"
string2 = "def"

string1 + 4 + string2

TypeError: can only concatenate str (not "int") to str

In [52]:

string1 = "abc"
string2 = "def"

string1 + str(4) + string2

'abc4def'

In [53]:

name = "Avinash"
name = name + " Kumar Mishra"
name

'Avinash Kumar Mishra'

<br>

<br>

### 4. <span style="background-color: yellow;">Accessing string elements</span> <br>

<span style="background-color: #CAFEFD">**Strings are Arrays** </span>. Like many other popular programming languages, strings in Python are arrays of bytes representing unicode characters.

However, Python does not have a character data type, a single character is simply a string with a length of 1.

**Square brackets** can be used to access elements of the string.

Since a string is a **sequence** of characters, you can access its elements using an **index**. The **first** character in the string has an **index of zero**.

In [54]:

str = "Python String"
print(str[0])            #  P
print(str[1])            #  y

P
y

<br>

If you use a **negative index**, Python returns the character **starting from the end of the string**. For example:

In [55]:

str = "Python String"
print(str[-1])           #  g
print(str[-2])           #  n

g
n

<br>

The following illustrates the indexes of the string <span style="background-color: #FFF971;color: red">  "Python String"  </span> : <br>



<div style="text-align: left; margin-left: -200px">
  
|    |  P  |  y  |  t  |  h  |  o  |  n  |     |  S  |  t  |  r  |  i  |  n  |  g  |    |
|----|-----|-----|-----|-----|-----|-----|-----|-----|-----|-----|-----|-----|-----|----|
|    |  0  |  1  |  2  |  3  |  4  |  5  |  6  |  7  |  8  |  9  | 10  |  11 |  12 | 13 |
|-14 | -13 | -12 | -11 | -10 |  -9 |  -8 |  -7 |  -6 |  -5 |  -4 |  -3 |  -2 |  -1 |    |

</div>

<br>

<br>

### 4. <span style="background-color: yellow;">Getting the length of a string</span> <br>

To get the length of a string, you use the <span style="background-color: #FFF971;color: red"> **len()** </span> function. For example:

In [56]:

str = "Python String"
str_len = len(str)
print(str_len)

13

<br>

<br>

### 5. <span style="background-color: yellow;">Slicing strings</span> <br>

Slicing allows you to get a <span style="color: blue"> **substring** </span> from a string. <br>

**string**[<span style="background-color: #FFF971;color: red"> **start**</span> **:** <span style="background-color: #FFF971;color: red"> **end**</span>] <br>

**string**[<span style="background-color: #FFF971;color: red"> **start**</span> **:** <span style="background-color: #FFF971;color: red"> **end**</span> **:**<span style="background-color: #FFF971;color: red"> **step**</span>] 

<br>

<font size="+2">↳⭐</font> &nbsp;<span style="background-color: #CAFEFD">**Note :** </span> 
<br>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;⇒ The substring always **includes** the character at the <span style="background-color: #FFF971;color: red"> **start**</span> and **excludes** the string at the <span style="background-color: #FFF971;color: red"> **end**</span>. 
<br>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;⇒ The <span style="background-color: #FFF971;color: red"> **start**</span>, <span style="background-color: #FFF971;color: red"> **end**</span> and <span style="background-color: #FFF971;color: red"> **step**</span> all are **optional**. 
<br>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;⇒ If you omit the start, it <span style="color: blue"> defaults </span> to **zero**. 
<br>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;⇒ If you omit the end, it <span style="color: blue"> defaults </span> to the **string’s length**.
<br>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;⇒ If you omit the step, it <span style="color: blue"> defaults </span> to **1**.
<br>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;⇒ <span style="color: blue">default</span> is **positive slicing** i.e, **left to right** slicing.

<br>

In [57]:

str = "Python String"

# String[start]
print('str[1] ⇒', str[1])            # slice to the end

# String[start:]
print('str[1:] ⇒', str[1:])          # slice to the end

# String[start::]
print('str[1::] ⇒', str[1::])        # slice to the end

str[1] ⇒ y
str[1:] ⇒ ython String
str[1::] ⇒ ython String

In [58]:

str = "Python String"

# String[:end]
print(str[:8])         # slice from the start

# String[:end:]
print(str[:8:])        # slice from the start

Python S
Python S

In [59]:

# String[::step]

str = "Python String"
print(str[::2])

Pto tig

In [60]:

str = "Python String"

# String[start:end]
print(str[1:8])

# String[start:end:]
print(str[1:8:])

ython S
ython S

In [61]:

str = "Python String"

# String[:end:step]
print(str[:9:2])

Pto t

In [62]:

# String[start::step]

str = "Python String"
print(str[2::2])

to tig

In [63]:

# String[start:end:step]

str = "Python String"
print(str[0:9:2])

Pto t

<br>

<span style="background-color: #CAFEFD">&nbsp;Use **negative indexes** to start the slice from the end of the string :&nbsp;</span>

In [64]:

b = "Hello, World!"
print(b[-5:-2])

orl

<br>

<span style="color: red"><font size="+2">↳⭐</font></span> &nbsp;<span style="background-color: #CAFEFD">&nbsp; To **reverse a string**, use **negavtive slicing** with **step = -1** :&nbsp;</span> 

&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;⇒ If you omit the start, it <span style="color: blue"> defaults </span> to **-1**. 
<br>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;⇒ If you omit the end, it <span style="color: blue"> defaults </span> to **-(string’s length + 1)**.
<br>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;⇒ **right to left** slicing
<br>

In [65]:

name = "Avinash"
reversed_name = name[-1::-1]
print(reversed_name)

hsanivA

In [66]:

name = "Avinash"
reversed_name = name[::-1]   # if step = -1, the default start will also automatically becomes -1 (i..e., starting from the end of the string)
print(reversed_name)

hsanivA

In [67]:

name = ['a', 'b', 'c', 'd', 'e']

print(name[::], end="\n"*2)      # ['a', 'b', 'c', 'd', 'e']   ===> [0:5:1] ======> 0 to (5-1) from left to right

print(name[::-1], end="\n"*2)    # ['e', 'd', 'c', 'b', 'a']   ===> [4:-6:-1] ====> 4 to (-5-1) from right to left

print(name[3::-1], end="\n"*2)   # ['d', 'c', 'b', 'a']  =========> [3:-6:-1] ====> 3 to -6 from right to left

print(name[:-1:-1], end="\n"*2)  # []  ===========================> [-1:-1:-1] ===> -1 to -2 from right to left

['a', 'b', 'c', 'd', 'e']

['e', 'd', 'c', 'b', 'a']

['d', 'c', 'b', 'a']

[]

<span style="color: red"><font size="+2">↳⭐</font></span> &nbsp;<span style="color: red">**Reverse an integer**</span>

In [2]:

number = -234653

if number >= 0:
    print(int(str(number)[::-1]))
else:
    print(-int(str(number)[-1:0:-1]))

-356432

<br>

<br>

### 6. <span style="background-color: yellow;">Python strings are immutable</span> <br>

String object does not support item assignment. It means that you **cannot change** the string. For example, you’ll get an <span style="color: red;">**error**</span> if you update one or more characters in a string: 
<br>

In [68]:

str = "Python String"
str[0] = 'J'

TypeError: 'str' object does not support item assignment

<br>

When want to modify a string, you need to create a new one from the existing string. For example:

In [69]:

str = "Python String" 
print('str ⇒', str)

# let us madify it to "Jython Strings"

new_str = "J" + str[1:]
print('new_str ⇒', new_str)

str ⇒ Python String
new_str ⇒ Jython String

In [70]:

str = "Python String" 
print('str ⇒', str)

# let us madify it to "Python Strings"

new_str = str[:len(str)] + 's'
print('new_str ⇒', new_str)

str ⇒ Python String
new_str ⇒ Python Strings


<span style="background-color: #C3FFF8">&nbsp;So concatenation does not modify the string itself, it rathers creates a **new string object taking different address** in the RAM.&nbsp;</span>

<br>

<br>

### 7. <span style="background-color: yellow;">Looping Through a String</span> <br>

Since **strings are arrays**, we can loop through the characters in a string, with a <span style="background-color: yellow;color:red"><strong> &nbsp;&nbsp; for &nbsp;&nbsp;</strong></span> loop.

In [71]:

for x in "Data Engineering":
    print(x)

D
a
t
a

E
n
g
i
n
e
e
r
i
n
g

<br>

<br>

### 8. <span style="background-color: yellow;">Check String</span> <br>

To check if a certain phrase or character is present in a string, we can use the **keyword** <span style="background-color: yellow;color:red"><strong> &nbsp;&nbsp; in &nbsp;&nbsp;</strong></span>.

In [72]:

# Check if "free" is present in the following text:

txt = "The best things in life are free!"
print("free" in txt)

True

<br>

Generally we use it (<span style="background-color: yellow;color:red"><strong> &nbsp;&nbsp; in &nbsp;&nbsp;</strong></span>) in an <span style="background-color: yellow;color:red"><strong> &nbsp;&nbsp; if &nbsp;&nbsp;</strong></span> statement:

In [73]:

# Print only if "free" is present:

txt = "The best things in life are free!"
if "free" in txt:
    print("Yes, 'free' is present.")

Yes, 'free' is present.

<br>

<br>

### 9. <span style="background-color: yellow;">Check if NOT</span> <br>

To check if a certain phrase or character is **NOT** present in a string, we can use the keyword <span style="background-color: yellow;color:red"><strong>&nbsp; not in &nbsp;</strong></span>.

In [74]:

# Check if "expensive" is NOT present in the following text:

txt = "The best things in life are free!"
print("expensive" not in txt)

True

<br>

Generally we use it (<span style="background-color: yellow;color:red"><strong> &nbsp;not in &nbsp;</strong></span>) in an <span style="background-color: yellow;color:red"><strong> &nbsp;&nbsp; if &nbsp;&nbsp;</strong></span> statement:

In [75]:

txt = "The best things in life are free!"
if "expensive" not in txt:
    print("No, 'expensive' is NOT present.")

No, 'expensive' is NOT present.

<br>

<br>

### 10. <span style="background-color: yellow;">Modify Strings</span> <br>

<font size="+1">↳⭐</font> &nbsp;Here by modifying a string, we do not mean mutating the string itself. So the following methods will rather create a **new copy of string** which will be a **different string object with different address in the memeory**.

Some built-in methods that we can use on Python strings :  <br>

&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;⇒ <span style="background-color: yellow;color:red"><strong>&nbsp; upper() &nbsp;</strong></span>       <br>

&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;⇒ <span style="background-color: yellow;color:red"><strong>&nbsp; lower() &nbsp;</strong></span>       <br>

&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;⇒ <span style="background-color: yellow;color:red"><strong>&nbsp; strip() &nbsp;</strong></span>       <br>

&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;⇒ <span style="background-color: yellow;color:red"><strong>&nbsp; replace() &nbsp;</strong></span>     <br>

&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;⇒ <span style="background-color: yellow;color:red"><strong>&nbsp; split() &nbsp;</strong></span>       <br>

<br>

<br>

<span style="background-color: #F5C0FF">**Upper Case**</span>

In [76]:

# The upper() method returns the string in upper case:

a = "Hello, World!"
print(a.upper())

HELLO, WORLD!

we can verify that the original value of the <span style="background-color: #CAFEFD">varaible &nbsp;<font size="+1">**a**</font> &nbsp;is still not changed</span> :

In [77]:

print(a)

Hello, World!

<br>

<br>

<span style="background-color: #F5C0FF">**Lower Case**</span>

In [78]:

# The lower() method returns the string in lower case:

a = "Hello, World!"
print(a.lower())

hello, world!

we can verify that the original value of the <span style="background-color: #CAFEFD">varaible &nbsp;<font size="+1">**a**</font> &nbsp;is still not changed</span> :

In [79]:

print(a)

Hello, World!

<br>

<br>

<span style="background-color: #F5C0FF">**Remove Whitespace**</span>

Whitespace is the space before and/or after the actual text, and very often you want to remove this space.

In [80]:

# The strip() method removes any whitespace from the beginning or the end:

a = " Hello, World! "
print(a.strip()) # returns "Hello, World!"

Hello, World!

we can verify that the original value of the <span style="background-color: #CAFEFD">varaible &nbsp;<font size="+1">**a**</font> &nbsp;is still not changed</span> :

In [81]:

print(a)

 Hello, World!

<br>

<br>

<span style="background-color: #F5C0FF">**Replace String**</span>

In [82]:

# The replace() method replaces a string with another string:

a = "Hello, World!"
print(a.replace("H", "J"))

Jello, World!

we can verify that the original value of the <span style="background-color: #CAFEFD">varaible &nbsp;<font size="+1">**a**</font> &nbsp;is still not changed</span> :

In [83]:

print(a)

Hello, World!

In [84]:

name = "Avinash Mishra"
print(name.replace("Mishra", "Kumar Mishra"))

Avinash Kumar Mishra

<br>

<br>

<span style="background-color: #F5C0FF">**Split String**</span>

The <span style="background-color: yellow;color:red"><strong>&nbsp; split() &nbsp;</strong></span> method returns a list where the text between the specified separator becomes the list items.

In [85]:

# The split() method splits the string into substrings if it finds instances of the separator:

a = "Hello, How are you?"
print(a.split(","))

['Hello', ' How are you?']

we can verify that the original value of the <span style="background-color: #CAFEFD">varaible &nbsp;<font size="+1">**a**</font> &nbsp;is still not changed</span> :

In [86]:

print(a)

Hello, How are you?

In [87]:

a = "Hello, How are you?"
print(a.split(" "))

['Hello,', 'How', 'are', 'you?']

In [88]:

a = "Avinash Kumar Mishra"
print(a.split(" "))

['Avinash', 'Kumar', 'Mishra']

In [89]:

vowels = "a,e,i,o,u"
print(vowels.split(","))

['a', 'e', 'i', 'o', 'u']

<br>

<span style="background-color: #CAFEFD">However, passing an empty separator "" in the **string.split( )** method is not allowed:</spn>

In [90]:

vowels = "aeiou"
print(vowels.split(""))

ValueError: empty separator

<br>

<br>


### 11. <span style="background-color: yellow;">Python - Escape Characters</span> <br>


<span style="background-color: #F5C0FF">**Escape Character**</span>

To insert characters that are illegal in a string, use an escape character.

An escape character is a **backslash** <span style="background-color: yellow;color:red"><strong>&nbsp; \\ &nbsp;</strong></span> followed by the character you want to insert.

In [91]:

# You will get an error if you use double quotes inside a string that is surrounded by double quotes:

txt = "AI can't replace humans, they are here to "assist" us"

SyntaxError: invalid syntax (525732392.py, line 3)

<br>

To fix this problem, use the escape character <span style="background-color: yellow;color:red"><strong>&nbsp; \\" &nbsp;</strong></span> :

In [92]:

txt = "AI can't replace humans, they are here to \"assist\" us"

In [93]:

print(txt)

AI can't replace humans, they are here to "assist" us

<br>

<span style="background-color: #F5C0FF">**Other Escape Characters**</span>

<head>
    <style>
        table {
            border-collapse: collapse;
            width: 100%;
        }
        th, td {
            border: 1px solid black;
            padding: 8px;
            text-align: left;
        }
    </style>
</head>
<body>

<table>
    <thead>
        <tr>
            <th>Code</th>
            <th>Result</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td><span style="color:red"><strong>\\'</strong></span></td>
            <td><span style="color:blue"><strong>Single Quote</strong></span></td>
        </tr>
        <tr>
            <td><span style="color:red"><strong>\\\\</strong></span></td>
            <td><span style="color:blue"><strong>Backslash</strong></span></td>
        </tr>
        <tr>
            <td><span style="color:red"><strong>\\n</strong></span></td>
            <td><span style="color:blue"><strong>New Line</strong></span></td>
        </tr>
        <tr>
            <td><span style="color:red"><strong>\\r</strong></span></td>
            <td><span style="color:blue"><strong>Carriage Return</strong></span></td>
        </tr>
        <tr>
            <td><span style="color:red"><strong>\\t</strong></span></td>
            <td><span style="color:blue"><strong>Tab</strong></span></td>
        </tr>
        <tr>
            <td><span style="color:red"><strong>\\b</strong></span></td>
            <td><span style="color:blue"><strong>Backspace</strong></span></td>
        </tr>
        <tr>
            <td><span style="color:red"><strong>\\f</strong></span></td>
            <td><span style="color:blue"><strong>Form Feed</strong></span></td>
        </tr>
        <tr>
            <td><span style="color:red"><strong>\\\\\o</strong></span></td>
            <td><span style="color:blue"><strong>Octal Value</strong></span></td>
        </tr>
        <tr>
            <td><span style="color:red"><strong>\\xhh</strong></span></td>
            <td><span style="color:blue"><strong>Hex Value</strong></span></td>
        </tr>
    </tbody>
</table>

</body>
</html>

In [94]:

# Single Quote

txt = 'It\'s alright.'
print(txt)

It's alright.

In [95]:

# Backslash

txt = "This will insert one \\ (backslash)."
print(txt)

This will insert one \ (backslash).

In [96]:

# New Line

txt = "Hello\nWorld!"
print(txt)

Hello
World!

In [97]:

# Carriage Return

txt = "Hello\rWorld!"
print(txt)

World!

In [98]:

# Tab   (one tab is equal to four spaces)

txt = "Hello\tWorld!" 
print(txt)

Hello	World!

In [99]:

# Backspace

# This example erases one character (backspace):
txt = "Hello \bWorld!"
print(txt)

HelloWorld!

In [100]:

# Octal value

# A backslash followed by three integers will result in a octal value:
txt = "\110\145\154\154\157"
print(txt)

Hello

In [101]:

# Hex value

#A backslash followed by an 'x' and a hex number represents a hex value:
txt = "\x48\x65\x6c\x6c\x6f"
print(txt)

Hello

<br>

### 12. <span style="background-color: yellow;">Python - String Methods</span> <br>

| <span style="color: #00871A">Method</span>         | <span style="color: #00871A">Description</span>              |
|----------------|--------------------------------------------------------------------------------------------------|
| <span style="background-color: yellow; color:red"><strong>&nbsp;capitalize(&nbsp;)&nbsp;</strong></span> | <span style="color:blue">Converts the **first character to upper case** and the rest to lowercase</span> |
| <span style="background-color: yellow; color:red"><strong>&nbsp;casefold(&nbsp;)&nbsp;</strong></span> | <span style="color:blue">Converts the **string into lower case**</span> |
| <span style="background-color: yellow;color:red"><strong>&nbsp;center(&nbsp;</strong></span>&nbsp;**length[, fillchar]**&nbsp;<span style="background-color: yellow;color:red"><strong>&nbsp;)&nbsp;</strong></span> | <span style="color:blue">Returns a **center aligned string** of specified length, **padded with fillchar** <br> (whitespace <span style="background-color: yellow">**"&nbsp;&nbsp;"**</span> by default)</span> |
| <span style="background-color: yellow;color:red"><strong>&nbsp;count(&nbsp;</strong></span>&nbsp;**substring[, start[, end]]**&nbsp;<span style="background-color: yellow;color:red"><strong>&nbsp;)&nbsp;</strong></span> | <span style="color:blue">Returns the **number of occurrences** of **substring** in the string</span> |
| <span style="background-color: yellow;color:red"><strong>&nbsp;encode(&nbsp;</strong></span>&nbsp;**[encoding[, errors]]**&nbsp;<span style="background-color: yellow;color:red"><strong>&nbsp;)&nbsp;</strong></span> | <span style="color:blue">Returns an encoded version of the string</span> |
| <span style="background-color: yellow;color:red"><strong>endswith(&nbsp;</strong></span>&nbsp;**suffix[, start[, end]]**<span style="background-color: yellow;color:red"><strong>&nbsp;)&nbsp;</strong></span> | <span style="color:blue">Returns **True if the string ends with the specified suffix**; otherwise, False</span> |
| <span style="background-color: yellow;color:red"><strong>&nbsp;expandtabs(&nbsp;</strong></span>&nbsp;**tabsize**&nbsp;<span style="background-color: yellow;color:red"><strong>&nbsp;)&nbsp;</strong></span> | <span style="color:blue">Sets the tab size of the string to the specified number of **whitespaces**. Default tabsize is **8**</span> |
| <span style="background-color: yellow;color:red"><strong>&nbsp;find(&nbsp;</strong></span>&nbsp;**substring[, start[, end]]**&nbsp;<span style="background-color: yellow;color:red"><strong>&nbsp;)&nbsp;</strong></span> | <span style="color:blue">Returns the **lowest index** in the string where **substring** is found, or **-1** if not found</span> |
| <span style="background-color: yellow;color:red"><strong>&nbsp;format(&nbsp;</strong></span>&nbsp;***args, kwargs**&nbsp;<span style="background-color: yellow;color:red"><strong>&nbsp;)&nbsp;</strong></span> | <span style="color:blue">Formats the string using positional and keyword arguments</span> |
| <span style="background-color: yellow;color:red"><strong>&nbsp;format_map(&nbsp;</strong></span>&nbsp;**mapping**<span style="background-color: yellow;color:red"><strong>&nbsp;)&nbsp;</strong></span> | <span style="color:blue">Formats the string using the values from a mapping object</span>  |
| <span style="background-color: yellow;color:red"><strong>&nbsp;index(&nbsp;</strong></span>&nbsp;**substring[, start[, end]]**<span style="background-color: yellow;color:red"><strong>&nbsp;)&nbsp;</strong></span> | <span style="color:blue">Returns the **lowest index** in the string where **substring** is found, or raises **ValueError** if not found</span> |
| <span style="background-color:yellow;color:red"><strong>&nbsp;isalnum(&nbsp;)&nbsp;</strong></span> | <span style="color:blue">Returns **True** if **all characters** in the string are alphanumeric (**letters** and **digits**); otherwise, False</span> |
| <span style="background-color:yellow;color:red"><strong>&nbsp;isalpha(&nbsp;)&nbsp;</strong></span> | <span style="color:blue">Returns **True** if **all characters** in the string are alphabetic (**letters**); otherwise, False</span> |
| <span style="background-color:yellow;color:red"><strong>&nbsp;isascii(&nbsp;)&nbsp;</strong></span> | <span style="color:blue">Returns **True** if **all characters** in the string are **ascii characters**; otherwise, False</span> |
| <span style="background-color:yellow;color:red"><strong>&nbsp;isdecimal(&nbsp;)&nbsp;</strong></span> | <span style="color:blue">Returns **True** if **all characters** in the string are decimals (**0-9**); otherwise, False</span> |
| <span style="background-color:yellow;color:red"><strong>&nbsp;isdigit(&nbsp;)&nbsp;</strong></span> | <span style="color:blue">Returns **True** if **all characters** in the string are **digits**</span> |
| <span style="background-color:yellow;color:red"><strong>&nbsp;isidentifier(&nbsp;)&nbsp;</strong></span> | <span style="color:blue">Returns **True** if the string is a **valid identifier**; otherwise, False</span> |
| <span style="background-color:yellow;color:red"><strong>&nbsp;islower(&nbsp;)&nbsp;</strong></span> | <span style="color:blue">Returns **True** if **all characters** in the string are **lower** case; otherwise, False</span> |
| <span style="background-color:yellow;color:red"><strong>&nbsp;isnumeric(&nbsp;)&nbsp;</strong></span> | <span style="color:blue">Returns **True** if **all characters** in the string are **numeric**; otherwise, False</span> |
| <span style="background-color:yellow;color:red"><strong>&nbsp;isprintable(&nbsp;)&nbsp;</strong></span> | <span style="color:blue">Returns **True** if **all characters** in the string are **printable**; otherwise False</span> |
| <span style="background-color:yellow;color:red"><strong>&nbsp;isspace(&nbsp;)&nbsp;</strong></span> | <span style="color:blue">Returns **True** if **all characters** in the string are **whitespaces**; otherwise False;</span> |
| <span style="background-color:yellow;color:red"><strong>&nbsp;istitle(&nbsp;)&nbsp;</strong></span> | <span style="color:blue">Returns **True** if the string is in **title case**; otherwise False</span> |
| <span style="background-color:yellow;color:red"><strong>&nbsp;isupper(&nbsp;)&nbsp;</strong></span> | <span style="color:blue">Returns **True** if **all characters** in the string are **upper case**; otherwise False</span> |
| <span style="background-color: yellow;color:red"><strong>&nbsp;join(&nbsp;</strong></span>&nbsp;**iterable**&nbsp;<span style="background-color: yellow;color:red"><strong>&nbsp;)&nbsp;</strong></span> | <span style="color:blue">Joins the elements of an iterable to the **end of the string** <br> Or in simple words, it **concatenates** the strings in the iterable using the string as a **separator**</span> |
| <span style="background-color: yellow;color:red"><strong>&nbsp;ljust(&nbsp;</strong></span>&nbsp;**length[, fillchar]**&nbsp;<span style="background-color: yellow;color:red"><strong>&nbsp;)&nbsp;</strong></span> | <span style="color:blue">Returns a **left-justified string** of specified length, **padded with fillchar** on the **right side** <br> (whitespace <span style="background-color: yellow">**"&nbsp;&nbsp;"**</span> by default)</span> |
| <span style="background-color:yellow;color:red"><strong>&nbsp;lower(&nbsp;)&nbsp;</strong></span> | <span style="color:blue">Returns a **copy** of the string converted to **lowercase**</span> |
| <span style="background-color: yellow;color:red"><strong>&nbsp;lstrip(&nbsp;</strong></span>&nbsp;**[chars]**&nbsp;<span style="background-color: yellow;color:red"><strong>&nbsp;)&nbsp;</strong></span> | <span style="color:blue">Returns a **copy** (left trim version) of the string with **leading characters removed** from the **left side** <br> (whitespace <span style="background-color: yellow">**"&nbsp;&nbsp;"**</span> by default)</span> |
|  <span style="background-color: yellow;color:red"><strong>&nbsp;maketrans(&nbsp;</strong></span>&nbsp;**x[, y[, z]]**&nbsp;<span style="background-color: yellow;color:red"><strong>&nbsp;)&nbsp;</strong></span> | <span style="color:blue">Returns a **translation table** usable for **str.translate()**</span> |
| <span style="background-color: yellow;color:red"><strong>&nbsp;partition(&nbsp;</strong></span>&nbsp;**separator**&nbsp;<span style="background-color: yellow;color:red"><strong>&nbsp;)&nbsp;</strong></span> | <span style="color:blue">Splits the string at the **first occurrence** of **separator** and returns a **tuple** containing <br> the **left part** before the separator, the **separator** itself, and the **right part** after the separator</span> |
| <span style="background-color: yellow;color:red"><strong>&nbsp;replace(&nbsp;</strong></span>&nbsp;**old, new[, count]**&nbsp;<span style="background-color: yellow;color:red"><strong>&nbsp;)&nbsp;</strong></span> | <span style="color:blue">Returns a **copy** of the string with **all occurrences of old** replaced by **new** (**up to count** if specified)</span> |
| <span style="background-color: yellow;color:red"><strong>&nbsp;rfind(&nbsp;</strong></span>&nbsp;**substring[, start[, end]]**&nbsp;<span style="background-color: yellow;color:red"><strong>&nbsp;)&nbsp;</strong></span> | <span style="color:blue">Searches for the **last occurrence** of the **substring** within the string and <br> returns the **highest index** in the string where **substring** is found, or **-1** if not found</span> |
| <span style="background-color: yellow;color:red"><strong>&nbsp;rindex(&nbsp;</strong></span>&nbsp;**substring[, start[, end]]**&nbsp;<span style="background-color: yellow;color:red"><strong>&nbsp;)&nbsp;</strong></span> | <span style="color:blue">Searches for the **last occurrence** of the **substring** within the string and <br> returns the **highest index** in the string where **substring** is found, or raises a **ValueError** if not found</span> |
| <span style="background-color: yellow;color:red"><strong>&nbsp;rjust(&nbsp;</strong></span>&nbsp;**length[, fillchar]**&nbsp;<span style="background-color: yellow;color:red"><strong>&nbsp;)&nbsp;</strong></span> | <span style="color:blue">Returns a **right-justified string** of specified length, **padded with fillchar** on the **left side** <br> (whitespace <span style="background-color: yellow">**"&nbsp;&nbsp;"**</span> by default)</span> |
| <span style="background-color: yellow;color:red"><strong>&nbsp;rpartition(&nbsp;</strong></span>&nbsp;**separator**&nbsp;<span style="background-color: yellow;color:red"><strong>&nbsp;)&nbsp;</strong></span> | <span style="color:blue">Splits the string at the **last occurrence** of **separator** and returns a **tuple** containing <br> the **left part** before the separator, the **separator** itself, and the **right part** after the separator</span> |
| <span style="background-color: yellow;color:red"><strong>&nbsp;rsplit(&nbsp;</strong></span>&nbsp;**separator**&nbsp;=&nbsp;<span style="background-color:#E8DAEF">None</span>**&nbsp;, maxsplit**&nbsp;=&nbsp;<span style="background-color:#E8DAEF">-1</span>&nbsp;<span style="background-color: yellow;color:red"><strong>&nbsp;)&nbsp;</strong></span> | <span style="color:blue"><span style="color:blue">Splits a string into a list of strings from the **right side** <br> Here **maxsplit** represents the **maximum number of splits** <br> Default **separator** is any **whitespace** and default **maxsplit** is **-1**, which is **"all occurrences"**</span></span> |
| <span style="background-color: yellow;color:red"><strong>&nbsp;rstrip(&nbsp;</strong></span>&nbsp;**[chars]**&nbsp;<span style="background-color: yellow;color:red"><strong>&nbsp;)&nbsp;</strong></span> | <span style="color:blue">Returns a **copy** (right trim version) of the string with **trailing characters removed** from the **right side** <br> (whitespace <span style="background-color: yellow">**"&nbsp;&nbsp;"**</span> by default)</span> |
| <span style="background-color: yellow;color:red"><strong>&nbsp;split(&nbsp;</strong></span>&nbsp;**separator**&nbsp;=&nbsp;<span style="background-color:#E8DAEF">None</span>**&nbsp;, maxsplit**&nbsp;=&nbsp;<span style="background-color:#E8DAEF">-1</span>&nbsp;<span style="background-color: yellow;color:red"><strong>&nbsp;)&nbsp;</strong></span> | <span style="color:blue"><span style="color:blue">Splits a string into a list of strings from the **left side** <br> Here **maxsplit** represents the **maximum number of splits** <br> Default **separator** is any **whitespace** and default **maxsplit** is **-1**, which is **"all occurrences"**</span></span> |
| <span style="background-color: yellow;color:red"><strong>&nbsp;splitlines(&nbsp;</strong></span>&nbsp;**keeplinebreaks**&nbsp;<span style="background-color: yellow;color:red"><strong>&nbsp;)&nbsp;</strong></span> | <span style="color:blue">Splits a string into a **list of lines** <br> In other words, it splits the string at **line breaks** and returns a **list** <br> The parameter **keeplinesbreak** specifies if the line breaks should be included (**True**), or not (**False**) <br> Default value is **False**</span> |
| <span style="background-color: yellow;color:red"><strong>startswith(&nbsp;</strong></span>&nbsp;**prefix[, start[, end]]**<span style="background-color: yellow;color:red"><strong>&nbsp;)&nbsp;</strong></span> | <span style="color:blue">Returns **True if the string starts with the specified prefix**; otherwise, False</span> |
| <span style="background-color: yellow;color:red"><strong>&nbsp;strip(&nbsp;</strong></span>&nbsp;**[chars]**&nbsp;<span style="background-color: yellow;color:red"><strong>&nbsp;)&nbsp;</strong></span> | <span style="color:blue">Returns a **copy** (trimmed from **both left and right side**) of the string with **leading** and **trailing** characters removed <br> (whitespace <span style="background-color: yellow">**"&nbsp;&nbsp;"**</span> by default)</span> |
| <span style="background-color: yellow;color:red"><strong>swapcase(&nbsp;)</strong></span> | <span style="color:blue">**Swaps** cases, returns a **copy** of the string with **uppercase** characters converted to **lowercase** and **vice versa**</span> |
| <span style="background-color: yellow;color:red"><strong>title(&nbsp;)</strong></span> | <span style="color:blue">Returns a **copy** of the string with the first character of each word capitalized<br>Converts the **first character** of **each word** to **upper case**</span> |
| <span style="background-color: yellow;color:red"><strong>translate(&nbsp;)</strong></span> | <span style="color:blue">Returns a **translated string** using a **translation table**</span> |
| <span style="background-color: yellow;color:red"><strong>upper(&nbsp;)</strong></span> | <span style="color:blue">Returns a **copy** of the string converted to **uppercase**</span> |
| <span style="background-color: yellow;color:red"><strong>&nbsp;zfill(&nbsp;</strong></span>&nbsp;**length**&nbsp;<span style="background-color: yellow;color:red"><strong>&nbsp;)&nbsp;</strong></span> | <span style="color:blue">Pads a numeric string with **zeros** on the **left side** to make it a **specified length** <br> In other words, it fills the string with a specified number of **0** values at the **beginning**</span> |

<br>
<br>
<br>

| Python Built-in Functions | <span style="color: blue">String Methods</span> |
|---------------------------|----------------|
| Python built-in functions are general-purpose functions provided by the Python language itself. They **can operate on various data types**, including **strings**, **lists**, **tuples**, **dictionaries**, and more. Built-in functions are not tied to any specific data type and can be applied to a wide range of objects. | <span style="color: blue">String methods, on the other hand, **are specific to string objects**. They are built-in functions that are associated with string objects and are used to perform various operations on strings, such as manipulation, searching, formatting, and validation. String methods are applied directly to string objects using the **dot notation**.</span> |

In [102]:

# Example of built-in functions
print(len("hello"))       # Output: 5
print(max([1, 2, 3]))     # Output: 3

5
3

In [103]:

# Example of string methods
s = "hello"
print(s.upper())          # Output: HELLO
print(s.find("l"))        # Output: 2

HELLO
2

<br>

<br>


<span style="color: #F7D205">⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃</span>

<br>

<font size="+1"><span style="background-color: yellow; color:red"><strong>&nbsp;string.capitalize(&nbsp;)&nbsp;</strong></span></font>

<span style="color: blue">Converts the first character to upper case and the rest to lowercase</span>

In [104]:

txt = "python is FUN!"

x = txt.capitalize()

print (x)

Python is fun!

<br>

Let's see what happens if the first character is a number:

In [105]:

txt = "36 is my age."

x = txt.capitalize()

print (x)

36 is my age.

<br>

<br>


<span style="color: #F7D205">⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃</span>

<br>

<font size="+1"><span style="background-color: yellow; color:red"><strong>&nbsp;string.casefold(&nbsp;)&nbsp;</strong></span></font>

<span style="color: blue">The **casefold( )** method returns a string where all the characters are lower case.</span>

This method is similar to the **lower( )** method, but the casefold() method is stronger, more aggressive, meaning that it will convert more characters into lower case, and will find more matches when comparing two strings and both are converted using the casefold() method.

In [106]:

txt = "Hello, And Welcome To My World!"

x = txt.casefold()

print(x)

hello, and welcome to my world!

<br>

<br>


<span style="color: #F7D205">⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃</span>

<br>

<font size="+1"><span style="background-color: yellow;color:red"><strong>&nbsp;string.center(&nbsp;</strong></span>&nbsp;**length[, fillchar]**&nbsp;<span style="background-color: yellow;color:red"><strong>&nbsp;)&nbsp;</strong></span></font>

<span style="color: blue">The **center( )** method will center align the string, using a specified character (space is default) as the fill character.</span>

In [107]:

# Print the word "banana", taking up the space of 20 characters, with "banana" in the middle:

txt = "banana"

x = txt.center(20)         # Output ===>  "       banana       "

print(x)

       banana

In [108]:

# Using the letter "O" as the padding character:

txt = "banana"

x = txt.center(20, "O")    # # Output ===>  "OOOOOOObananaOOOOOOO"

print(x)

OOOOOOObananaOOOOOOO

<br>

<br>


<span style="color: #F7D205">⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃</span>

<br>

<font size="+1"><span style="background-color: yellow;color:red"><strong>&nbsp;string.count(&nbsp;</strong></span>&nbsp;**substring[, start[, end]]**&nbsp;<span style="background-color: yellow;color:red"><strong>&nbsp;)&nbsp;</strong></span></font>

<span style="color:blue">Returns the **number of occurrences** of **substring** in the string</span>

In [109]:

txt = "I love apples, apple are my favorite fruit"

x = txt.count("apple", 10, 24)

print(x)

1

<br>

<br>


<span style="color: #F7D205">⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃</span>

<br>

<font size="+1"><span style="background-color: yellow;color:red"><strong>&nbsp;string.encode(&nbsp;</strong></span>&nbsp;**[encoding = encoding[, errors = errors]]**&nbsp;<span style="background-color: yellow;color:red"><strong>&nbsp;)&nbsp;</strong></span></font>

<span style="color:blue">The **encode( )** method encodes the string, using the specified encoding. If no encoding is specified, **UTF-8** will be used.</span>

![Paramter Values](string_encoding.png)

In [110]:

txt = "My name is Ståle"

x = txt.encode()

print(x)

b'My name is St\xc3\xa5le'

In [111]:

txt = "My name is Ståle"

print(txt.encode(encoding="ascii",errors="backslashreplace"))
print(txt.encode(encoding="ascii",errors="ignore"))
print(txt.encode(encoding="ascii",errors="namereplace"))
print(txt.encode(encoding="ascii",errors="replace"))
print(txt.encode(encoding="ascii",errors="xmlcharrefreplace"))

b'My name is St\\xe5le'
b'My name is Stle'
b'My name is St\\N{LATIN SMALL LETTER A WITH RING ABOVE}le'
b'My name is St?le'
b'My name is St&#229;le'

<br>

<br>


<span style="color: #F7D205">⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃</span>

<br>

<font size="+1"><span style="background-color: yellow;color:red"><strong>string.endswith(&nbsp;</strong></span>&nbsp;**suffix[, start[, end]]**<span style="background-color: yellow;color:red"><strong>&nbsp;)&nbsp;</strong></span></font>


<span style="color:blue">Returns **True if the string ends with the specified suffix**; otherwise, False</span>

In [112]:

# Check if the string ends with a punctuation sign (.):

txt = "Hello, welcome to my world."

x = txt.endswith(".")

print(x)

True

In [113]:

# Check if the string ends with the phrase "my world.":

txt = "Hello, welcome to my world."

x = txt.endswith("my world.")

print(x)

True

<br>

<br>


<span style="color: #F7D205">⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃</span>

<br>

<font size="+1"><span style="background-color: yellow;color:red"><strong>&nbsp;string.expandtabs(&nbsp;</strong></span>&nbsp;**tabsize**&nbsp;<span style="background-color: yellow;color:red"><strong>&nbsp;)&nbsp;</strong></span></font>

<span style="color:blue">Sets the tab size of the string to the specified number of **whitespaces**. Default tabsize is **8**</span>

In [114]:
# Set the tab size to 2 whitespaces:

txt = "H\te\tl\tl\to"

x =  txt.expandtabs(2)

print(x)

H e l l o

In [115]:

txt = "H\te\tl\tl\to"

print(txt)
print(txt.expandtabs())
print(txt.expandtabs(2))
print(txt.expandtabs(4))
print(txt.expandtabs(10))

H	e	l	l	o
H       e       l       l       o
H e l l o
H   e   l   l   o
H         e         l         l         o

<br>

<br>


<span style="color: #F7D205">⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃</span>

<br>

<font size="+1"><span style="background-color: yellow;color:red"><strong>&nbsp;string.find(&nbsp;</strong></span>&nbsp;**substring[, start[, end]]**&nbsp;<span style="background-color: yellow;color:red"><strong>&nbsp;)&nbsp;</strong></span></font>

<span style="color:blue">Returns the **lowest index** in the string where **substring** is found, or **-1** if not found</span>

&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span style="color:blue">**start** ===> Where to start the search. Default is **0**</span> <br>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span style="color:blue">**end** ===> Where to end the search. Default is to the **end of the string**</span>

<br>

The **find( )** method is almost the same as the index() method, the only difference is that <span style="background-color: #CAFEFD">the **index( )** method raises an exception if the value is not found<span>.

In [116]:

# Where in the text is the word "welcome"?:

txt = "Hello, welcome to my world."

x = txt.find("welcome")

print(x)

7

In [117]:

# Where in the text is the first occurrence of the letter "e"?:

txt = "Hello, welcome to my world."

x = txt.find("e")

print(x)

1

In [119]:

# Where in the text is the first occurrence of the letter "e" when you only search between position 5 and 10?:

txt = "Hello, welcome to my world."

x = txt.find("e", 5, 10)

print(x)

8

In [120]:

# If the value is not found, the find() method returns -1, but the index() method will raise an exception:

txt = "Hello, welcome to my world."

print(txt.find("q"))
print(txt.index("q"))

-1

ValueError: substring not found

<br>

<br>


<span style="color: #F7D205">⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃</span>

<br>


<font size="+1"><span style="background-color: yellow;color:red"><strong>&nbsp;string.format(&nbsp;</strong></span>&nbsp;***args, kwargs**&nbsp;<span style="background-color: yellow;color:red"><strong>&nbsp;)&nbsp;</strong></span></font>

<font size="+1"><span style="background-color: yellow;color:red"><strong>&nbsp;string.format(&nbsp;</strong></span>&nbsp;**value1, value2.....**&nbsp;<span style="background-color: yellow;color:red"><strong>&nbsp;)&nbsp;</strong></span></font>
 
<span style="color:blue">Formats the string using **positional** and **keyword arguments**</span>

<span style="color:blue">The format( ) method formats the specified value(s) and insert them inside the string's **placeholder**.<span>

<span style="color:blue">The placeholder is defined using **curly brackets**: <span style="background-color: #FDE1FE">&nbsp;**{ }**&nbsp;</span>.</span>

<span style="color:blue">The format() method returns the formatted string.</span>


**Parameter Values :**<font size="+2">↴</font>


&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<font size="+1">↳</font>&nbsp;<span style="color:blue">The values are either a <span style="background-color: #FDE1FE">&nbsp;list of values separated by commas&nbsp;</span>, a <span style="background-color: #FDE1FE">&nbsp;key=value list&nbsp;</span>, or a <span style="background-color: #FDE1FE">&nbsp;combination of both</span>.</span>

&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<font size="+1">↳</font>&nbsp;<span style="color:blue">The values can be of any data type.</span>

&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<font size="+1">↳</font>&nbsp;<span style="color:blue">The placeholders can be identified using named indexes <span style="background-color: #FDE1FE">&nbsp;**{variable_name}**&nbsp;</span>, numbered indexes <span style="background-color: #FDE1FE">&nbsp;**{0}**&nbsp;</span>, or even empty placeholders <span style="background-color: #FDE1FE">&nbsp;**{ }**&nbsp;</span>.</span>

**Formating Types**<font size="+2">↴</font> <br>

&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<font size="+1">↳</font>&nbsp;<span style="color:blue">**Inside the placeholders** you can add a **formatting type** to format the result:</span>


| Format Type | Description |
|-------------|-------------|
| **<span style="background-color: #FBF3FF; color: red">&nbsp;&nbsp;<font size="+2">:<</font>&nbsp;&nbsp;</span>**          |  Left aligns the result (within the available space) |
| **<span style="background-color: #FBF3FF; color: red">&nbsp;&nbsp;<font size="+2">:></font>&nbsp;&nbsp;</span>**          |  Right aligns the result (within the available space) |
| **<span style="background-color: #FBF3FF; color: red">&nbsp;&nbsp;<font size="+2">:^</font>&nbsp;&nbsp;</span>**          |  Center aligns the result (within the available space) |
| **<span style="background-color: #FBF3FF; color: red">&nbsp;&nbsp;<font size="+2">:=</font>&nbsp;&nbsp;</span>**          |  Places the sign to the left most position |
| **<span style="background-color: #FBF3FF; color: red">&nbsp;&nbsp;<font size="+2">:+</font>&nbsp;&nbsp;</span>**          |  Use a plus sign to indicate if the result is positive or negative |
| **<span style="background-color: #FBF3FF; color: red">&nbsp;&nbsp;<font size="+2">:-</font>&nbsp;&nbsp;</span>**          |  Use a minus sign for negative values only |
| **<span style="background-color: #FBF3FF; color: red">&nbsp;&nbsp;<font size="+2">: </font>&nbsp;&nbsp;</span>**          |  Use a space to insert an extra space before positive numbers (and a minus sign before negative numbers) |
| **<span style="background-color: #FBF3FF; color: red">&nbsp;&nbsp;<font size="+2">:,</font>&nbsp;&nbsp;</span>**          |  Use a comma as a thousand separator |
| **<span style="background-color: #FBF3FF; color: red">&nbsp;&nbsp;<font size="+2">:_</font>&nbsp;&nbsp;</span>**          |  Use a underscore as a thousand separator |
| **<span style="background-color: #FBF3FF; color: red">&nbsp;&nbsp;<font size="+2">:b</font>&nbsp;&nbsp;</span>**          | Binary format |
| **<span style="background-color: #FBF3FF; color: red">&nbsp;&nbsp;<font size="+2">:c</font>&nbsp;&nbsp;</span>**          | Converts the value into the corresponding unicode character |
| **<span style="background-color: #FBF3FF; color: red">&nbsp;&nbsp;<font size="+2">:d</font>&nbsp;&nbsp;</span>**          | Decimal format |
| **<span style="background-color: #FBF3FF; color: red">&nbsp;&nbsp;<font size="+2">:e</font>&nbsp;&nbsp;</span>**          | Scientific format, with a lower case e |
| **<span style="background-color: #FBF3FF; color: red">&nbsp;&nbsp;<font size="+2">:E</font>&nbsp;&nbsp;</span>**          | Scientific format, with an upper case E |
| **<span style="background-color: #FBF3FF; color: red">&nbsp;&nbsp;<font size="+2">:f</font>&nbsp;&nbsp;</span>**          | Fix point number format |
| **<span style="background-color: #FBF3FF; color: red">&nbsp;&nbsp;<font size="+2">:F</font>&nbsp;&nbsp;</span>**          | Fix point number format, in uppercase format (show <span style="color: red">**inf**</span> and <span style="color: red">**nan**</span> as <span style="color: red">**INF**</span> and <span style="color: red">**NAN**</span>) |
| **<span style="background-color: #FBF3FF; color: red">&nbsp;&nbsp;<font size="+2">:g</font>&nbsp;&nbsp;</span>**          | General format |
| **<span style="background-color: #FBF3FF; color: red">&nbsp;&nbsp;<font size="+2">:G</font>&nbsp;&nbsp;</span>**          | General format (using a upper case E for scientific notations) |
| **<span style="background-color: #FBF3FF; color: red">&nbsp;&nbsp;<font size="+2">:o</font>&nbsp;&nbsp;</span>**          | Octal format |
| **<span style="background-color: #FBF3FF; color: red">&nbsp;&nbsp;<font size="+2">:x</font>&nbsp;&nbsp;</span>**          | Hex format, lower case |
| **<span style="background-color: #FBF3FF; color: red">&nbsp;&nbsp;<font size="+2">:X</font>&nbsp;&nbsp;</span>**          | Hex format, upper case |
| **<span style="background-color: #FBF3FF; color: red">&nbsp;&nbsp;<font size="+2">:n</font>&nbsp;&nbsp;</span>**          | Number format |
| **<span style="background-color: #FBF3FF; color: red">&nbsp;&nbsp;<font size="+2">:%</font>&nbsp;&nbsp;</span>**          | Percentage format |

In [121]:

# Insert the price inside the placeholder, the price should be in fixed point, two-decimal format:

txt = "For only {price:.2f} dollars!"
print(txt.format(price = 49))

For only 49.00 dollars!

In [122]:

# Using different placeholder values:

txt1 = "My name is {fname}, I'm {age}".format(fname = "Avinash", age = 30)
txt2 = "My name is {0}, I'm {1}".format("Avinash",30)
txt3 = "My name is {}, I'm {}".format("Avinash",30)


print(txt1, end="\n"*2)
print(txt2, end="\n"*2)
print(txt3, end="\n"*2)

My name is Avinash, I'm 30

My name is Avinash, I'm 30

My name is Avinash, I'm 30

In [123]:

txt = "We have {:<8} chickens."
print(txt.format(49))

We have 49       chickens.

In [124]:

txt = "We have {:>8} chickens."
print(txt.format(49))

We have       49 chickens.

In [125]:

txt = "We have {:^8} chickens."
print(txt.format(49))

We have    49    chickens.

In [126]:

# Use "=" to place the plus/minus sign at the left most position:

txt = "The temperature is {:=8} degrees celsius."

print(txt.format(-5))

The temperature is -      5 degrees celsius.

In [127]:

# Use "+" to always indicate if the number is positive or negative:

txt = "The temperature is between {:+} and {:+} degrees celsius."

print(txt.format(-3, 7))

The temperature is between -3 and +7 degrees celsius.

In [128]:

# Use "-" to always indicate if the number is negative (positive numbers are displayed without any sign):

txt = "The temperature is between {:-} and {:-} degrees celsius."

print(txt.format(-3, 7))

The temperature is between -3 and 7 degrees celsius.

In [129]:

# Use " " (a space) to insert a space before positive numbers and a minus sign before negative numbers:

txt = "The temperature is between {: } and {: } degrees celsius."

print(txt.format(-3, 7))

The temperature is between -3 and  7 degrees celsius.

In [130]:

# Use "," to add a comma as a thousand separator:

txt = "The universe is {:,} years old."

print(txt.format(13800000000))

The universe is 13,800,000,000 years old.

In [131]:

# Use "b" to convert the number into binary format:

txt = "The binary version of {0} is {0:b}"

print(txt.format(5))

The binary version of 5 is 101

In [132]:

# Use "d" to convert a number, in this case a binary number, into decimal number format:

txt = "We have {:d} apples."
print(txt.format(0b101))                                                               #  5

txt = "The temperature is {:d} degree celsius"
print(txt.format(-0b101))                                                              #  -5


print("My net worth is {:d} USD".format(11111111111111111111111111111011))             #  11111111111111111111111111111011
print("My net worth is {:d} USD".format(0b11111111111111111111111111111011))           #  4294967291
print("My net worth is {:d} USD".format(-0b11111111111111111111111111111011))          #  -4294967291

We have 5 apples.
The temperature is -5 degree celsius
My net worth is 11111111111111111111111111111011 USD
My net worth is 4294967291 USD
My net worth is -4294967291 USD

In [133]:

# Use "e" to convert a number into scientific number format (with a lower-case e):

txt = "We have {:e} apples."
print(txt.format(5))


#Use "E" to convert a number into scientific number format (with an upper-case E):

txt = "We have {:E} apples."
print(txt.format(5))

We have 5.000000e+00 apples.
We have 5.000000E+00 apples.

In [134]:

# Use "f" to convert a number into a fixed point number, default with 6 decimals, but use a period followed by a number to specify the number of decimals:

txt = "The price is {:.2f} dollars."
print(txt.format(45))

# without the ".2" inside the placeholder, this number will be displayed like this:

txt = "The price is {:f} dollars."
print(txt.format(45))

The price is 45.00 dollars.
The price is 45.000000 dollars.

In [135]:

# Use "F" to convert a number into a fixed point number, but display inf and nan as INF and NAN:

x = float('inf')

txt = "The price is {:F} dollars."
print(txt.format(x))

# same example, but with a lower case f:

txt = "The price is {:f} dollars."
print(txt.format(x))

The price is INF dollars.
The price is inf dollars.

In [136]:

# Use "o" to convert the number into octal format:

txt = "The octal version of {0} is {0:o}"

print(txt.format(10))

The octal version of 10 is 12

In [137]:

# Use "o" to convert the number into octal format:

txt = "The octal version of {0} is {0:o}"

print(txt.format(10))

The octal version of 10 is 12

In [138]:

# Use "x" to convert the number into Hex format:

txt = "The Hexadecimal version of {0} is {0:x}"
print(txt.format(255))



#Use "X" to convert the number into upper-case Hex format:

txt = "The Hexadecimal version of {0} is {0:X}"
print(txt.format(255))

The Hexadecimal version of 255 is ff
The Hexadecimal version of 255 is FF

In [139]:

#Use "%" to convert the number into a percentage format:

txt = "You scored {:%}"
print(txt.format(0.25))



#Or, without any decimals:

txt = "You scored {:.0%}"
print(txt.format(0.25))

You scored 25.000000%
You scored 25%

<br>

<br>

<span style="color: #F7D205">⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃</span>

<br>

<font size="+1"><span style="background-color: yellow;color:red"><strong>&nbsp;string.format_map(&nbsp;</strong></span>&nbsp;**mapping**<span style="background-color: yellow;color:red"><strong>&nbsp;)&nbsp;</strong></span></font>

<span style="color:blue">Formats the string using the values from a mapping object</span>

<span style="color:blue">Similar to the format() method, but it takes a single argument - a dictionary. It formats a string using the values in the dictionary to replace placeholders in the string.</span>

In [140]:

# Define a dictionary with values to replace placeholders
data = {'name': 'Aman', 'age': 25}

# Format a string using format_map()
message = "Hello, {name}. You are {age} years old.".format_map(data)

print(message)

Hello, Aman. You are 25 years old.

<br>

<br>

<span style="color: #F7D205">⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃</span>

<br>

<font size="+1"><span style="background-color: yellow;color:red"><strong>&nbsp;string.index(&nbsp;</strong></span>&nbsp;**substring[, start[, end]]**<span style="background-color: yellow;color:red"><strong>&nbsp;)&nbsp;</strong></span></font>

<span style="color:blue">Returns the **lowest index** (i.e., first occurrence) in the string where **substring** is found, or raises **ValueError** if not found</span>

In [141]:

# Where in the text is the word "welcome"?:

txt = "Hello, welcome to my world."

x = txt.index("welcome")

print(x)

7

In [142]:

# Where in the text is the first occurrence of the letter "e"?:

txt = "Hello, welcome to my world."

x = txt.index("e")

print(x)

1

In [143]:

# Where in the text is the first occurrence of the letter "e" when you only search between position 5 and 10?:

txt = "Hello, welcome to my world."

x = txt.index("e", 5, 10)

print(x)

8

In [144]:

# If the value is not found, the find() method returns -1, but the index() method will raise an exception:

txt = "Hello, welcome to my world."

print(txt.find("q"))
print(txt.index("q"))

-1

ValueError: substring not found

<br>

<br>


<span style="color: #F7D205">⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃</span>

<br>

<font size="+1"><span style="background-color:yellow;color:red"><strong>&nbsp;string.isalnum(&nbsp;)&nbsp;</strong></span></font>

<span style="color:blue">Returns **True** if **all characters** in the string are alphanumeric (**letters** and **digits**); otherwise, False</span>

In [145]:

# Check if all the characters in the text are alphanumeric:

txt = "Company12"

x = txt.isalnum()

print(x)

True

In [146]:

# Check if all the characters in the text is alphanumeric:

txt = "Company 12"

x = txt.isalnum()

print(x)

False

<br>

<br>


<span style="color: #F7D205">⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃</span>

<br>

<font size="+1"><span style="background-color:yellow;color:red"><strong>&nbsp;string.isalpha(&nbsp;)&nbsp;</strong></span></font>

<span style="color:blue">Returns **True** if **all characters** in the string are alphabetic (**letters**); otherwise, False</span>

In [147]:
# Check if all the characters in the text are letters:

txt = "CompanyX"

x = txt.isalpha()

print(x)

True

In [148]:
# Check if all the characters in the text is alphabetic:

txt = "Company10"

x = txt.isalpha()

print(x)

False


<br>

<br>


<span style="color: #F7D205">⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃</span>

<br>

<font size="+1"><span style="background-color:yellow;color:red"><strong>&nbsp;string.isascii(&nbsp;)&nbsp;</strong></span></font>

<span style="color:blue">Returns **True** if **all characters** in the string are **ascii characters**; otherwise, False</span>

In [149]:

# Check if all the characters in the text are ascii characters:

txt = "Company123"

x = txt.isascii()

print(x)

True

<br>

<br>


<span style="color: #F7D205">⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃</span>

<br>

<font size="+1"><span style="background-color:yellow;color:red"><strong>&nbsp;string.isdecimal(&nbsp;)&nbsp;</strong></span></font>

<span style="color:blue">Returns **True** if **all characters** in the string are decimals (**0-9**); otherwise, False</span>

This method can also be used on unicode objects.

In [150]:

# Check if all the characters in a string are decimals (0-9):

txt = "1234"

x = txt.isdecimal()

print(x)

True

In [151]:

# Check if all the characters in the unicode are decimals:

a = "\u0030" #unicode for 0
b = "\u0047" #unicode for G

print(a.isdecimal())
print(b.isdecimal())

True
False

<br>

<br>


<span style="color: #F7D205">⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃</span>

<br>

<font size="+1"><span style="background-color:yellow;color:red"><strong>&nbsp;string.isdigit(&nbsp;)&nbsp;</strong></span></font>

<span style="color:blue">Returns **True** if **all characters** in the string are **digits**, otherwise False.</span>

**Exponents**, like <span style="background-color: #CAFEFD">&nbsp;²&nbsp;</span>, are also considered to be a digit.

In [152]:

# Check if all the characters in the text are digits:

txt = "50800"

x = txt.isdigit()

print(x)

True

In [153]:

# Check if all the characters in the text are digits:

a = "\u0030" #unicode for 0
b = "\u00B2" #unicode for ²

print(a.isdigit())
print(b.isdigit())

True
True

<br>

<br>


<span style="color: #F7D205">⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃</span>

<br>

<font size="+1"><span style="background-color:yellow;color:red"><strong>&nbsp;string.isidentifier(&nbsp;)&nbsp;</strong></span></font>

<span style="color:blue">Returns **True** if the string is a **valid identifier**; otherwise, False</span>

A string is considered a valid identifier if it only contains **alphanumeric** letters ( <span style="background-color: #FBF3FF; color: red">**a - z**</span> ) and ( <span style="background-color: #FBF3FF; color: red">**0 - 9**</span> ), or **underscores** ( <span style="background-color: #FBF3FF; color: red"><font size="+2">**_**</font></span> ). A valid identifier cannot start with a number, or contain any spaces.

In [154]:

# Check if the strings are valid identifiers:

a = "MyFolder"
b = "Demo002"
c = "2bring"
d = "my demo"

print(a.isidentifier())
print(b.isidentifier())
print(c.isidentifier())
print(d.isidentifier())

True
True
False
False

<br>

<br>


<span style="color: #F7D205">⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃</span>

<br>

<font size="+1"><span style="background-color:yellow;color:red"><strong>&nbsp;string.islower(&nbsp;)&nbsp;</strong></span></font>

<span style="color:blue">Returns **True** if **all characters** in the string are **lower** case; otherwise, False</span>

Numbers, symbols and spaces are not checked, only alphabet characters.

In [155]:

# Check if all the characters in the texts are in lower case:

a = "Hello world!"
b = "hello 123"
c = "mynameisPeter"

print(a.islower())
print(b.islower())
print(c.islower())

False
True
False

<br>

<br>


<span style="color: #F7D205">⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃</span>

<br>

<font size="+1"><span style="background-color:yellow;color:red"><strong>&nbsp;string.isnumeric(&nbsp;)&nbsp;</strong></span></font>

<span style="color:blue">Returns **True** if **all characters** in the string are **numeric** ( <span style="background-color: #FBF3FF; color: red">**0 - 9**</span> ); otherwise, False</span>

Exponents, like <span style="background-color: #CAFEFD">&nbsp;²&nbsp;</span> and <span style="background-color: #CAFEFD">&nbsp;¾&nbsp;</span> are also considered to be numeric values.

<span style="background-color: #FBF3FF; color: red">**"-1"**</span> and <span style="background-color: #FBF3FF; color: red">**"1.5"**</span> are **NOT** considered numeric values, because all the characters in the string must be numeric, and the <span style="background-color: #FBF3FF; color: red">&nbsp;**-**&nbsp;</span> and the <span style="background-color: #FBF3FF; color: red">&nbsp;**.**&nbsp;</span> are not.

In [156]:

# Check if all the characters in the text are numeric:

txt = "565543"

x = txt.isnumeric()

print(x)

True

In [157]:

# Check if the characters are numeric:

a = "\u0030" #unicode for 0
b = "\u00B2" #unicode for &sup2;
c = "10km2"
d = "-1"
e = "1.5"

print(a.isnumeric())
print(b.isnumeric())
print(c.isnumeric())
print(d.isnumeric())
print(e.isnumeric())

True
True
False
False
False

<br>

<br>


<span style="color: #F7D205">⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃</span>

<br>

<font size="+1"><span style="background-color:yellow;color:red"><strong>&nbsp;string.isprintable(&nbsp;)&nbsp;</strong></span></font>

<span style="color:blue">Returns **True** if **all characters** in the string are **printable**; otherwise False</span>

Example of none printable character can be **carriage return** and **line feed**.

In [158]:

# Check if all the characters in the text are printable:

txt = "Hello! Are you #1?"

x = txt.isprintable()

print(x)

True

In [159]:

# Check if all the characters in the text are printable:

txt = "Hello!\nAre you #1?"

x = txt.isprintable()

print(x)

False

<br>

<br>


<span style="color: #F7D205">⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃</span>

<br>

<font size="+1"><span style="background-color:yellow;color:red"><strong>&nbsp;string.isspace(&nbsp;)&nbsp;</strong></span></font>

<span style="color:blue">Returns **True** if **all characters** in the string are **whitespaces**; otherwise False;</span>

In [160]:

# Check if all the characters in the text are whitespaces:

txt = "   "

x = txt.isspace()

print(x)

True

In [161]:

# Check if all the characters in the text are whitespaces:

txt = "   s   "

x = txt.isspace()

print(x)

False

<br>

<br>


<span style="color: #F7D205">⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃</span>

<br>

<font size="+1"><span style="background-color:yellow;color:red"><strong>&nbsp;istitle(&nbsp;)&nbsp;</strong></span></font>

<span style="color:blue">Returns **True** if the string is in **title case**; otherwise False</span>

<span style="color:blue">returns True if all words in a text start with a **upper case** letter, AND the rest of the word are **lower case** letters, otherwise False.</span>

Symbols and numbers are ignored.

In [162]:

# Check if each word start with an upper case letter and remaining characters of each word in lower case:

a1 = "HELLO, AND WELCOME TO MY WORLD"
a2 = "Hello, And Welcome To My World!"
b = "Hello"
c = "22 Names"
d = "This Is %'!?"

print("a1 ===>", a1.istitle())
print("a2 ===>", a2.istitle())
print("b ====>", b.istitle())
print("c ====>", c.istitle())
print("d ====>", d.istitle())

a1 ===> False
a2 ===> True
b ====> True
c ====> True
d ====> True

<br>

<br>


<span style="color: #F7D205">⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃</span>

<br>

<font size="+1"><span style="background-color:yellow;color:red"><strong>&nbsp;string.isupper(&nbsp;)&nbsp;</strong></span></font>

<span style="color:blue">Returns **True** if **all characters** in the string are **upper** case; otherwise, False</span>

Numbers, symbols and spaces are not checked, only alphabet characters.

In [163]:

# Check if all the characters in the text are in upper case:

a = "THIS IS NOW!"
b = "Hello World!"
c = "hello 123"

print(a.isupper())
print(b.isupper())
print(c.isupper())

True
False
False

<br>

<br>


<span style="color: #F7D205">⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃</span>

<br>

<font size="+1"><span style="background-color: yellow;color:red"><strong>&nbsp;string.join(&nbsp;</strong></span>&nbsp;**iterable**&nbsp;<span style="background-color: yellow;color:red"><strong>&nbsp;)&nbsp;</strong></span></font>

<span style="color:blue">Joins all the elements of an iterable to the **end of the string** <br> Or in simple words, it **concatenates** the strings in the iterable using the string as a **separator**. It takes all items in an iterable and joins them into one string.</span>

A string must be specified as the separator.

**separator.join(iterable)** ===> Any iterable object where all the returned values are strings

In [164]:

# Join all items in a tuple into a string, using an underscore character as separator:

myTuple = ("Avinash", "Kumar", "Mishra")

x = "_".join(myTuple)

print(x)

Avinash_Kumar_Mishra

In [165]:

# Join all items in a tuple (iterable) into a string, using an underscore character as separator:
my_string1 = ("Avinash")

# Join all characters of a string (iterable) into a string, using an underscore character as separator:
my_string2 = "Avinash"

x = "_".join(my_string1)
y = "_".join(my_string2)

print(x)
print(y)

A_v_i_n_a_s_h
A_v_i_n_a_s_h

In [166]:

roll_nos_str_tuple = ("123", "456")
x = "_".join(roll_nos_str_tuple)
print(x)

123_456

In [167]:

roll_no_int = 123
x = "_".join(roll_no)
print(x)

NameError: name 'roll_no' is not defined

In [168]:

roll_nos_str_tuple = (123, 456)
y = "_".join(roll_nos_str_tuple)
print(y)

TypeError: sequence item 0: expected str instance, int found

<br>

<div style="border: 1px solid pink; padding: 10px; background-color: #ffffcc">

Rememeber these 2 methods in combo. They are extensively used for string manipulation

**Join** ====> to join    <br>
**Split** ===> to split

</div>

In [169]:

name_list = ["Avinash", "Kumar", "Mishra"]
print(" ".join(name_list))
print(" ".join(name_list).split(" "))

Avinash Kumar Mishra
['Avinash', 'Kumar', 'Mishra']

<br>

<div style="border: 1px solid pink; padding: 10px; background-color: #ffffcc">

Note: When using a dictionary as an iterable, the returned values are the **keys**, not the values.

</div>

In [170]:

# Join all items in a dictionary into a string, using the word "TEST" as separator:

myDict = {"name": "Avinash", "country": "India"}
mySeparator = "TEST"

x = mySeparator.join(myDict)

print(x)

nameTESTcountry

<br>

<br>


<span style="color: #F7D205">⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃</span>

<br>

<font size="+1"><span style="background-color: yellow;color:red"><strong>&nbsp;string.ljust(&nbsp;</strong></span>&nbsp;**length[, fillchar]**&nbsp;<span style="background-color: yellow;color:red"><strong>&nbsp;)&nbsp;</strong></span></font>


<span style="color:blue">Returns a **left-justified string** of specified length, **padded with fillchar** on the **right side**</span> 

<span style="color:blue">(whitespace <span style="background-color: yellow">**"&nbsp;&nbsp;"**</span> by default)</span>

In [171]:

# Return a 20 characters long, left justified version of the word "banana":

txt = "banana"

x = txt.ljust(20)

print(x, "is my favorite fruit.")

banana               is my favorite fruit.

<br>

<div style="border: 1px solid pink; padding: 10px; background-color: #ffffcc">

Note: In the result, there are actually 14 whitespaces to the right of the word banana.

</div>

In [172]:

# Using the letter "O" as the padding character:

txt = "banana"

x = txt.ljust(20, "O")

print(x)

bananaOOOOOOOOOOOOOO

<br>

<br>


<span style="color: #F7D205">⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃</span>

<br>

<font size="+1"><span style="background-color:yellow;color:red"><strong>&nbsp;string.lower(&nbsp;)&nbsp;</strong></span></font>

<span style="color:blue">Returns a **copy** of the string converted to **lowercase**</span>

<span style="color:blue">Returns a string where all characters are lower case.</span>

Symbols and Numbers are ignored.

In [173]:

# Lower case the string:

txt = "Hello my FRIENDS"

x = txt.lower()

print(x)

hello my friends

<br>

<br>


<span style="color: #F7D205">⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃</span>

<br>

<font size="+1"><span style="background-color: yellow;color:red"><strong>&nbsp;string.lstrip(&nbsp;</strong></span>&nbsp;**[chars]**&nbsp;<span style="background-color: yellow;color:red"><strong>&nbsp;)&nbsp;</strong></span></font>

<span style="color:blue">Returns a **copy** (left trim version) of the string with **leading characters removed** from the **left side**</span>

<span style="color:blue">(whitespace <span style="background-color: yellow">**"&nbsp;&nbsp;"**</span> by default)</span>

In [174]:

# Remove spaces to the left of the string:

txt = "     banana     "

x = txt.lstrip()

print("Of all fruits", x, "is my favorite")

Of all fruits banana      is my favorite

In [175]:

# Remove the leading characters:

txt = ",,,,,ssaaww.....banana"

x = txt.lstrip(",.asw")

print(x)

banana

In [176]:

# Remove the leading characters:

txt = ",,,,,ssaaww.....banana"

x = txt.lstrip(",saw.")

print(x)

banana

<br>

<br>


<span style="color: #F7D205">⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃</span>

<br>

<font size="+1"><span style="background-color: yellow;color:red"><strong>&nbsp;string.maketrans(&nbsp;</strong></span>&nbsp;**x[, y[, z]]**&nbsp;<span style="background-color: yellow;color:red"><strong>&nbsp;)&nbsp;</strong></span></font>

<span style="color:blue">Returns a **translation table** usable for **string.translate()**</span>

<span style="color:blue">returns a **mapping table** that can be used with the **string.translate()** method **to replace specified characters**.</span>


| Parameter  |  Description  |
|------------|---------------|
|     x      | Required. If only one parameter is specified, this has to be a dictionary describing how to perform the replace. If two or more parameters are specified, this parameter has to be a string specifying the characters you want to replace. |
|     y      | Optional. A string with the same length as parameter x. Each character in the first parameter will be replaced with the corresponding character in this string. |
|     z      | Optional. A string describing which characters to remove from the original string. |

In [177]:

# Create a mapping table, and use it in the translate() method to replace any "S" characters with a "P" character:

txt = "Hello Sam!"
mytable1 = str.maketrans("S", "P")
mytable2 = txt.maketrans("S", "P")
print(mytable1)                       # {83: 80}
print(mytable2)                       # {83: 80}
print(txt.translate(mytable1))        # Hello Pam!
print(txt.translate(mytable2))        # Hello Pam!

{83: 80}
{83: 80}
Hello Pam!
Hello Pam!

In [178]:

# Use a mapping table to replace many characters:

txt = "Hi Aman!"
x = "Aman"
y = "Isha"
mytable = str.maketrans(x, y)
print(txt.translate(mytable))

Hi Isha!

In [179]:

# Use a mapping table to replace many characters:

txt = "Hi Sam!"
x = "mSa"
y = "eJo"
mytable = str.maketrans(x, y)
print(txt.translate(mytable))

Hi Joe!

In [180]:

# Use a mapping table to replace many characters:

txt = "Hi Avinash!"
x = "viasah"
y = "ma    "
mytable = str.maketrans(x, y)
print(txt.translate(mytable))

Ha Aman   !

In [181]:

# The third parameter in the mapping table describes characters that you want to remove from the string:

txt = "Hi Avinash!"
x = "viasah"
y = "ma    "
z = "H!"
mytable = str.maketrans(x, y, z)
print(txt.translate(mytable))
print(len(txt.translate(mytable)))

a Aman
9

In [182]:

# The third parameter in the mapping table describes characters that you want to remove from the string:

txt = "Good night Sam!"
x = "mSa"
y = "eJo"
z = "odnght"
mytable = str.maketrans(x, y, z)
print(txt.translate(mytable))

G i Joe!

In [183]:

# The maketrans() method itself returns a dictionary describing each replacement, in unicode:

txt = "Good night Sam!"
x = "mSa"
y = "eJo"
z = "odnght"
print(str.maketrans(x, y, z))

{109: 101, 83: 74, 97: 111, 111: None, 100: None, 110: None, 103: None, 104: None, 116: None}

<br>

<br>


<span style="color: #F7D205">⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃</span>

<br>

<font size="+1"><span style="background-color: yellow;color:red"><strong>&nbsp;string.partition(&nbsp;</strong></span>&nbsp;**separator**&nbsp;<span style="background-color: yellow;color:red"><strong>&nbsp;)&nbsp;</strong></span></font>


<span style="color:blue">Splits the string at the **first occurrence** of **separator** and returns a **tuple** containing the **left part** before the separator, the **separator** itself, and the **right part** after the separator.</span>

The first element contains the part before the specified string i.e., everything before the "match"

The second element contains the specified string i.e., the "match"

The third element contains the part after the string i.e., everything after the "match"

In [185]:

# Search for the word "bananas", and return a tuple with three elements:

txt = "I could eat bananas all day"

x = txt.partition("bananas")

print(x)

('I could eat ', 'bananas', ' all day')

<br>

<div style="border: 1px solid pink; padding: 10px; background-color: #ffffcc">

If the specified value is not found, the **string.partition( )** method returns a tuple containing: 1 - the whole string, 2 - an empty string, 3 - an empty string:

</div>

In [186]:

txt = "I could eat bananas all day"

x = txt.partition("apples")

print(x)

('I could eat bananas all day', '', '')

<br>

<br>


<span style="color: #F7D205">⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃</span>

<br>

<font size="+1"><span style="background-color: yellow;color:red"><strong>&nbsp;string.replace(&nbsp;</strong></span>&nbsp;**old, new[, count]**&nbsp;<span style="background-color: yellow;color:red"><strong>&nbsp;)&nbsp;</strong></span></font>

<span style="color:blue">Returns a **copy** of the string with **all occurrences of old** replaced by **new** (**up to count** if specified)</span>

<span style="color:blue">Replaces a specified phrase with another specified phrase.</span>

All occurrences of the specified phrase will be replaced, if nothing else is specified.

In [187]:

# Replace the word "bananas":

txt = "I like bananas"

x = txt.replace("bananas", "apples")

print(x)

I like apples

In [188]:

# Replace all occurrence of the word "one":

txt = "one one was a race horse, two two was one too."

x = txt.replace("one", "three")

print(x)

three three was a race horse, two two was three too.

In [189]:

# Replace the two first occurrence of the word "one":

txt = "one one was a race horse, two two was one too."

x = txt.replace("one", "three", 2)

print(x)

three three was a race horse, two two was one too.

<br>

<br>


<span style="color: #F7D205">⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃</span>

<br>

<font size="+1"><span style="background-color: yellow;color:red"><strong>&nbsp;string.rfind(&nbsp;</strong></span>&nbsp;**substring[, start[, end]]**&nbsp;<span style="background-color: yellow;color:red"><strong>&nbsp;)&nbsp;</strong></span></font>

<span style="color:blue">Searches for the **last occurrence** of the **substring** within the string and returns the **highest index** in the string where **substring** is found, or **-1** if not found</span>

In [190]:

# Where in the text is the last occurrence of the letter "e"?:

txt = "Hello, welcome to my world."

x = txt.rfind("e")

print(x)

13

In [191]:

txt = "Data Engineering is Awesome. Data Analytics is cool. Data Science is fun. AI is future."

a = txt.rfind("Data")          # Where in the text is the last occurrence of the string "Data"?
print(a)                       #  53


b = txt.rfind("Engineering")   #  Where in the text is the last occurrence of the string "Engineering"?
print(b)                       #  5


c = txt.rfind("is")            #  Where in the text is the last occurrence of the string "is"?
print(c)                       # 77

53
5
77

In [192]:

txt = "Data Engineering is Awesome. Data Analytics is cool. Data Science is fun. AI is future."

print(txt.find("Data"))                       #  0    <====  first occurrence of the string "Data"
print(txt.rfind("Data"))                      #  53   <====  last occurrence of the string "Data"


print(txt.find("Engineering"))                #  5    <====  first occurrence of the string "Engineering"
print(txt.rfind("Engineering"))               #  5    <====  last occurrence of the string "Engineering"


print(txt.find("Internet of Things"))         #  -1   <====  first occurrence of the string "Internet of Things"
print(txt.rfind("Internet of Things"))        #  -1   <====  last occurrence of the string "Internet of Things"

0
53
5
5
-1
-1


<br>

<div style="border: 1px solid pink; padding: 10px; background-color: #ffffcc">

**Note** - If the value is not found, <span style="background-color: #CAFEFD">&nbsp;**find( )** and **rfind( )** returns **-1**&nbsp;</span> but <span style="background-color: #CAFEFD">&nbsp;**index( )** and **rindex( )** raises an **exception** (ValueError)&nbsp;</span>

</div>

In [193]:

# If the value is not found, the rfind() method returns -1, but the rindex() method will raise an exception:

txt = "Hello, welcome to my world."

print(txt.rfind("q"))       #  -1   
print(txt.rindex("q"))      #  ValueError: substring not found

-1

ValueError: substring not found

<br>

<br>


<span style="color: #F7D205">⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃</span>

<br>


<font size="+1"><span style="background-color: yellow;color:red"><strong>&nbsp;string.rindex(&nbsp;</strong></span>&nbsp;**substring[, start[, end]]**&nbsp;<span style="background-color: yellow;color:red"><strong>&nbsp;)&nbsp;</strong></span></font>


<span style="color:blue">Searches for the **last occurrence** of the **substring** within the string and returns the **highest index** in the string where **substring** is found, or raises a **ValueError** if not found</span>

In [194]:


# Where in the text is the last occurrence of the letter "e"?:

txt = "Hello, welcome to my world."

x = txt.rindex("e")

print(x)

13

In [195]:

txt = "Data Engineering is Awesome. Data Analytics is cool. Data Science is fun. AI is future."

a = txt.rindex("Data")          # Where in the text is the last occurrence of the string "Data"?
print(a)                       #  53


b = txt.rindex("Engineering")   #  Where in the text is the last occurrence of the string "Engineering"?
print(b)                       #  5


c = txt.rindex("is")            #  Where in the text is the last occurrence of the string "is"?
print(c)                       # 77

53
5
77

<br>

<br>


<span style="color: #F7D205">⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃</span>

<br>

<font size="+1"><span style="background-color: yellow;color:red"><strong>&nbsp;string.rjust(&nbsp;</strong></span>&nbsp;**length[, fillchar]**&nbsp;<span style="background-color: yellow;color:red"><strong>&nbsp;)&nbsp;</strong></span></font>

<span style="color:blue">Returns a **right-justified string** of specified length, **padded with fillchar** on the **left side**</span>

<span style="color:blue">(whitespace <span style="background-color: yellow">**"&nbsp;&nbsp;"**</span> by default)</span>

In [196]:

# Return a 20 characters long, right justified version of the word "banana":

txt = "banana"

x = txt.rjust(20)

print(x, "is my favorite fruit.")

              banana is my favorite fruit.

<br>

**Note**: In the result, there are actually **14 whitespaces** to the left of the word banana.

<br>

In [197]:

# Using the letter "O" as the padding character:

txt = "banana"

x = txt.rjust(20, "O")

print(x)

OOOOOOOOOOOOOObanana

<br>

<br>


<span style="color: #F7D205">⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃</span>

<br>

<font size="+1"><span style="background-color: yellow;color:red"><strong>&nbsp;string.rpartition(&nbsp;</strong></span>&nbsp;**separator**&nbsp;<span style="background-color: yellow;color:red"><strong>&nbsp;)&nbsp;</strong></span></font>

<span style="color:blue">Splits the string at the **last occurrence** of **separator** and returns a **tuple** containing the **left part** before the separator, the **separator** itself, and the **right part** after the separator</span>

The first element contains the part before the specified string i.e., everything before the "match"

The second element contains the specified string i.e., the "match"

The third element contains the part after the string i.e., everything after the "match"

In [198]:

# Search for the last occurrence of the word "bananas", and return a tuple with three elements:

txt = "I could eat bananas all day, bananas are my favorite fruit"

x = txt.rpartition("bananas")

print(x)

('I could eat bananas all day, ', 'bananas', ' are my favorite fruit')

In [199]:

# If the specified value is not found, the rpartition() method returns a tuple containing: 1 - an empty string, 2 - an empty string, 3 - the whole string:

txt = "I could eat bananas all day, bananas are my favorite fruit"

x = txt.rpartition("apples")

print(x)

('', '', 'I could eat bananas all day, bananas are my favorite fruit')

<br>

<br>

<span style="color: #F7D205">⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃</span>

<br>

<font size="+1"><span style="background-color: yellow;color:red"><strong>&nbsp;string.rsplit(&nbsp;</strong></span>&nbsp;**separator**&nbsp;=&nbsp;<span style="background-color:#E8DAEF">None</span>**&nbsp;, maxsplit**&nbsp;=&nbsp;<span style="background-color:#E8DAEF">-1</span>&nbsp;<span style="background-color: yellow;color:red"><strong>&nbsp;)&nbsp;</strong></span></font>

<span style="color:blue"><span style="color:blue">Splits a string into a list of strings from the **right side** <br> Here **maxsplit** represents the **maximum number of splits** <br> Default **separator** is any **whitespace** and default **maxsplit** is **-1**, which is **"all occurrences"**</span>
</span>

In [200]:

# Split a string into a list, using comma, followed by a space (, ) as the separator:

txt = "apple, banana, cherry"

x = txt.rsplit(", ")

print(x)

['apple', 'banana', 'cherry']

<br>

<div style="border: 1px solid pink; padding: 10px; background-color: #ffffcc">

**Note** - When maxsplit is specified, the list will contain the specified number of elements plus one.

</div>

In [201]:

# Split the string into a list with maximum 2 items:

txt = "apple, banana, cherry"

# setting the maxsplit parameter to 1, will return a list with 2 elements!
x = txt.rsplit(", ", 1)

print(x)

['apple, banana', 'cherry']

<br>

<br>

<span style="color: #F7D205">⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃</span>

<br>

<font size="+1"><span style="background-color: yellow;color:red"><strong>&nbsp;string.rstrip(&nbsp;</strong></span>&nbsp;**[chars]**&nbsp;<span style="background-color: yellow;color:red"><strong>&nbsp;)&nbsp;</strong></span></font>

<span style="color:blue">Returns a **copy** (right trim version) of the string with **trailing characters removed** from the **right side** <br> (whitespace <span style="background-color: yellow">**"&nbsp;&nbsp;"**</span> by default)</span>

In [202]:

# Remove any white spaces at the end of the string:

txt = "     banana     "

x = txt.rstrip()

print("of all fruits", x, "is my favorite")

of all fruits      banana is my favorite

In [203]:

# Remove the trailing characters if they are commas, periods, s, q, or w:

txt = "banana,,,,,ssqqqww....."

x = txt.rstrip(",.qsw")

print(x)

banana

<br>

<br>

<span style="color: #F7D205">⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃</span>

<br>

<font size="+1"><span style="background-color: yellow;color:red"><strong>&nbsp;string.split(&nbsp;</strong></span>&nbsp;**separator**&nbsp;=&nbsp;<span style="background-color:#E8DAEF">None</span>**&nbsp;, maxsplit**&nbsp;=&nbsp;<span style="background-color:#E8DAEF">-1</span>&nbsp;<span style="background-color: yellow;color:red"><strong>&nbsp;)&nbsp;</strong></span></font>


<span style="color:blue"><span style="color:blue">Splits a string into a list of strings from the **left side** <br> Here **maxsplit** represents the **maximum number of splits** <br> Default **separator** is any **whitespace** and default **maxsplit** is **-1**, which is **"all occurrences"**</span></span>

In [204]:

# Split a string into a list where each word is a list item:

txt = "welcome to the jungle"

x = txt.split()

print(x)

['welcome', 'to', 'the', 'jungle']

<br>

<div style="border: 1px solid pink; padding: 10px; background-color: #ffffcc">

**Note** - When maxsplit is specified, the list will contain the specified number of elements plus one.

</div>

In [205]:

# Split the string, using comma, followed by a space, as a separator:

txt = "hello, my name is Peter, I am 26 years old"

x = txt.split(", ")

print(x)

['hello', 'my name is Peter', 'I am 26 years old']

In [206]:

# Use a hash character as a separator:

txt = "apple#banana#cherry#orange"

x = txt.split("#")

print(x)

['apple', 'banana', 'cherry', 'orange']

In [207]:

# Split the string into a list with max 2 items:

txt = "apple#banana#cherry#orange"

# setting the maxsplit parameter to 1, will return a list with 2 elements!
x = txt.split("#", 1)

print(x)

['apple', 'banana#cherry#orange']

<br>

<br>

<span style="color: #F7D205">⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃</span>

<br>

<font size="+1"><span style="background-color: yellow;color:red"><strong>&nbsp;string.splitlines(&nbsp;</strong></span>&nbsp;**keeplinebreaks**&nbsp;<span style="background-color: yellow;color:red"><strong>&nbsp;)&nbsp;</strong></span></font>

<span style="color:blue">Splits a string into a **list of lines** <br> In other words, it splits the string at **line breaks** and returns a **list** <br> The parameter **keeplinesbreak** specifies if the line breaks should be included (**True**), or not (**False**) <br> Default value is **False**</span>

In [208]:

# Split a string into a list where each line is a list item:

txt = "Thank you for the music\nWelcome to the jungle"

x = txt.splitlines()

print(x)

['Thank you for the music', 'Welcome to the jungle']

In [209]:

# Split a string into a list where each line is a list item:

txt = "Thank you for the music\nWelcome to the jungle"

x = txt.splitlines(True)
y = txt.splitlines(False)

print(x)
print(y)

['Thank you for the music\n', 'Welcome to the jungle']
['Thank you for the music', 'Welcome to the jungle']

<br>

<br>

<span style="color: #F7D205">⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃</span>

<br>

<font size="+1"><span style="background-color: yellow;color:red"><strong>string.startswith(&nbsp;</strong></span>&nbsp;**prefix[, start[, end]]**<span style="background-color: yellow;color:red"><strong>&nbsp;)&nbsp;</strong></span></font>

<span style="color:blue">Returns **True if the string starts with the specified prefix**; otherwise, False</span>

In [210]:

# Check if the string starts with "Hello":

txt = "Hello, welcome to my world."

x = txt.startswith("Hello")

print(x)

True

In [211]:

# Check if position 7 to 20 starts with the characters "wel":

txt = "Hello, welcome to my world."

x = txt.startswith("wel", 7, 20)

print(x)

True

<br>

<br>

<span style="color: #F7D205">⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃</span>

<br>

<font size="+1"><span style="background-color: yellow;color:red"><strong>&nbsp;string.strip(&nbsp;</strong></span>&nbsp;**[chars]**&nbsp;<span style="background-color: yellow;color:red"><strong>&nbsp;)&nbsp;</strong></span></font>

<span style="color:blue">Returns a **copy** (trimmed from **both left and right side**) of the string with **leading** and **trailing** characters removed <br> (whitespace <span style="background-color: yellow">**"&nbsp;&nbsp;"**</span> by default)</span>

In [212]:

# Remove the leading and trailing characters:

txt = ",,,,,rrttgg.....banana....rrr"

x = txt.strip(",.grt")    #  ====>  , . g r t   (all these characters will be removed from both sides)

print(x)

banana

In [213]:

# Remove the leading and trailing characters:

txt = ",,,,,rrttgg.....banana....rrr"

x = txt.strip(",rtg.")    #  ====>  , . g r t   (all these characters will be removed from both sides)

print(x)

banana

<br>

<br>

<span style="color: #F7D205">⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃</span>

<br>

<font size="+1"><span style="background-color: yellow;color:red"><strong>string.swapcase(&nbsp;)</strong></span></font>

<span style="color:blue">**Swaps** cases, returns a **copy** of the string with **uppercase** characters converted to **lowercase** and **vice versa**</span>

In [214]:

# Make the lower case letters upper case and the upper case letters lower case:

txt = "Hello My Name Is AVINASH"

x = txt.swapcase()

print(x)

hELLO mY nAME iS avinash

In [215]:

txt = "123_one_TWO_three"

x = txt.swapcase()

print(x)

123_ONE_two_THREE

<br>

<br>

<span style="color: #F7D205">⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃</span>

<br>

<font size="+1"><span style="background-color: yellow;color:red"><strong>string.title(&nbsp;)</strong></span></font>

<span style="color:blue">Returns a **copy** of the string with the first character of each word capitalized<br>Converts the **first character** of **each word** to **upper case**<br>If the word contains a number or a symbol, the first letter after that will be converted to upper case.</span>

In [216]:

# Make the first letter in each word upper case:

txt = "Welcome to my world"

x = txt.title()

print(x)

Welcome To My World

<br>

<span style="background-color: #CAFEFD">&nbsp;**Note** that the first letter after a non-alphabet letter is converted into a upper case letter.</span>

In [217]:

# Make the first letter in each word upper case:

txt = "Welcome to my 2nd world"

x = txt.title()

print(x)

Welcome To My 2Nd World

In [218]:

txt = "hello b2b2b2 and 3g3g3g"

x = txt.title()

print(x)

Hello B2B2B2 And 3G3G3G

<br>

<br>

<span style="color: #F7D205">⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃</span>

<br>

<font size="+1"><span style="background-color: yellow;color:red"><strong>string.translate(&nbsp;)</strong></span></font>

<span style="color:blue">Returns a **translated string** using a **translation table**</span>

<span style="color:blue">The **translate( )** method returns a string where **some specified characters are replaced with the character described** in a **dictionary**, or in a **mapping table**.</span>

<span style="color:blue">Use the **maketrans( )** method to create a mapping table.</span>

<span style="color:blue">If a character is not specified in the dictionary/table, the character will not be replaced.</span>

<span style="color:blue">If you use a dictionary, you must use **ascii codes instead of characters**.</span>

In [219]:

# Replace any "S" characters with a "P" character:

#use a dictionary with ascii codes to replace 83 (S) with 80 (P):
mydict = {83:  80}
txt = "Hello Sam!"
print(txt.translate(mydict))

Hello Pam!

In [220]:

# Use a mapping table to replace "S" with "P":

txt = "Hello Sam!"
mytable = str.maketrans("S", "P")
print(txt.translate(mytable))

Hello Pam!

In [221]:

# Use a mapping table to replace many characters:

txt = "Hi Sam!"
x = "mSa"
y = "eJo"
mytable = str.maketrans(x, y)
print(txt.translate(mytable))

Hi Joe!

In [222]:

# he third parameter in the mapping table describes characters that you want to remove from the string:

txt = "Good night Sam!"
x = "mSa"
y = "eJo"
z = "odnght"
mytable = str.maketrans(x, y, z)
print(txt.translate(mytable))

G i Joe!

In [223]:

# The same example as above, but using a dictionary instead of a mapping table:

txt = "Good night Sam!"
mydict = {109: 101, 83: 74, 97: 111, 111: None, 100: None, 110: None, 103: None, 104: None, 116: None}
print(txt.translate(mydict))

G i Joe!

<br>

<br>

<span style="color: #F7D205">⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃</span>

<br>

<font size="+1"><span style="background-color: yellow;color:red"><strong>string.upper(&nbsp;)</strong></span></font>

<span style="color:blue">Returns a **copy** of the string converted to **uppercase**</span>

Symbols and Numbers are ignored.

In [224]:

# Upper case the string:

txt = "Hello my friends"

x = txt.upper()

print(x)

HELLO MY FRIENDS

<br>

<br>

<span style="color: #F7D205">⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃</span>

<br>

<font size="+1"><span style="background-color: yellow;color:red"><strong>&nbsp;string.zfill(&nbsp;</strong></span>&nbsp;**length**&nbsp;<span style="background-color: yellow;color:red"><strong>&nbsp;)&nbsp;</strong></span></font>

<span style="color:blue">Pads a numeric string with **zeros** on the **left side** to make it a **specified length**. <br> In other words, it fills the string with a specified number of **0** values at the **beginning**</span>

If the value of the length parameter is less than the length of the string, no filling is done.

In [225]:

# Fill the string with zeros until it is 10 characters long:

txt = "50"

x = txt.zfill(10)    # total 10 spaces including txt

print(x)

0000000050

In [226]:

# Fill the strings with zeros until they are 10 characters long:

a = "hello"
b = "welcome to the jungle"
c = "10.000"

print(a.zfill(10))     #  len(a) < 10  ====>  so (10 - len(a)) = (10 - 5) = 5 number of zeros to be filled in the left side
print(b.zfill(10))     #  len(b) > 10  ====>  so no zero filling in the left side
print(c.zfill(10))     #  len(c) < 10  ====>  so (10 - len(c)) = (10 - 6) = 4 number of zeros to be filled in the left side

00000hello
welcome to the jungle
000010.000

<br>

<br>

<span style="color: #F7D205">⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃⁃</span>

<br>


🔶 ➜ string.<span style="color: blue">**split**</span>( **separator** = None , **maxsplit** = -1 ) <br> 
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;string.<span style="color: blue">**rsplit**</span>( **separator** = None , **maxsplit** = -1 ) <br>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;string.<span style="color: blue">**splitlines**</span>( **keeplinebreaks**  ) <br>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;string.<span style="color: blue">**partition**</span>( **separator** ) <br>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;string.<span style="color: blue">**rpartition**</span>( **separator** ) <br>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;string.<span style="color: blue">**join**</span>( **iterable** )  <br>

<br>

🔶 ➜ string.<span style="color: blue">**capitalize( )**</span>  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;  string.<span style="color: blue">**casefold( )**</span>   &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;  string.<span style="color: blue">**lower( )**</span>  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;  string.<span style="color: blue">**upper( )**</span>  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; string.<span style="color: blue">**title( )**</span>  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;  string.<span style="color: blue">**swapcase( )**</span>

<br>

🔶 ➜ string.<span style="color: blue">**count**</span>( **substring**[, **start**[, **end**]] )

<br>

🔶 ➜ string.<span style="color: blue">**find**</span>( **substring**[, **start**[, **end**]] )   <br>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;string.<span style="color: blue">**rfind**</span>( **substring**[, **start**[, **end**]] )  <br>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;string.<span style="color: blue">**index**</span>( **substring**[, **start**[, **end**]] )  <br>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;string.<span style="color: blue">**rindex**</span>( **substring**[, **start**[, **end**]] )  <br>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;string.<span style="color: blue">**translate(&nbsp;)**

<br>

🔶 ➜ string.<span style="color: blue">**format**</span>( ***args**, **kwargs** )    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;   string.<span style="color: blue">**format**</span>( **value1**, **value2**..... )  <br>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;string.<span style="color: blue">**format_map**</span>( **mapping** )  <br>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;string.<span style="color: blue">**strip**</span>( [**chars**] )       <br>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;string.<span style="color: blue">**lstrip**</span>( [**chars**] )      <br>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;string.<span style="color: blue">**rstrip**</span>( [**chars**] )      <br>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;string.<span style="color: blue">**center**</span>( **length**[, **fillchar**]  )  <br>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;string.<span style="color: blue">**expandtabs**</span>( **tabsize** )     <br>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;string.<span style="color: blue">**ljust**</span>( **length**[, **fillchar**] )   <br>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;string.<span style="color: blue">**rjust**</span>( **length**[, **fillchar**] )   <br>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;string.<span style="color: blue">**zfill**</span>( **length** )  <br>

<br>

🔶 ➜ string.<span style="color: blue">**startswith**</span>( **prefix**[, **start**[, **end**]] )  <br>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;string.<span style="color: blue">**endswith**</span>( **suffix**[, **start**[, **end**]] )  <br>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;string.<span style="color: blue">**islower**</span>(&nbsp;)        <br>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;string.<span style="color: blue">**isupper**</span>(&nbsp;)        <br>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;string.<span style="color: blue">**istitle**</span>(&nbsp;)        <br>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;string.<span style="color: blue">**isalnum**</span>(&nbsp;)        <br>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;string.<span style="color: blue">**isalpha**</span>(&nbsp;)        <br>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;string.<span style="color: blue">**isascii**</span>(&nbsp;)        <br>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;string.<span style="color: blue">**isspace**</span>(&nbsp;)        <br>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;string.<span style="color: blue">**isdecimal**</span>(&nbsp;)      <br>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;string.<span style="color: blue">**isdigit**</span>(&nbsp;)        <br>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;string.<span style="color: blue">**isidentifier**</span>(&nbsp;)   <br>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;string.<span style="color: blue">**isnumeric**</span>(&nbsp;)      <br>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;string.<span style="color: blue">**isprintable**</span>(&nbsp;)    <br>

<br>

🔶 ➜ string.<span style="color: blue">**encode**</span>( [**encoding**[, **errors**]] )  <br>

<br>

### <span style="background-color: #CAFEFD;">Summary :</span>

&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;⇒ In Python, a string is a series of characters. Also, Python strings are **immutable**. <br>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;⇒ Use quotes, either **single** quotes or **double** quotes to create string literals. <br>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;⇒ Use the **backslash character** <span style="background-color: yellow;color: red"><strong> \\ </strong></span> to escape quotes in strings. <br>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;⇒ Use **raw strings** <span style="background-color: yellow;color: red"><strong> r'...' </strong></span> to escape the backslash character. <br>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;⇒ Use **f-strings** or **.format()** to insert substitute variables in literal strings. <br>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;⇒ Place literal strings <span style="color: blue">next to each other</span> to **concatenate** them. And use the <span style="background-color: yellow;color: red"><strong> + </strong></span> operator to **concatenate** string variables. <br>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;⇒ Use the <span style="background-color: yellow;color: red"><strong> len() </strong></span> function to get the size of a string. <br>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;⇒ Use the <span style="background-color: yellow;color: red"><strong> str[n] </strong></span> to access the character at the position n of the string str. <br>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;⇒ Use **slicing** to extract a **substring** from a string. <br>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;⇒ use <span style="background-color: yellow;color:red"><strong> &nbsp;&nbsp; for &nbsp;&nbsp;</strong></span> loop to loop through the characters in a string. <br>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;⇒ use <span style="background-color: yellow;color:red"><strong> &nbsp;&nbsp; in &nbsp;&nbsp;</strong></span> and <span style="background-color: yellow;color:red"><strong> &nbsp;&nbsp; not in &nbsp;&nbsp;</strong></span> to **check** if a certain phrase or character is **present or not** in a string.

<br>

<br>

<br>

<span style="color: blue"> █ █ █ █ █ █ █ █ █ █ █ █ █ █ █ █ █ █ █ █ █ █ █ █ █ █ █ █ █ █  █ █ █ █ █ █ █ █ █ █ █ █ █ █ █ █ █ █ █ █ █ █ █ █  █ █ █ █ █ █ █ █ █ █ █ █ █ █ █ █ █ █ █ █ █ █ █ █  </span>

<br>

<br>

<br>

# <u>Numbers</u>

<br>


Python supports **integers**, **floats**, and **complex numbers**. 

### <span style="background-color: yellow;">Underscores in numbers</span>

When a number is large, it’ll become difficult to read. For example:

In [229]:

count = 10000000000

To make the long numbers **more readable**, you can group digits using **underscores**, like this:

In [230]:

count = 10_000_000_000

When storing these values, Python just **ignores** the **underscores**. It does so when displaying the numbers with underscores on the screen:

In [231]:

count = 10_000_000_000
print(count)

10000000000

<br>

<span style="background-color: #CAFEFD"> **Note :**</span>

&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;⇒ The underscores also work for both **integers** and **floats**. <br>

&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;⇒ Use the underscores to <span style="color: blue;">group</span> numbers for the **large** numbers. <br>

<br>

<br>

# <u>Boolean</u>

<br>

The boolean data type has two values: <span style="background-color: yellow;color: red"><strong> True </strong></span> and  <span style="background-color: yellow;color: red"><strong> False </strong></span> which start with the capital letters (<span style="background-color: yellow;color: red"><strong> T </strong></span>) and (<span style="background-color: yellow;color: red"><strong> F </strong></span>) respectively.

In [232]:

is_active = True
is_admin = False

<br>

When you compare two **numbers**, Python returns the result as a boolean value. For example:

In [233]:

print("20 > 10 returns", 20 > 10)

print("20 < 10 returns", 20 < 10)

20 > 10 returns True
20 < 10 returns False

<br>

Also, comparing two strings results in a boolean value:

In [234]:

print("'a' < 'b' returns ", 'a' < 'b')

print("'a' > 'b' returns ", 'a' > 'b')

'a' < 'b' returns  True
'a' > 'b' returns  False

<br>

### 1. <span style="background-color: yellow;">The bool() function</span> <br>

To find out if a value is <span style="background-color: yellow;color: red"><strong> True </strong></span> or <span style="background-color: yellow;color: red"><strong> False </strong></span>, you use the <span style="color: red"><strong> bool() </strong></span> function. For example:

In [235]:

bool('Hi')

True

In [236]:

bool('')

False

In [238]:

bool(100)

True

In [239]:

bool(0)

False

In [240]:

bool(-100)

True

<br>

### 2. <span style="background-color: yellow;">Falsy and Truthy values</span> <br>

When a value evaluates to <span style="background-color: yellow;color: red"><strong> True </strong></span>, it’s **truthy**. And if a value evaluates to <span style="background-color: yellow;color: red"><strong> False </strong></span>, it’s **falsy**.

<br>

The following are **falsy** values in Python:

&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;⇒ The number zero (<span style="background-color: #CAFEFD"><strong> 0 </strong></span>) <br>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;⇒ An empty string <span style="background-color: #CAFEFD"><strong> '' </strong></span> <br>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;⇒ <span style="background-color: #CAFEFD"><strong> False </strong></span> <br>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;⇒ <span style="background-color: #CAFEFD"><strong> None </strong></span> <br>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;⇒ An empty list <span style="background-color: #CAFEFD"><strong> [] </strong></span> <br>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;⇒ An empty tuple <span style="background-color: #CAFEFD"><strong> () </strong></span> <br>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;⇒ An empty dictionary <span style="background-color: #CAFEFD"><strong> {} </strong></span> 

<br>

The truthy values are the other values that aren’t falsy.

<br>

# <u>Constants</u>

<br>

Sometimes, you may want to store values in variables. But you don’t want to change these values throughout the execution of the program.

The bad news is that <span style="color: blue">Python doesn’t support constants</span>.

To work around this, you use **all capital letters** to name a variable to indicate that the variable should be treated as a constant. For example:

In [241]:

FILE_SIZE_LIMIT = 2000

<br>

<span style="background-color: #CAFEFD"> **Note :**</span>
When encountering variables like these, you should not change their values. These variables are <span style="color: blue"><strong> constant by convention </strong></span>, **not by rules**.

<br>

# <u>Type Conversion</u>

<br>

### 1. <span style="background-color: yellow;">Introduction to type conversion in Python</span> <br>

To get input from users, you use the <span style="background-color: yellow;color: red"><strong> input() </strong></span> function. For example:

In [242]:

value = input('Enter a value:')
print("You entered ",value)

Enter a value: 2

You entered  2

However, the <span style="background-color: yellow;color: red"><strong> input() </strong></span> function <span style = "background-color: #CAFEFD">returns a **string**, not an integer</span>.

Let's verify:

In [244]:

salary = input("Enter your current salary ($): ")
hike = input("Enter the hike rate (%): ")

new_salary = salary + (salary * hike/100)

print(f"Your new salary is ${new_salary}")

Enter your current salary ($):  1200000
Enter the hike rate (%):  80

TypeError: can't multiply sequence by non-int of type 'str'

<br>

<span style="color: blue">Since the input values are **strings**, you cannot apply the **multiply** operator.</span>

To solve this issue, you need to **convert the strings to numbers** before performing calculations.

<span style="background-color: #CAFEFD"> **Note :**</span> The <span style="background-color: yellow;color: red"><strong> float() </strong></span> function converts a string to a float.

In [245]:

salary = input("Enter your current salary ($): ")
hike = input("Enter the hike rate (%): ")

new_salary = float(salary) + (float(salary) * float(hike)/100)

print(f"Your new salary is ${new_salary}")

Enter your current salary ($):  1200000
Enter the hike rate (%):  80

Your new salary is $2160000.0

In [246]:

# Instead of converting the input type so many times in an expression, we can convert it right away in the begining itself:

salary = float(input("Enter your current salary ($): "))
hike = float(input("Enter the hike rate (%): "))

new_salary = salary + (salary * hike / 100)

print(f"Your new salary is ${new_salary}")

Enter your current salary ($):  1200000
Enter the hike rate (%):  80

Your new salary is $2160000.0

<br>

### 2. <span style="background-color: yellow;">Type conversion functions</span> <br>

&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Most important ones:


&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;⇒ <span style="background-color: yellow;color: red"><strong> int( </strong></span><span style="color: blue">**str**</span><span style="background-color: yellow;color: red"><strong> ) </strong></span> – convert a string to an integer. <br>

&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;⇒ <span style="background-color: yellow;color: red"><strong> float( </strong></span><span style="color: blue">**str**</span><span style="background-color: yellow;color: red"><strong> ) </strong></span> – convert a string to a floating-point number. <br>

&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;⇒ <span style="background-color: yellow;color: red"><strong> bool( </strong></span><span style="color: blue">**val**</span><span style="background-color: yellow;color: red"><strong> ) </strong></span> - convert a value to a boolean value, either True or False. <br>

&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;⇒ <span style="background-color: yellow;color: red"><strong> str( </strong></span><span style="color: blue">**val**</span><span style="background-color: yellow;color: red"><strong> ) </strong></span> - return the string representation of a value. <br>

<br>

In [247]:

int("10")

10

In [248]:

int(10.5)

10

In [249]:

# ValueError: invalid literal for int() with base 10: '10.5'

int("10.5")

ValueError: invalid literal for int() with base 10: '10.5'

In [250]:

# ValueError: invalid literal for int() with base 10: 'ten'

int("ten")

ValueError: invalid literal for int() with base 10: 'ten'

In [251]:

float(10)

10.0

In [252]:

float("10")

10.0

In [253]:

float("10.5")

10.5

In [254]:

float("ten")

ValueError: could not convert string to float: 'ten'

In [255]:

bool(4)

True

In [256]:

bool("4")

True

In [257]:

bool("")

False

In [258]:

bool([])

False

In [259]:

bool({})

False

<br>


================================================================================================================
<br>

<br>

<span style="background-color: yellow;color: red"><strong> int( </strong></span><span style="color: blue">**str**</span><span style="background-color: yellow;color: red"><strong> ) </strong></span>

<br>

In [260]:

# convert a FLOAT to an INTEGER
print(int(3.14))                      # Output: 3


# convert a STRING to an INTEGER
print(int('five'))                    # ValueError: invalid literal for int() with base 10: 'five'
print(int("5"))                       # Output: 5


# convert a BOOLEAN to an INTEGER
print(int(True))                      # Output: 1


# convert a LIST to an INTEGER
print(int([1,2,3]))                   # Output: TypeError: int() argument must be a string, a bytes-like object or a real number, not 'list'


# convert an INTEGER to an INTEGER
print(int(10))                        # Output: 10

3

ValueError: invalid literal for int() with base 10: 'five'

<br>

<br>

<span style="background-color: #CAFEFD"> However, it's important to note that if you **overwrite** the built-in '<span style="background-color: #CAFEFD;color: red">**int**</span>' function with some value (**assigned to a variable named '<span style="background-color: #CAFEFD;color: red">int</span>'**), you might encounter a '<span style="background-color: yellow;color: red">**TypeError**</span>' when trying to call '<span style="background-color: #CAFEFD;color: red">**int()**</span>.'</span>

For Example:

In [261]:
int = 5

<br>

As soon as the Python Interpreter interprets the **data type** of the value <span style="color: red">**5**</span> assigned, it first creates an <span style="background-color: yellow">**int object** (inside a portion of the RAM allocated for the **HEAP**) holding the value <span style="color: red">**5**</span></span> and then creates a <span style="background-color: yellow">**variable** (inside another portion of the RAM allocated for the **STACK**) with the name <span style="color: blue"> **int** </span> for holding the <span style="color: red">**address**</span> of this **int object**</span>.

<br>

In [262]:

# convert a FLOAT to an INTEGER
print(int(3.14))                     # TypeError: 'int' object is not callable


# convert a STRING to an INTEGER
print(int('five'))                   # TypeError: 'int' object is not callable
print(int("5"))                      # TypeError: 'int' object is not callable


# convert a BOOLEAN to an INTEGER
print(int(True))                     # TypeError: 'int' object is not callable


# convert a LIST to an INTEGER
print(int([1,2,3]))                  # TypeError: 'int' object is not callable


# convert an INTEGER to an INTEGER
print(int(10))                       # TypeError: 'int' object is not callable          # even FLOAT ⇒ FLOAT throws error

TypeError: 'int' object is not callable

<br>


================================================================================================================
<br>

<br>

<span style="background-color: yellow;color: red"><strong> float( </strong></span><span style="color: blue">**str**</span><span style="background-color: yellow;color: red"><strong> ) </strong></span>

<br>

In [263]:

# convert an INTEGER to a FLOAT
print(float(4))                        # Output: 4.0


# convert a STRING to a FLOAT
print(float('three point one four'))   # ValueError: could not convert string to float: 'three point one four'
print(float("3.14"))                   # Output: 3.14


# convert a BOOLEAN to a FLOAT
print(float(True))                      # Output: 1.0


# convert a LIST to a FLOAT
print(float([1,2,3]))                  # TypeError: float() argument must be a string or a real number, not 'list'


# convert a FLOAT to a FLOAT
print(float(3.14))                     # Output: 3.14

4.0

ValueError: could not convert string to float: 'three point one four'

<br>

<br>

<span style="background-color: #CAFEFD"> Now if you try to **overwrite** the built-in '<span style="background-color: #CAFEFD;color: red">**float**</span>' function with some value (**assigned to a variable named '<span style="background-color: #CAFEFD;color: red">float</span>'**), you might encounter a '<span style="background-color: yellow;color: red">**TypeError**</span>' when trying to call '<span style="background-color: #CAFEFD;color: red">**float()**</span>.'</span>

For Example:

In [264]:
float = 3.14

<br>

As soon as the Python Interpreter interprets the **data type** of the value <span style="color: red">**3.14**</span> assigned, it first creates an <span style="background-color: yellow">**int object** (inside a portion of the RAM allocated for the **HEAP**) holding the value <span style="color: red">**3.14**</span></span> and then creates a <span style="background-color: yellow">**variable** (inside another portion of the RAM allocated for the **STACK**) with the name <span style="color: blue"> **float** </span> for holding the <span style="color: red">**address**</span> of this **int object**</span>.

<br>

In [265]:

# convert an INTEGER to a FLOAT
print(float(4))                        # TypeError: 'float' object is not callable


# convert a STRING to a FLOAT
print(float('three point one four'))   # TypeError: 'float' object is not callable
print(float("3.14"))                   # TypeError: 'float' object is not callable


# convert a BOOLEAN to a FLOAT
print(float(True))                    # TypeError: 'float' object is not callable


# convert a LIST to a FLOAT
print(float([1,2,3]))                  # TypeError: 'float' object is not callable


# convert a FLOAT to a FLOAT
print(float(3.14))                     # TypeError: 'float' object is not callable          # even FLOAT ⇒ FLOAT throws error

TypeError: 'float' object is not callable

<br>


================================================================================================================
<br>

<br>

<span style="background-color: yellow;color: red"><strong> bool( </strong></span><span style="color: blue">**val**</span><span style="background-color: yellow;color: red"><strong> ) </strong></span>

<br>

In [266]:

# convert an INTEGER to a BOOLEAN
print(bool(4))                       # Output: True          # Because 4 is a truthy value


# convert a FLOAT to a BOOLEAN
print(bool(3.14))                    # Output: True          # Because 3.14 is a truthy value


# convert a STRING to a BOOLEAN
print(bool('true'))                  # Output: True          # Because 'true' is a truthy value
print(bool('false'))                 # Output: True          # Because 'false' is a truthy value
print(bool('Data Engineering'))      # Output: True          # Because 'Data Engineering' is a truthy value


# convert a LIST to a BOOLEAN
print(bool([1,2,3]))                 # Output: True          # Because [1,2,3] is a truthy value


# convert a BOOLEAN to a BOOLEAN
print(bool(False))                   # Output: False         # Because False is a falsy value

True
True
True
True
True
True
False

<br>

<br>

<span style="background-color: #CAFEFD"> Now if you try to **overwrite** the built-in '<span style="background-color: #CAFEFD;color: red">**bool**</span>' function with some value (**assigned to a variable named '<span style="background-color: #CAFEFD;color: red">bool</span>'**), you might encounter a '<span style="background-color: yellow;color: red">**TypeError**</span>' when trying to call '<span style="background-color: #CAFEFD;color: red">**bool()**</span>.'</span>

For Example:

In [267]:

bool = True

<br>

As soon as the Python Interpreter interprets the **data type** of the value <span style="color: red">**True**</span> assigned, it first creates an <span style="background-color: yellow">**int object** (inside a portion of the RAM allocated for the **HEAP**) holding the value <span style="color: red">**True**</span></span> and then creates a <span style="background-color: yellow">**variable** (inside another portion of the RAM allocated for the **STACK**) with the name <span style="color: blue"> **bool** </span> for holding the <span style="color: red">**address**</span> of this **int object**</span>.

<br>

In [268]:

# convert an INTEGER to a BOOLEAN
print(bool(4))                        # TypeError: 'bool' object is not callable


# convert a FLOAT to a BOOLEAN
print(bool(3.14))                     # TypeError: 'bool' object is not callable


# convert a STRING to a BOOLEAN
print(bool('true'))                   # TypeError: 'bool' object is not callable
print(bool('false'))                  # TypeError: 'bool' object is not callable
print(bool('Data Engineering'))       # TypeError: 'bool' object is not callable  


# convert a LIST to a BOOLEAN
print(bool([1,2,3]))                  # TypeError: 'bool' object is not callable


# convert a BOOLEAN to a BOOLEAN
print(bool(False))                    # TypeError: 'bool' object is not callable          # even BOOLEAN ⇒ BOOLEAN throws error

TypeError: 'bool' object is not callable

<br>


================================================================================================================
<br>

<br>

<span style="background-color: yellow;color: red"><strong> str( </strong></span><span style="color: blue">**val**</span><span style="background-color: yellow;color: red"><strong> ) </strong></span>

<br>

In [269]:

# convert an INTEGER to a STRING
print(str(4))                            # Output: 4


# convert a FLOAT to a STRING
print(str(3.14))                         # Output: 3.14


# convert a BOOLEAN to a STRING
print(str(True))                         # Output: True


# convert a LIST to a STRING
print(str([1,2,3]))                      # Output: [1,2,3]


# convert a STRING to a STRING
print(str("Data Engineering is fun"))   # Output: Data Engineering is fun
print(str("Data Science is also fun"))  # Output: Data Engineering is also fun
print(str("three point one four"))        # Output: three point one four
print(str("3.14"))                      # Output: 3.14

TypeError: 'str' object is not callable

<br>

<br>

<span style="background-color: #CAFEFD"> Now if you try to **overwrite** the built-in '<span style="background-color: #CAFEFD;color: red">**str**</span>' function with some value (**assigned to a variable named '<span style="background-color: #CAFEFD;color: red">str</span>'**), you might encounter a '<span style="background-color: yellow;color: red">**TypeError**</span>' when trying to call '<span style="background-color: #CAFEFD;color: red">**str()**</span>.'</span>

For Example:

In [270]:

str = "Data Engineering is fun."

<br>

As soon as the Python Interpreter interprets the **data type** of the value <span style="color: red">**"Data Engineering is fun"**</span> assigned, it first creates an <span style="background-color: yellow">**int object** (inside a portion of the RAM allocated for the **HEAP**) holding the value <span style="color: red">**"Data Engineering is Fun"**</span></span> and then creates a <span style="background-color: yellow">**variable** (inside another portion of the RAM allocated for the **STACK**) with the name <span style="color: blue"> **str** </span> for holding the <span style="color: red">**address**</span> of this **int object**</span>.

<br>

In [271]:

# convert an INTEGER to a STRING
print(str(4))                            # TypeError: 'str' object is not callable


# convert a FLOAT to a STRING
print(str(3.14))                         # TypeError: 'str' object is not callable


# convert a BOOLEAN to a STRING
print(str(True))                         # TypeError: 'str' object is not callable


# convert a LIST to a STRING
print(str([1,2,3]))                      # TypeError: 'str' object is not callable


# convert a STRING to a STRING
print(str("Data Science is also fun"))   # TypeError: 'str' object is not callable
print(str("Data Science is also fun"))   # TypeError: 'str' object is not callable
print(str("three point one four"))       # TypeError: 'str' object is not callable
print(str("3.14"))                       # TypeError: 'str' object is not callable

TypeError: 'str' object is not callable

<br>

<span style="background-color: #C9FF71;color: black">**Note**</span> :-

<div style="margin-left: 20px">

You can <span style="color: blue">**avoid**</span> these kind of <span style="background-color: yellow;color: red">**TypeError**</span>s and <span style="color: blue">**restore**</span> the original functionality of these **Type Conversion Functions** <span style="color: red">**int()**</span>, <span style="color: red">**float()**</span>, <span style="color: red">**boolean()**</span> and <span style="color: red">**str()**</span>
by <span style="color: blue">**deleting the variable you've assigned**</span>.

</div>

In [272]:

int = 5                               # creating a variable with the name int to point to the int object holding the value 5 

del int                               # deleting the variable assigned


# convert a FLOAT to an INTEGER
print(int(3.14))                      # Output: 3


# convert a STRING to an INTEGER
#print(int('five'))                   # ValueError: invalid literal for int() with base 10: 'five'
print(int("5"))                       # Output: 5


# convert a BOOLEAN to an INTEGER
print(int(True))                      # Output: 1


# convert a LIST to an INTEGER
#print(int([1,2,3]))                   # TypeError: int() argument must be a string, a bytes-like object or a real number, not 'list'


# convert an INTEGER to an INTEGER
print(int(10))                         # Output: 10

3
5
1
10

In [273]:

float = 3.14                           # creating a variable with the name float to point to the float object holding the value 3.14 


del float                              # deleting the variable assigned


# convert an INTEGER to a FLOAT
print(float(4))                        # Output: 4.0


# convert a STRING to a FLOAT
#print(float('three point one four'))   # ValueError: could not convert string to float: 'three point one four'
print(float("3.14"))                   # Output: 3.14


# convert a BOOLEAN to a FLOAT
print(float(True))                      # Output: 1.0


# convert a LIST to a FLOAT
#print(float([1,2,3]))                  # TypeError: float() argument must be a string or a real number, not 'list'


# convert a FLOAT to a FLOAT
print(float(3.14))                     # Output: 3.14

4.0
3.14
1.0
3.14

In [274]:

bool = True                          # creating a variable with the name bool to point to the bool object holding the value True 


del bool                             # deleting the variable assigned


# convert an INTEGER to a BOOLEAN
print(bool(4))                       # Output: True          # Because 4 is a truthy value


# convert a FLOAT to a BOOLEAN
print(bool(3.14))                    # Output: True          # Because 3.14 is a truthy value


# convert a STRING to a BOOLEAN
print(bool('true'))                  # Output: True          # Because 'true' is a truthy value
print(bool('false'))                 # Output: True          # Because 'false' is a truthy value
print(bool('Data Engineering'))      # Output: True          # Because 'Data Engineering' is a truthy value


# convert a LIST to a BOOLEAN
print(bool([1,2,3]))                 # Output: True          # Because [1,2,3] is a truthy value


# convert a BOOLEAN to a BOOLEAN
print(bool(False))                   # Output: False         # Because False is a falsy value

True
True
True
True
True
True
False

In [275]:

str = "Data Engineering is fun."         # creating a variable with the name str to point to the str object holding the value "Data Engineering is fun"


del str                                  # deleting the variable assigned


# convert an INTEGER to a STRING
print(str(4))                            # Output: 4


# convert a FLOAT to a STRING
print(str(3.14))                         # Output: 3.14


# convert a BOOLEAN to a STRING
print(str(True))                         # Output: True


# convert a LIST to a STRING
print(str([1,2,3]))                      # Output: [1,2,3]


# convert a STRING to a STRING
print(str("Data Science is also fun"))   # Output: Data Science is also fun
print(str("three point one four"))       # Output: three point one four
print(str("3.14"))                       # Output: 3.14

4
3.14
True
[1, 2, 3]
Data Science is also fun
three point one four
3.14

<br>

### 3. <span style="background-color: yellow;">Getting the type of a value</span> <br>

We already saw previously that to get the type of value, you use the <span style="background-color: yellow;color:red"><strong>&nbsp;type(&nbsp;</strong></span>&nbsp;**value**&nbsp;<span style="background-color: yellow;color:red"><strong>&nbsp;)&nbsp;</strong></span> function. For example:

In [276]:

type(100)

int

In [277]:

type(2.0)

float

In [278]:

type('Hello')

str

In [279]:

type(True)

bool

<br>


<span style="background-color: #C9FF71;color: black">**Note**</span> :-

&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; We will learn more about it in the topic <span style="color: blue">**class**</span> later.

<br>

<br>

### <span style="background-color: #CAFEFD;">Summary :</span>

<br>


&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;⇒ Use the <span style="background-color: yellow;color: red"> **input()**</span> function to **get an input string** from users. <br>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;⇒ Use <span style="color: blue"> **type conversion functions**</span> such as <span style="background-color: yellow;color: red"> **int()**</span>, <span style="background-color: yellow;color: red"> **float()**</span>, <span style="background-color: yellow;color: red"> **bool()**</span>, and <span style="background-color: yellow;color: red"> **str()**</span> to **convert a value from one type to another**. <br>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;⇒ Use the <span style="background-color: yellow;color: red"> **type()**</span> function to get the **type of a value**.


<br>

<br>

# <u>Debugging in Python</u>

<br>


##### 1. using <span style="background-color: white;color:red">**print()**</span> statement
##### 2. using <span style="color:red">**logging**</span> statement
##### 3. using <span style="color:red">**logger.info()**</span> statement from <span style="color: blue"> **loguru**</span> module

<br>

#### <span style="background-color: yellow">How <span style="color:red">**print()**</span> statement is used for debugging?</span> 

<br>

In [280]:

length_of_land = 100

if length_of_land == 100:
    length_of_land = 200
else:
    length_of_land = 300

print(length_of_land)    # use it anywhere for dubbugging

200

In [281]:

length_of_land = 100

if length_of_land == '100':
    length_of_land = 200
else:
    length_of_land = 300

print(length_of_land)    # use it anywhere for dubbugging

300

In [282]:

length_of_land = 100

if length_of_land == int('100'):  # type casting into Integer
    length_of_land = 200
else:
    length_of_land = 300

print(length_of_land)    # use it anywhere for dubbugging

200

In [283]:

print('length_of_land = ',length_of_land)   # better code readability

length_of_land =  200

In [284]:

print("length_of_land = ",length_of_land)   # string with double quotes also possible

length_of_land =  200

In [285]:

print("length_of_land = 100 \nbreadth_of_land = 50")    # \n is the new line character. It is a kind of escape sequence.

length_of_land = 100
breadth_of_land = 50

In [286]:

print("length_of_land = 100 \n breadth_of_land = 50") # here the newline character is followed by a space

length_of_land = 100
 breadth_of_land = 50

In [287]:

# multi line string

print('''length_of_land = 100
         breadth_of_land = 50''')

length_of_land = 100
         breadth_of_land = 50

In [288]:

print('''length_of_land = 100
breadth_of_land = 50''')

length_of_land = 100
breadth_of_land = 50

In [289]:

print('''length_of_land = 100 \n
breadth_of_land = 50''')

length_of_land = 100

breadth_of_land = 50

In [290]:

length_of_land = 100
breadth_of_land = 50

print("length_of_land = ",length_of_land,"\nbreadth_of_land = ",breadth_of_land)  # to check the value of multiple variables at a time when debugging

length_of_land =  100
breadth_of_land =  50

<br>

**Note** - <span style="color: blue">Every print statement puts a new line character <span style="background-color: yellow;color: red">&nbsp;**\n**&nbsp;</span> by **default** at the **end of the string printed**. <br>
We can avoid it by explicitly mentioning what end character we want by using by usng the <span style="background-color: #CAFEFD;color: red;">&nbsp;&nbsp;**end**&nbsp;&nbsp;</span> keyword.</span>

In [291]:

print("Avinash")
print("Kumar")
print("Mishra")

Avinash
Kumar
Mishra

In [292]:

print("Avinash", end='')
print("Kumar", end='')
print("Mishra",end='')

AvinashKumarMishra

In [293]:

print("Avinash ", end='')
print("Kumar ", end='')
print("Mishra",end='')

Avinash Kumar Mishra

In [294]:

print("Avinash", end='_')
print("Kumar", end='_')
print("Mishra",end='')

Avinash_Kumar_Mishra

<br>

<br>

<span style="background-color: #CAFEFD;">But if we have 1000 lines of code, then how we gonna know which line the value of a variable is coming from? That's why we need to import a **module** named <span style="color:red">**logging**</span>  which is very useful to debug a Python Program.</span>

<br>


#### <span style="background-color: yellow">How <span style="color:red">**logging**</span> statement is used for debugging?</span> 

<br>

In [296]:

# Logging                                                                                                                                   # line-1
                                                                                                                                            # line-2
import logging                                                                                                                              # line-3
                                                                                                                                            # line-4
# Configure basic logging                                                                                                                   # line-5
logging.basicConfig(level=logging.DEBUG, format='%(asctime)s - %(levelname)s - %(lineno)d - %(message)s')                                   # line-6
                                                                                                                                            # line-7
                                                                                                                                            # line-8
                                                                                                                                            # line-9
logging.debug("This is a debug message")  # Will include the line number where this statement is located                                    # line-10
logging.info("This is an info message which is also used for debugging")  # Will include the line number where this statement is located    # line-11

2024-04-14 15:21:27,563 - DEBUG - 10 - This is a debug message
2024-04-14 15:21:27,565 - INFO - 11 - This is an info message which is also used for debugging

Here, **10** represents the **line number** where the logging statement is located.

<br>


<span style="background-color: #CAFEFD;">Since there will be so many files in real scenarios, you might want to know which line of which file is this value coming from. For that we can go for the following configuration:</span>

<br>

In [298]:

logging.basicConfig(level=logging.DEBUG, format='%(asctime)s - %(levelname)s - %(filename)s:%(lineno)d - %(message)s')                       # line-1
                                                                                                                                             # line-2
# logging.basicConfig(level=logging.DEBUG, format='%(asctime)s - %(levelname)s - %(filename)s - %(lineno)d - %(message)s')                   # line-3
                                                                                                                                             # line-4
                                                                                                                                             # line-5
logging.debug("This is a debug message")  # Will include the line number where this statement is located                                     # line-6
logging.info("This is an info message which is also used for debugging")  # Will include the line number where this statement is located     # line-7

2024-04-14 15:21:52,115 - DEBUG - 6 - This is a debug message
2024-04-14 15:21:52,116 - INFO - 7 - This is an info message which is also used for debugging

In [299]:

tech_domain = "Data Engineering"                                                 # line-1
choice_priority = 1                                                              # line-2
                                                                                 # line-3
logging.debug(f"{tech_domain} is my {choice_priority}st priority")               # line-4
logging.info(f"{tech_domain} is my {choice_priority}st priority")                # line-5

2024-04-14 15:21:59,166 - DEBUG - 4 - Data Engineering is my 1st priority
2024-04-14 15:21:59,168 - INFO - 5 - Data Engineering is my 1st priority

<br>

<br>

<span style="background-color: #CAFEFD;">This **works fine** in an **Integrated Development Environment (IDE)** like **VsCode**</span> because we already have a proper **project folder structure** there. But in a <span style="color: blue"> **Jupyter Notebook environment**</span>, you may <span style="color: blue"> **face challenges with getting the filename**</span> and the line number to appear in the logging output due to the way Jupyter handles code execution. However, you can achieve this by creating a <span style="color: blue"> **custom logging formatter**</span> and attaching it to your logger.

<br>

In [300]:

import logging                                                                                                                           # line-1
import inspect                                                                                                                           # line-2
                                                                                                                                         # line-3
# Custom formatter to include filename and line number                                                                                   # line-4
class MyFormatter(logging.Formatter):                                                                                                    # line-5
    def format(self, record):                                                                                                            # line-6
        record.filename = inspect.getframeinfo(inspect.stack()[6][0]).filename                                                           # line-7             
        record.lineno = inspect.getframeinfo(inspect.stack()[6][0]).lineno                                                               # line-8
        return super().format(record)                                                                                                    # line-9                                                                                               # line-9
                                                                                                                                         # line-10
# Configure logging                                                                                                                      # line-11
logger = logging.getLogger()                                                                                                             # line-12
logger.setLevel(logging.DEBUG)                                                                                                           # line-13
                                                                                                                                         # line-14
# Create and add the custom formatter to the logger                                                                                      # line-15
formatter = MyFormatter('%(asctime)s - %(levelname)s - %(filename)s - %(lineno)d - %(message)s')                                         # line-16
stream_handler = logging.StreamHandler()                                                                                                 # line-17
stream_handler.setFormatter(formatter)                                                                                                   # line-18
logger.addHandler(stream_handler)                                                                                                        # line-19
                                                                                                                                         # line-20
# Test logging                                                                                                                           # line-21
logging.debug("This is a debug message")                                                                                                 # line-22
logging.info("This is an info message which is also used for debugging")                                                                 # line-23

2024-04-14 15:22:09,741 - DEBUG - 22 - This is a debug message
2024-04-14 15:22:09,741 - DEBUG - C:\Users\user\AppData\Local\Programs\Python\Python311\Lib\logging\__init__.py - 1634 - This is a debug message
2024-04-14 15:22:09,992 - INFO - 23 - This is an info message which is also used for debugging
2024-04-14 15:22:09,992 - INFO - C:\Users\user\AppData\Local\Programs\Python\Python311\Lib\logging\__init__.py - 1634 - This is an info message which is also used for debugging

In [301]:

tech_domain = "Data Engineering"                                                 # line-1
choice_priority = 1                                                              # line-2
                                                                                 # line-3
logging.debug(f"{tech_domain} is my {choice_priority}st priority")               # line-4
logging.info(f"{tech_domain} is my {choice_priority}st priority")                # line-5

2024-04-14 15:22:16,047 - DEBUG - 4 - Data Engineering is my 1st priority
2024-04-14 15:22:16,047 - DEBUG - C:\Users\user\AppData\Local\Programs\Python\Python311\Lib\logging\__init__.py - 1634 - Data Engineering is my 1st priority
2024-04-14 15:22:16,104 - INFO - 5 - Data Engineering is my 1st priority
2024-04-14 15:22:16,104 - INFO - C:\Users\user\AppData\Local\Programs\Python\Python311\Lib\logging\__init__.py - 1634 - Data Engineering is my 1st priority

<br>


#### <span style="background-color: yellow">How <span style="color:red">**logger.info()**</span> from <span style="color: blue"> **loguru**</span> module statement is used for debugging?</span> 

<br>

In [140]:
pip install loguru

Requirement already satisfied: loguru in c:\users\user\appdata\local\programs\python\python311\lib\site-packages (0.7.0)
Requirement already satisfied: colorama>=0.3.4 in c:\users\user\appdata\roaming\python\python311\site-packages (from loguru) (0.4.6)
Requirement already satisfied: win32-setctime>=1.0.0 in c:\users\user\appdata\local\programs\python\python311\lib\site-packages (from loguru) (1.1.0)
Note: you may need to restart the kernel to use updated packages.

In [302]:

from loguru import logger                        # line-1
                                                 # line-2
logger.info("This is a debug message")           # line-3

2024-04-14 15:22:40.964 | INFO     | __main__:<module>:3 - This is a debug message

It's coming from <span style="background-color: yellow">&nbsp;line number **3**&nbsp;</span> of <span style="color: blue">**\__main\__:\<module\>**</span>. It's **not showing the filename** because we have not maintained any **project folder structure** here.

<br>

In [303]:

tech_domain = "Data Engineering"                                                 # line-1
choice_priority = 1                                                              # line-2
                                                                                 # line-3
logger.info(f"{tech_domain} is my {choice_priority}st priority")                 # line-4

2024-04-14 15:22:58.815 | INFO     | __main__:<module>:4 - Data Engineering is my 1st priority

It's coming from <span style="background-color: yellow">&nbsp;line number **4**&nbsp;</span> of <span style="color: blue">**\__main\__:\<module\>**</span>. It's **not showing the filename** because we have not maintained any **project folder structure** here.



<br>

<br>

### <span style="background-color: #CAFEFD;">Summary :</span>

<br>

<div style="border: 1px solid red; padding: 10px; margin-left:50px">
<span style="background-color:yellow;color:red"><strong>logging</strong></span> ⇒ <strong>logging.debug()</strong> 
<br>
<br>
<br>
<span style="background-color:#F5E3FA;color:blue"><strong>import logging</strong></span>
<br>
<br>
<span style="color:blue"><strong>logging.basicConfig(level=logging.DEBUG, format='%(asctime)s - %(levelname)s - %(lineno)d - %(message)s')</strong></span>
<br>
<br>
<span style="background-color:#F5E3FA;color:blue"><strong>logging.basicConfig(level=logging.DEBUG, format='%(asctime)s - %(levelname)s - %(filename)s - %(lineno)d - %(message)s')</strong></span>
<br>
<br>
<span style="color:blue"><strong>logging.basicConfig(level=logging.DEBUG, format='%(asctime)s - %(levelname)s - %(filename)s:%(lineno)d - %(message)s')</strong></span>
<br>
<br>
<span style="color:blue"><strong>logging.debug("This is a debug message")</strong></span>
<br>
<br>
<span style="background-color:#F5E3FA;color:blue"><strong>logging.info("This is an info message which is also used for debugging")</strong></span>
</div>


<br>


<div style="border: 1px solid red; padding: 10px; margin-left:50px">
<span style="background-color:yellow;color:red"><strong>loguru</strong></span> ⇒ <strong>logger.info()</strong> 
<br>
<br>
<br>
<span style="background-color:#F5E3FA;color:black"><strong>\$ pip install loguru</strong></span>
<br>
<br>
<span style="background-color:#F5E3FA;color:blue"><strong>from loguru import logger</strong></span>
<br>
<br>
<span style="background-color:#F5E3FA;color:blue"><strong>logger.info("This is a debug message") </strong></span>
<br>
<br>

</div>